.mat-dialog-title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  #5476f2;
    margin-left: -24px;
    margin-right: -24px;
    padding: 20px;
    color: #fff;
}
.custom-heading {
    color:#fff;
}