.mat-dialog-title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  #0D6EFD;
    margin-left: -24px;
    margin-right: -24px;
    padding: 20px;
    color: #ccc;
}
.custom-heading {
    color:#fefefe;
}