.mat-dialog-title {
    padding-top: 10px;
    padding-bottom:10px;
    background-color: #5476f2;
    margin-left: -24px;
    margin-right: -24px;
    padding-left:20px;
    color: #fff;
    margin-top:-24px;
    font-family:'Roboto',sans-serif;
}
