.mat-dialog-title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F0F0F0;
    margin-left: -22px;
    margin-right: -22px;
    padding-left: 20px;
    color: black;
}
.custom-heading {
    color:#fefefe;
}

.franchise-documets-modal-ok{
    background: lightgreen;
    color: red;
}