<div class="main-div">
  <div class="header-div" mat-dialog-title>
    <h6>Download cradentials</h6>
    <div class="butonn-div" mat-dialog-close>X</div>
  </div>
  <div class="card-container">
    <div id="pdfContent" style="padding: 10px;">
        <p>Welcome to MUTUAL RIG {{data.userType}}</p>
        <p>User ID: {{data.userID}}</p>
        <p>Password: {{data.password}}</p>
      </div>
  </div>
  <div mat-dialog-actions align="end">
    <button
      (click)="downloadPdf()"
      mat-raised-button
      type="submit"
      style="background-color: #5476f2; color: #fff"
      mat-dialog-close
    >
      Download
    </button>
  </div>
</div>
