<div style="
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    justify-content: center;
    align-items: center;
  ">
  <div class="payout-div">
    <div class="back-arrow"><mat-icon style="cursor: pointer;" (click)="gotoHome()">arrow_back</mat-icon>&nbsp;
      <p style="font-weight: 700; font-size: 18px;">Back</p></div>
    <div class="pdf-format" #contentToConvert>
      <div class="heading-logo">
        <p>RIG Partner Payout</p>
      </div>

      <div class="pdf-div">
        <div class="heading-logo">
          <div class="both-logo">
            <img src="../../../../assets/image/centumlogo.png" class="logo-div" />
            <img src="../../../../assets/image/textlogo.png" class="text-logo" />
          </div>
        </div>
      </div>
      <div class="year-div">
        <p>{{payoutDate | date}} Payout</p>
      </div>
      <div class="paragraph-div">
        <p>
          Dear
          <span>CENTUM WORLD MUTUAL RIG PARTNER</span>
          (Name)
          <span>{{fname}} {{lname}}</span>
          join the rig program on
          <span>{{ paymentDate | date }}</span>
        </p>
      </div>
      <br />
      <div class="payout-content">
        <p>Here are the details of your Account Payout:</p>
        <p>1. User Account ID: <span>{{ rigId }}</span></p>
        <p>2. Total Liquidity: <span>{{ liquidity | currency : "INR" }}</span></p>
        <p>3. Monthly payout: <span>{{payableAmount |currency : "INR" }}/-</span></p>
        <p>4. Payout Tenure: <span>12TN</span></p>
        <p>5. Paid Tenure: <span>{{ payableCount }}TN</span></p>
        <p>6. Remaining Tenure: <span>{{ 12 - payableCount }}TN</span></p>
        <p>7. Last Payout: <span>{{ payoutDate | date }}</span></p>
        <p>8. Next Payout : 20th to 25nd of April, 2023</p>
        <p>9. Account Status: <span [ngClass]="status ? 'active-text' : 'inactive-text'">{{ status ? "Active" : "Inactive" }}</span></p>
      </div>
      <div class="agree-month">
        <p>I agree and I recieved the amount for this month.</p>
      </div>
      <div class="signature">
        <p>Signature</p>
      </div>
      <br />
      <div class="footr">
        <div class="address">
          <p>Business Address:</p>
          <p>108,2nd Floor,27th Main</p>
          <p>HSR Layout, Sector-2</p>
          <p>Banglore,Karnataka, 560102</p>
        </div>
        <div class="address">
          <p>worldcentum@gmail.com</p>
          <p>www.centumworld.com</p>
        </div>
      </div>

    </div>
    <div style="
        display: flex;
        justify-content: flex-end;
        align-items: end;
        margin-top: 5px;
      ">
      <button mat-raised-button color="primary" (click)="downloadPaylout()">
        Download
      </button>
    </div>
  </div>
</div>