.account-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-left: 340px;
    padding: 10px;
}
.account-header h5{
    color: #000;
    font-weight: 600;
    font-family: Calibri;
}
.wallet-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background: #f8fc02;
    color: #b63003;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}
.account-content{
    margin-left: 330px;
}
.bakk-div{
    display: flex;
    height: auto;
    flex-wrap: wrap;
}
.example-card {
    margin: 10px;
    width: 350px;
}
.payment-card{
    margin-bottom: 5%;
    width: 50%;
}
  
.bank-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.bank-details h2{
    font-weight: 400;
    color: #9d9a9a;
    font-size: small;
}
.example-header-image{
    background-image: url("/assets/image/bank.jpg");
    background-size: cover;
}
.partner-history-card{
    width: 50%;
    margin-left: 330px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    position: relative; /* Position relative for pseudo-element positioning */
  }
  
  /* Style for the divider between columns */
  .column:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px; /* Adjust this value to control the width of the divider */
    height: 100%;
    width: 1px; /* Width of the divider */
    background-color: #ccc; /* Divider color */
  }


  .payout-div{
    display:block;
    justify-content:center;
    flex-description:column;
    flex-wrap:wrap;
    width: 50%;
    margin-left: 330px;
  }

  .pdf-format{
    padding: 40px;
    background-color: #fff;
  }

  .pdf-div{
    display:flex;
    align-items:center;
    justify-container:center;
    flex-direction:column;
    padding-top:0;
  }
  .heading-logo{
    font-size:24px;
  }
  .heading-logo p{
    margin:0;
    padding:0;
  }
  .both-logo{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-contain:center;
    align-items:center;
  }
  .logo-div{
    width:60px;
    height:60px;
  }
  .text-logo{
    width:350px;
    height:25px;
  }
  .paragraph-div{
    line-height:22px;
  }
  .paragraph-div p{
    font-size:24px;
  }
  .paragraph-div span{
    font-size: 24px; 
    font-weight: 700;
  }
  .year-div{
    font-size:24px;
    font-weight:700;
  }
  .payout-content{
    line-height:12px;
  }
  .payout-content p{
    font-size: 24px;
  }
  .payout-content span{
    font-size: 24px; 
    font-weight: 700;
  }
  .agree-month p{
    font-size: 24px;
  }
  .footr{
    display:flex;
    justify-content:space-between;
  }
  .signature{
    display: flex; 
    flex-direction: column-reverse; 
    align-items: flex-end;
  }
  .address{
    line-height:5px;
    font-size:20px;
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .payout-div{
        width:55%;
    }
    .partner-history-card{
        width: 55%;
        margin-top:60px;
    }

    .pdf-format{
        padding: 20px;
        background-color: #fff;
      }
    
      .pdf-div{
        display:flex;
        align-items:center;
        justify-container:center;
        flex-direction:column;
        padding-top:0;
      }
      .heading-logo{
        font-size:14px;
      }
      .heading-logo p{
        margin:0;
        padding:0;
      }
      .both-logo{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-contain:center;
        align-items:center;
      }
      .logo-div{
        width:60px;
        height:60px;
      }
      .text-logo{
        width:300px;
        height:20px;
      }
      .paragraph-div{
        line-height:16px;
      }
      .paragraph-div p{
        font-size:14px;
      }
      .paragraph-div span{
        font-size: 14px; 
        font-weight: 700;
      }
      .year-div{
        font-size:14px;
        font-weight:700;
      }
      .payout-content{
        line-height:10px;
      }
      .payout-content p{
        font-size: 14px;
      }
      .payout-content span{
        font-size: 14px; 
        font-weight: 700;
      }
      .agree-month p{
        font-size: 14px;
      }
      .address{
        line-height:4px;
        font-size:12px;
      }
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .payment-card{
        width: 90%;
    }
    .partner-history-card{
        width: 98%;
        margin-left: 0;
        margin-top:60px;
    }
    .payout-div{
        width:98%;
    }
    
    .account-header{
        margin-left: 0;
    }
    .account-content{
        margin-left: 0;
    }
    .payout-div{
        margin-left:0;
    }
   
  }
  @media (max-width: 576px) {
    .partner-history-card{
        margin-top: 60px;
    }
    .transaction {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .mat-form-field {
        width: 100%;
        margin-bottom: 10px; 
      }
      .example-card{
        width: 400px;
      }
      .logo-div{
        width:40px;
        height:40px;
      }
      .text-logo{
        width:250px;
        height:20px;
      }
      .pdf-format{
        padding: 20px;
        background-color: #fff;
      }
      .heading-logo{
        font-size:10px;
      }
      .paragraph-div{
        line-height:12px;
      }
      .paragraph-div p{
        font-size:10px;
      }
      .paragraph-div span{
        font-size: 10px; 
        font-weight: 700;
      }
      .year-div{
        font-size:14px;
        font-weight:700;
      }
      .payout-content{
        line-height:6px;
      }
      .payout-content p{
        font-size: 10px;
      }
      .payout-content span{
        font-size: 10px; 
        font-weight: 700;
      }
      .agree-month p{
        font-size: 10px;
      }
      .address{
        line-height:1px;
        font-size:8px;
      }
      .signature{
        font-size:12px
      }
  }