.sho-list-header{
    width: calc(100%-300px);
    height: 70px;
    background: #ee5411;
    border-radius: 8px;
    margin-left: 300px;
    padding: 20px;
}
.title p{
    font-size: 20px;
    color: #fff;
    font-family: Calibri;
}


/* Background color when clicked */
.mat-form-field.focused {
  background-color: lightblue;
 
}
/* .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    background: rgb(215, 250, 232);
    border-radius: 8px;

} */
.large-expand {
    overflow-x: auto;
    margin-top:5px;
    padding: 20px;
    margin-left: 300px;
}

/* table {
    width: 100%;
} */
.member-history-header{
    font-weight: bold;
    color: black;
}
/* Add this CSS to your component's CSS file */
.table-container {
    overflow-x: auto; /* Enable horizontal scrolling for the container */
  }
  
  .mat-table {
    width: 100%; /* Ensure the table takes up the full width of its container */
    border-collapse: collapse; /* Remove default cell spacing */
  }
  
  .mat-cell,
  .mat-header-cell {
    padding: 8px; /* Adjust the padding as needed */
    text-align: left; /* Left-align cell content */
    border-bottom: 1px solid #ddd; /* Add a bottom border for separation */
  }
  
  /* Style the header row */
  .mat-header-row {
    background-color: #f0f0f0; /* Add a background color to the header row */
  }
  
  /* Add a border to the last cell in each row */
  .mat-cell:last-child,
  .mat-header-cell:last-child {
    border-right: 1px solid #ddd;
  }

  @media screen and (max-width: 768px ){
    .sho-list-header, .large-expand{
     margin-left: 70px ;
    } 
    .mat-form-field-infix {
      width: 100px;
  }
  
    
 }

 @media only screen and (min-width: 375px) and (max-width:767px) {
  
  .title p{
    font-size: 16px;
    font-weight: 700;
    
}
 .mat-form-field-infix {
      width: 128px;
  }

}