.sho-list-header {
  display: flex;
  justify-content: space-between;
  align-items: "center";
  width: calc(100%-300px);
  height: 70px;
  border-radius: 8px;
  margin-left: 330px;
  padding: 20px;
}
.title h5 {
  font-weight: 600;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.mat-form-field.focused {
  background-color: lightblue;
}

.large-expand {
  overflow-x: auto;
  margin-top: 5px;
  padding: 20px;
  margin-left: 330px;
}

.member-history-header {
  font-weight: bold;
  color: black;
}

.search {
  display: flex;
  gap: 5px;
}

.table-container {
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.mat-header-row {
  background-color: #f0f0f0;
}

.mat-cell:last-child,
.mat-header-cell:last-child {
  border-right: 1px solid #ddd;
}

.active-status {
  color: #03f507;
}
.inactive-status {
  color: red;
}

.block {
  color: red;
}
.unblock {
  color: green;
}
.mat-elevation-z8 table {
  font-family: "Roboto", sans-serif;
}

.mat-elevation-z8 th,
.mat-elevation-z8 td {
  font-family: "Roboto", sans-serif;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 165px;
}


@media (max-width: 768px) {
  .sho-list-header,
  .large-expand {
    margin-left: 0px;
    margin-top: 15px;
  }
  .sho-list-header {
    flex-direction: column;
  }
  .mat-form-field {
    flex: 100%;
    margin-bottom: 10px;
    width: 165px;
}
}

