
.add-franchise-container{
    width: 100%;
    height: 100%;
}
.container{
}

.franchise-body{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.large-card {
    width: 90%; /* Adjust the width as needed */
    margin: auto;
    padding: 10px;

  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .mat-form-field {
    width: 100%; /* Adjust the width of each field */
  }
  .file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .file-upload input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .mat-card-actions {
    margin-left: 3px;
    margin-right: -8px;
    padding: 8px 0;
}
.mat-card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mat-form-field{
  width: 45%;
}
@media (max-width: 768px) {
  .large-card{
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
  .large-card {
    width: 183%;
    margin: auto;
    padding: 10px;
    margin-left: 0px;

  }
  .add-franchise-container{
    margin-top:8rem
  }
  .mat-card-contant div{
    flex-direction: column;
  }
}
