<div class="add-franchise-container">
  <div class="container">
    <mat-card class="large-card">
      <p
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: large;
          gap: 20px;
          font-family: 'Roboto',sans-serif;
        "
      >
        <mat-icon (click)="gotoDashboard()" style="cursor: pointer"
          >arrow_back</mat-icon
        >Create Franchise Here
      </p>
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <mat-card-content>
          <div style="display: flex; justify-content: space-between">
            <mat-form-field>
              <input
                matInput
                placeholder="Referral ID"
                formControlName="referalId"
              />
              <mat-hint>Put your referral ID</mat-hint>
              <mat-error *ngIf="form.get('referalId').hasError('required')"
                >Referral id is required</mat-error
              >
            </mat-form-field>
          </div>
          <div style="display: flex; justify-content: space-between">
            <mat-form-field>
              <input
                matInput
                placeholder="First name"
                formControlName="firstName"
              />
              <mat-hint>This is your first name</mat-hint>
              <mat-error *ngIf="form.get('firstName').hasError('required')"
                >First name is required</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Last name"
                formControlName="lastName"
              />
              <mat-hint>This is your last name</mat-hint>
              <mat-error *ngIf="form.get('lastName').hasError('required')"
                >Last name is required</mat-error
              >
            </mat-form-field>
          </div>
          <div style="display: flex; justify-content: space-between">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" />
              <mat-hint>Enter email id</mat-hint>
              <mat-error *ngIf="form.get('email').hasError('required')"
                >First name is required</mat-error
              >
              <mat-error *ngIf="form.get('email').hasError('email')"
                >Invalid email</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Mobile Number"
                formControlName="mobileNumber"
                type="tel"
              />
              <mat-hint>This is your mobile number</mat-hint>
              <mat-error *ngIf="form.get('mobileNumber').hasError('pattern')"
                >Enter a valid Indian mobile number</mat-error
              >
              <mat-error *ngIf="form.get('mobileNumber').hasError('required')"
                >Mobile number is required</mat-error
              >
            </mat-form-field>
          </div>
          <div style="display: flex; justify-content: space-between">
            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select
                formControlName="state"
                placeholder="Select a state"
                (selectionChange)="onStateChange()"
              >
                <mat-option *ngFor="let state of states" [value]="state">{{
                  state
                }}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('state').hasError('required')"
                >State is required</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>City</mat-label>
              <mat-select
                formControlName="city"
                placeholder="Select city"
                multiple
              >
                <mat-option *ngFor="let district of cities" [value]="district">
                  {{ district }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('city').hasError('required')"
                >City is required</mat-error
              >
            </mat-form-field>
          </div>
          <div style="display: flex; justify-content: space-between">
            <mat-form-field>
              <input
                matInput
                placeholder="Aadhaar front image (JPG or PNG)"
                disabled
              />
              <input
                type="file"
                id="frontAadharImage"
                name="frontAadharImage"
                (change)="onFileSelected($event, 'frontAadharImage')"
                accept=".jpg,.png"
              />
            </mat-form-field>
            <mat-error *ngIf="fileTypeInvalid">
              Please upload a JPG or PNG file.
            </mat-error>

            <mat-form-field>
              <input
                matInput
                placeholder="Aadhaar back image (JPG or PNG)"
                disabled
              />
              <input
                type="file"
                id="backAadharImage"
                name="backAadharImage"
                (change)="onFileSelected($event, 'backAadharImage')"
                accept=".jpg,.png"
              />
            </mat-form-field>
            <mat-error *ngIf="fileTypeInvalid">
              Please upload a JPG or PNG file.
            </mat-error>
          </div>
          <div style="display: flex; justify-content: space-between">
            <mat-form-field>
              <input matInput placeholder="Pan image (JPG or PNG)" disabled />
              <input
                type="file"
                id="panImage"
                name="panImage"
                (change)="onFileSelected($event, 'panImage')"
                accept=".jpg,.png"
              />
            </mat-form-field>
            <mat-error *ngIf="fileTypeInvalid">
              Please upload a JPG or PNG file.
            </mat-error>

            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select
                placeholder="Select gender"
                [formControl]="genderFormControl"
              >
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('gender').hasError('required')"
                >Please select gender.</mat-error
              >
            </mat-form-field>
          </div>
          <div style="display: flex; justify-content: space-between">
            <mat-form-field>
              <input
                matInput
                placeholder="Franchise Id"
                formControlName="franchiseId"
              />
              <mat-hint>This is your first name</mat-hint>
              <mat-error *ngIf="form.get('franchiseId').hasError('required')"
                >Franchise Id is required</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                formControlName="password"
              />
              <mat-hint>This is your password</mat-hint>
              <mat-error *ngIf="passwordControl.hasError('required')"
                >Password is <strong>required</strong></mat-error
              >
              <mat-error *ngIf="passwordControl.hasError('minlength')">
                Password must be at least 8 characters long
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="gotoList()"
          >
            Franchise List
          </button>
          <button mat-raised-button color="primary" type="submit">
            Register Now
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
