<main>
  <div class="cards" *ngIf="!view_detail">
    <div class="card-single">
      <div>
        <div>
          <div class="dop1" *ngIf="userStatus">
            <span style="font-weight: 600">Status</span>&nbsp;&nbsp;
            <p style="color: yellowgreen;">Active</p>
          </div>
          <div class="dop1" *ngIf="month_count === 12">
            <span style="font-weight: 600">Status</span>:
            <p style="color: red">Closed</p>
          </div>
          <div class="dop1" *ngIf="!userStatus && month_count === 0">
            <span style="font-weight: 600">Status&nbsp;:</span>
            <p style="color: red">&nbsp;Not Active</p>
          </div>
        </div>
        <div class="business-module">
          <p>Business module docs</p>
        </div>
      </div>
      <div>
        <div class="card-view">
          <span (click)="gotoAccount()">view</span>
        </div>
        <div class="business-download" (click)="downloadBusinessModule()">
          <mat-icon>file_download</mat-icon>
        </div>
      </div>
    </div>
    <div class="card-single">
      <div class="partner-refferal-id">
        <h6>User ID :- {{ partnerId }}</h6>
        <span>Referral ID :- &nbsp;{{ refferID }}</span>
        <button class="copy-icon" (click)="copyToClipboard()">
          <mat-icon>content_copy</mat-icon>
        </button>
        <span class="copy-icon">
          <mat-icon matSuffix (click)="shareFunction()">share</mat-icon>
        </span>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h6>Liquidity</h6>
      </div>
      <div *ngIf="!userStatus" class="pay-now btn btn-primary" (click)="pay()">
        Pay Now
      </div>
      <div *ngIf="userStatus" style="font-weight: bold">
        {{ partnerLiquidity | currency : "INR" }}
      </div>
    </div>
    <div class="card-single">
      <div>Add Liquidity</div>
      <div (click)="openRigID()">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <div class="card-single">
      <div>All RIG Accounts : {{multipleRigCount}}</div>
      <div class="card-view">
        <a href="javascript:void(0)" style="text-decoration: none;" (click)="allRigAccount()">
          <span>view</span>
        </a>
      </div>
    </div>
    <div class="card-single">
      <div>
        <h6>My Team</h6>
      </div>
      <div class="card-view">
        <a href="javascript:void(0)" (click)="myteam()">
          <span>view</span>
        </a>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h6>PartnershipBond</h6>
      
      </div>
      <div class="card-view">
        <div class="business-download" (click)="downloadPartnershipBond()"><mat-icon>file_download</mat-icon></div>

      </div>
    </div>

    <!-- <div class="card-single">
      <div>
        <h6>Transaction1</h6>
        <span>Total Withdrawal</span>
      </div>
      <span style="font-weight: bold; color: yellow; margin-bottom: 1rem;">{{(totalAmount-(totalAmount*5)/100) | currency:'INR'}}</span>
    </div> -->
    
  </div>


  
  <div *ngIf="view_detail" style="height: 100vh;">
    <app-mining-profile-details></app-mining-profile-details>
  </div>
</main>

<div class="chart"><app-trading-chart></app-trading-chart></div>