.bd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 300px);
    height: 60px;
    background: #b63003;
    margin-top: 2px;
    border-radius: 8px;
    margin-left: 300px;
    padding: 20px;
}

.bd-header p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    font-family: Calibri;
}

.wallet-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    padding: 10px;
    background: #fbf703;
    border-radius: 10px;
}

.history-div {
    margin-left: 300px;
}


.bakk-div {
    display: flex;
    flex-wrap: wrap;
}

.bakk-div .example-card {
    flex: 1;
    max-width: 300px;
    margin: 10px;
}

.payment-card {
    margin-top: 5%;
    width: 40%;
}

.bank-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.bank-details h2 {
    font-weight: 400;
    color: #9d9a9a;
    font-size: small;
}

.example-header-image {
    background-image: url("/assets/image/bank.jpg");
    background-size: cover;
}

@media (max-width: 767px) {
    .bakk-div .example-card {
        width: 100%;
        max-width: none;
        margin: 10px 0;
    }
}