<div class="bd-header">
    <p>Business developer details</p>
    <div class="wallet-div">
        <span style="color: rgb(135, 129, 2);">90000</span>
    </div>
</div>

<div class="history-div">
    <mat-tab-group animationDuration="2000ms" class="example-stretched-tabs" (selectedIndexChange)="tabChanged($event)">
        <mat-tab label="Request withdrawal">
            <div class="bakk-div">
                  <mat-card class="example-card">
                     <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Bank details</mat-card-title>
                     </mat-card-header>
                     <mat-divider></mat-divider>
                     <mat-card-content class="single-line-content">
                        <div class="bank-details">
                           <h2>Id</h2><strong>{{bdID}}</strong>
                        </div>
                        <div class="bank-details">
                            <h2>Bank</h2><strong></strong>
                         </div>
                        <div class="bank-details">
                           <h2>Amount</h2><strong></strong>
                        </div>
                        <div class="bank-details">
                           <h2>Request date</h2><strong></strong>
                        </div>
                     </mat-card-content>
                     <mat-divider></mat-divider>
                     <mat-card-actions>
                        <button mat-button style="background: rgb(23, 250, 23);">Request</button>
                        <button mat-button style="background: red;" (click)="bdApproved()">Approve</button>
                     </mat-card-actions>
                  </mat-card>
 
            </div>
         </mat-tab>
        <mat-tab label="Approved withdrawal">
            hii
        </mat-tab>
        <mat-tab label="Bank details">
            bank
        </mat-tab>
    </mat-tab-group>
</div>