<div class="bd-header">
   <p>Business developer details</p>
   <div class="wallet-div">
      <span style="color: rgb(135, 129, 2);">{{bdWallet | currency:'INR'}}</span>
   </div>
</div>

<div class="history-div">
   <mat-tab-group animationDuration="2000ms" class="example-stretched-tabs" (selectedIndexChange)="tabChanged($event)">
      <mat-tab label="Request withdrawal">
         <div class="bakk-div" *ngFor="let data of bdRequestHistory">
            <mat-card class="example-card">
               <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Request details</mat-card-title>
               </mat-card-header>
               <mat-divider></mat-divider>
               <mat-card-content class="single-line-content">
                  <div class="bank-details">
                     <h2>Id</h2><strong>{{bdID}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Bank</h2><strong>{{data.paymentBy}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Amount</h2><strong>{{data.amount | currency:'INR'}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Request date</h2><strong>{{data.requestDate | date}}</strong>
                  </div>
               </mat-card-content>
               <mat-divider></mat-divider>
               <mat-card-actions>
                  <button mat-button style="background: rgb(23, 250, 23);">Request</button>
                  <button mat-button style="background: red;" (click)="bdApproved(data.id)">Approve</button>
               </mat-card-actions>
            </mat-card>
         </div>
      </mat-tab>
      <mat-tab label="Approved withdrawal">
         <div class="bakk-div" *ngFor="let data of bdApprovedHistory">
            <mat-card class="example-card">
               <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Approved details</mat-card-title>
               </mat-card-header>
               <mat-divider></mat-divider>
               <mat-card-content class="single-line-content">
                  <div class="bank-details">
                     <h2>Id</h2><strong>{{bdID}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Bank</h2><strong>{{data.bankName}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Amount</h2><strong>{{data.amount | currency:'INR'}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Request date</h2><strong>{{data.requestDate | date}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Approved date</h2><strong>{{data.approveDate | date}}</strong>
                  </div>
               </mat-card-content>
               <mat-divider></mat-divider>
               <mat-card-actions>
                  <button mat-button style="background: rgb(23, 250, 23);">Approved successful</button>
                  
               </mat-card-actions>
            </mat-card>
         </div>
      </mat-tab>
      <mat-tab label="Bank details">
         <div class="bakk-div" *ngFor="let data of bdBankDetails">
            <mat-card class="example-card">
               <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Bank details</mat-card-title>
               </mat-card-header>
               <mat-divider></mat-divider>
               <mat-card-content class="single-line-content">
                  <div class="bank-details">
                     <h2>Holder name</h2><strong>{{data.holder_name}} </strong>
                  </div>
                  <div class="bank-details">
                     <h2>Bank name</h2><strong>{{data.bank_name}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Branch name</h2><strong>{{data.branch_name}}</strong>
                  </div>
                  <div class="bank-details">
                     <h2>Account name</h2><strong>{{data.account_no}} </strong>
                  </div>
                  <div class="bank-details">
                     <h2>IDSC Code</h2><strong>{{data.ifsc_code}} </strong>
                  </div>
               </mat-card-content>
               <mat-divider></mat-divider>
               <mat-card-actions>
                  <button mat-button>Active</button>
                  <button mat-button>UPI</button>
               </mat-card-actions>
            </mat-card>
         </div>
      </mat-tab>
   </mat-tab-group>
</div>