footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all ease-in-out 200ms;
}

section {
  width: 100%;
  height: 40vh;
  background: #170045;
  display: flex;
}

.firstSection {
  width: 70%;
  padding: 30px;
  display: flex;
  justify-content: center;
}
h3 {
  color: #acafb5;
}
a,
h5 {
  color: white;
  font-family: "Poppins", sans-serif;
}
.firstHalf {
  width: 50%;
}

.product {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.firstOtherHalf {
  width: 50%;
}

.secondSection {
  width: 30%;
  padding: 30px;
}

.my-button {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  height: 40px;
  width: 120px;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mobileButton{
    display:flex;
    gap:20px;
}
