<footer>
  <section>
    <div class="firstSection">
      <div class="firstHalf">
        <div class="product">
          <h3>Product</h3>
          <a href="">Centumo Swaap</a>
          <a href="">Centumo Token</a>
          <a href="">JettradeFx</a>
        </div>
        <div class="product">
          <h3>Contact</h3>
          <a href="">worldcentum@gmail.com</a>
          <a href="">+917488285505</a>
        </div>
      </div>
      <div class="firstOtherHalf">
        <div class="product">
          <h3>Follow Us</h3>
          <a href="">LinkedIn</a>
          <a href="">Facebook</a>
          <a href="">Intagram</a>
        </div>
        <div class="product">
          <h3>Legal</h3>
          <a href="">Privacy Policy</a>
          <a href="">Terms & Condition</a>
        </div>
      </div>
    </div>
    <div class="secondSection">
      <div class="product">
        <h3>Available On</h3>
        <div class="mobileButton">
          <button class="my-button">Android</button>
          <button class="my-button">Ios</button>
        </div>
      </div>
      <div class="product">
        <h3>Company</h3>
        <a href="">About</a>
      </div>
      <div class="product">
        <h5>Centumo Mining Rig</h5>
        <a href="">@2023, All Rights Reserved.</a>
      </div>
    </div>
  </section>
</footer>
