<div class="tech-team-wrapper">
    <div class="teach-team-container">
        <h1 class="team-heading">Management Eco-System</h1>
        <div class="image-container">
            <div class="member-name-box #1">
                <img src="../../../assets/marketingTeam/ajay.png" alt="" width="200" height="200">
                <p>A. Pareya</p>
            </div>
            <div class="member-name-box #2">
                <img src="../../../assets/marketingTeam/gangaram.png" alt="" width="200">
                <p>G. Deogram</p>
            </div>
            <div class="member-name-box #3">
                <img src="../../../assets/marketingTeam/hemant.png" alt="" width="200">
                <p>H. K Balmuchu</p>
            </div>
            <div class="member-name-box #4">
                <img src="../../../assets/marketingTeam/pacharia.png" alt="" width="200">
                <p>N. Pachari</p>
            </div>
            <div class="member-name-box #5">
                <img src="../../../assets/marketingTeam/raju.jpeg" alt="" width="200" height="200" style="object-fit: contain;">
                <p>R. Balmuchu</p>
            </div>
            <div class="member-name-box #5">
                <img src="../../../assets/marketingTeam/sanjay.png" alt="" width="200">
                <p>S. Thakur</p>
            </div>
            <div class="member-name-box #5">
                <img src="../../../assets/marketingTeam/sanjay2..png" alt="" width="200">
                <p>S. K Banra</p>
            </div>
            <div class="member-name-box #5">
                <img src="../../../assets/marketingTeam/surendra.png" alt="" width="200">
                <p>S. Rajak</p>
            </div>
            <div class="member-name-box #5">
                <img src="../../../assets/marketingTeam/yogendra.png" alt="" width="200">
                <p>Y. Giri</p>
            </div>
            <div class="member-name-box #5">
                <img src="../../../assets/marketingTeam/sushil.png" alt="" width="200">
                <p>S. Purty</p>
            </div>
        </div>

    </div>
</div>