<div class="franchise-singup-wrapper">
  <div class="franchise-signup-container">
    <h1 style="text-align: center; font-weight: 800;">Welcome!! Franchise Start Your Journey Here.....</h1>
    <div class="franchise-signup-form">
      <div class="f-singup-wrapper">
        <div class="f-company-name">
          <img src="../../../assets/image/clogo.png" alt="" height="60" width="60">
          <span>CENTUM WORLD</span>
        </div>

        <div class="f-form">
          <form [formGroup]="stateSignUpForm" (ngSubmit)="addPartnerData(stateSignUpForm)">
            <mat-form-field appearance="outline" class="name-input">
              <mat-label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                </svg>Refferal id</mat-label>
              <input matInput [formControl]="referralFormControl" required />
            </mat-form-field>
            <div class="name-box">
              <mat-form-field appearance="outline" class="fname-input">
                <mat-label>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                  </svg>First name</mat-label>
                <input matInput [formControl]="nameFormControl" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="lname-input">
                <mat-label>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                  </svg>Last name</mat-label>
                <input matInput [formControl]="lastNameFormControl" required />
              </mat-form-field>
            </div>

            <div class="email-phone-box name-box">
              <mat-form-field appearance="outline" class="email-input">
                <mat-label>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                  </svg>Email</mat-label>
                <input matInput [formControl]="nameFormControl" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="phone-input">
                <mat-label>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                  </svg>Phone</mat-label>
                <input matInput [formControl]="lastNameFormControl" required />
              </mat-form-field>
            </div>

            <div class="gender-state-box name-box">
              <mat-form-field appearance="outline" class="gender-input">
                <mat-label>Gender</mat-label>
                <mat-select
                  placeholder="Select gender"
                  [formControl]="genderFormControl"
                >
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="state-input">
                <mat-label>Select State</mat-label>
                <mat-select
                  formControlName="state"
                  (selectionChange)="onStateChange()"
                >
                  <mat-option *ngFor="let state of states" [value]="state">{{
                    state
                  }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="district-input">
                <mat-label>Select District</mat-label>
                <mat-select
                  formControlName="district"
                  placeholder="Select city"
                  multiple
                >
                  <mat-option *ngFor="let district of cities" [value]="district">{{
                    district
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="aadhar-pan-box name-box">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Aadhar Front (JPG or PNG)" disabled />
                <input
                  type="file"
                  id="adharFrontControl"
                  name="adharFrontControl"
                  (change)="onFileSelected($event, 'adharFrontControl')"
                  accept=".jpg,.png"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input matInput placeholder="Aadhar Back (JPG or PNG)" disabled />
                <input
                  type="file"
                  id="adharBackControl"
                  name="adharBackControl"
                  (change)="onFileSelected($event, 'adharBackControl')"
                  accept=".jpg,.png"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input matInput placeholder="PAN Card (JPG or PNG)" disabled />
                <input
                  type="file"
                  id="panControl"
                  name="panControl"
                  (change)="onFileSelected($event, 'panControl')"
                  accept=".jpg,.png"
                />
              </mat-form-field>
            </div>
            
            <div class="user-id-password-box name-box">
              <mat-form-field appearance="outline" class="user-input">
                <mat-label>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                  </svg>Franchise id</mat-label>
                <input matInput [formControl]="stateIdFormControl" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="password-input">
                <mat-label>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path
                      d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                  </svg>Password</mat-label>
                <input matInput [type]="passwordFieldType" [formControl]="passwordFormControl" required />
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                  <mat-icon>{{ showPasswordIcon }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            
            <div class="form-footer">
              <span style="width: 100%;">Have an account? <a href="/statelogin">Login</a></span>
              <button type="sumit" class="regsiter-btn">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




































<!-- <div class="logo">
  <img src="assets/image/clogo.png" alt="" class="center" />
</div>
<div class="container">
  <h1>CENTUM WORLD MINING PARTNER ECOSYSTEM</h1>
  <p>Franchise Sign Up</p>
  <form
    class="example-form"
    [formGroup]="stateSignUpForm"
    (ngSubmit)="addPartnerData(stateSignUpForm)"
  >
    <div class="row">
      <div class="column">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Referral Id"
            [formControl]="referralFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-hint>This is your referral Id</mat-hint>
          <mat-error *ngIf="referralFormControl.hasError('required')"
            >Referral Id is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="First name"
            [formControl]="nameFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-hint>This is your first name</mat-hint>
          <mat-error *ngIf="nameFormControl.hasError('required')"
            >First name is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Last name"
            [formControl]="lastNameFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-hint>This is your last name</mat-hint>
          <mat-error *ngIf="lastNameFormControl.hasError('required')"
            >Last name is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Email"
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Mobile number"
            [formControl]="mobileFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-hint>This is your mobile number</mat-hint>
          <mat-error *ngIf="mobileFormControl.hasError('required')"
            >Mobile number is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="mobileFormControl.hasError('invalidMobileNumber')"
            >Mobile number must be 10 digits</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field class="example-full-width">
          <mat-label>Gender</mat-label>
          <mat-select
            placeholder="Select gender"
            [formControl]="genderFormControl"
          >
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Select State</mat-label>
      <mat-select
        formControlName="state"
        (selectionChange)="onStateChange()"
      >
        <mat-option *ngFor="let state of states" [value]="state">{{
          state
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select District</mat-label>
      <mat-select
        formControlName="district"
        placeholder="Select city"
        multiple
      >
        <mat-option *ngFor="let district of cities" [value]="district">{{
          district
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row">
      <div class="column">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Aadhar Front (JPG or PNG)" disabled />
          <input
            type="file"
            id="adharFrontControl"
            name="adharFrontControl"
            (change)="onFileSelected($event, 'adharFrontControl')"
            accept=".jpg,.png"
          />
        </mat-form-field>
        <mat-error *ngIf="fileTypeInvalid">
          Please upload a JPG or PNG file.
        </mat-error>
      </div>
      <div class="column">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Aadhar Back (JPG or PNG)" disabled />
          <input
            type="file"
            id="adharBackControl"
            name="adharBackControl"
            (change)="onFileSelected($event, 'adharBackControl')"
            accept=".jpg,.png"
          />
        </mat-form-field>
        <mat-error *ngIf="fileTypeInvalid">
          Please upload a JPG or PNG file.
        </mat-error>
      </div>
      <div class="column">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="PAN Card (JPG or PNG)" disabled />
          <input
            type="file"
            id="panControl"
            name="panControl"
            (change)="onFileSelected($event, 'panControl')"
            accept=".jpg,.png"
          />
        </mat-form-field>
        <mat-error *ngIf="fileTypeInvalidPanCard">
          Please upload a JPG or PNG file.
        </mat-error>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="State ID"
            [formControl]="stateIdFormControl"
          />
          <mat-hint>This is your state ID</mat-hint>
          <mat-error *ngIf="stateIdFormControl.hasError('required')"
            >State ID is <strong>required</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            [formControl]="passwordFormControl"
            type="password"
          />
          <mat-hint>This is your password</mat-hint>
          <mat-error *ngIf="passwordFormControl.hasError('required')"
            >Password is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            Password must be at least 8 characters long
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="footer">
        <div class="account">
          <span>Have an account?</span><a href="/statelogin">Login</a>
        </div>
        <div>
          <button type="submit" class="save">Register</button>
        </div>
      </div>
    </div>
  </form>
</div> -->