<div class="referral-payout">
  <div class="arow-title">
    <span
      ><mat-icon style="cursor: pointer" (click)="gotoDashboard()"
        >arrow_back</mat-icon
      ></span
    >
    <p>Referral payout</p>
  </div>
</div>
<div class="account-section">
  <div class="bakk-div" *ngFor="let data of requestHistroy">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Referral</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="single-line-content">
        <div class="bank-details">
          <h2>Id</h2>
          <strong>{{ data.userid }}</strong>
        </div>
        <div class="bank-details">
          <h2>Amount</h2>
          <strong>{{ data.amount |currency:"INR" }}</strong>
        </div>
        <div class="bank-details">
          <h2>Referral user</h2>
          <strong>{{ data.partnerid }}</strong>
        </div>
        <div class="bank-details">
          <h2>Referral user</h2>
          <strong>{{ data.credit_date | date}}</strong>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button style="background: rgb(0, 255, 38)">
          Share and earn money
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
