nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05233487; /* Use an rgba color with some transparency */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  position: fixed;
  width: 100vw;
  padding: 10px; /* Add padding for better visibility of the effect */
}

main{
  height: 100vh;
}

.company-title{
  color: white;
  font-size: 5rem;
  font-weight: 900;
}

.bg-img{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.title {
  font-weight: bold;
  color: white;
}

.intro,
.intro:hover {
  text-decoration: none;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container p {
  margin-top: 15px;
}

.login-btn {
  border: none;
  border-radius: 10px;
  background-color: black;
  padding: 10px 20px;
  color: white;
}

.bg-img1 {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

.bg-img{
  display: flex;
  flex-direction: column;
}

.subtitle{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}






