<div class="wrapper-container">
  <div class="navbar-container">
    <div class="logo-container">
      <img src="../../../assets/image/clogo.png" alt="" class="c-logo" />
      <p>centum <span class="world">world</span></p>
    </div>
    <div class="navlinks">
      <a href="/">Home</a>
      <a href="#intro">About</a>
      <p href="" class="seriv" (click)="onMouseOver()">Services
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </p>
      <a href="#contact">Contact</a>
      <a href="/whitepaper">White Paper</a>
    </div>
    <div class="btn-container">
      <!-- admin login button -->
      <!-- <button class="login-btn" (click)="adminLogin()">
        Login
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-box-arrow-in-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
          />
          <path
            fill-rule="evenodd"
            d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
          />
        </svg>
      </button>  -->

      <!-- bussiness login button -->
      <button class="login-btn" [matMenuTriggerFor]="menu">
        Login
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
            d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
          <path fill-rule="evenodd"
            d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
        </svg>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="memberPage()">Referral Member</button>
        <button mat-menu-item (click)="partnerPage()">Partner</button>
        <button mat-menu-item (click)="stateLogin()">Business Marketing Manager(BMM)</button>
        <button mat-menu-item (click)="FranchisePage()">Franchise/Consultant</button>
        <!-- <button mat-menu-item (click)="BusinessPage()">Business Dev</button> -->
      </mat-menu>
    </div>
    <div class="burger-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16" (click)="toggleMobileSidebar()">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </div>
    <div class="mobile-sidebar" [ngClass]="{ visible: isMobileSidebarVisible }">
      <div class="mobile-navlinks">
        <a href="" (click)="toggleMobileSidebar()">Home</a>
        <a href="#intro" (click)="toggleMobileSidebar()">About</a>
        <a href="" (click)="onMouseOver()">Services</a>
        <a href="#contact" (click)="toggleMobileSidebar()">Contact</a>
        <a href="/whitepaper" (click)="toggleMobileSidebar()">White Paper</a>
        <!-- admin login button -->
        <!-- <button class="login-btn" (click)="adminLogin()">
          Login
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-box-arrow-in-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
            />
            <path
              fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
            />
          </svg>
        </button>  -->
        <!-- bussinesss login button -->
        <button class="login-btn" [matMenuTriggerFor]="menu">
          Login
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
            <path fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
        </button>
      </div>
      <div class="close-box" (click)="toggleMobileSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
          viewBox="0 0 16 16">
          <path
            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
        </svg>
      </div>
    </div>
  </div>

  <main>
    <div class="sky">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
    <div class="hero-section" id="/">
      <div class="intro-container">
        <p class="company-name">Centum <span class="world"> World</span></p>
        <p class="mining">{{ typedText }}</p>
        <button class="login-btn2" (click)="adminLogin()">
          Login
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-box-arrow-in-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
            />
            <path
              fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
            />
          </svg>
        </button>
      </div>
      <div class="img-container">
        <img src="../../../assets/image/hero.svg" alt="" class="hero-image" />
        <img src="../../../assets/image/blockchain-removebg-preview.png" alt="" class="asset-img" height="120"
          width="120" />
        <img src="../../../assets/image/on_chain-removebg-preview.png" alt="" class="asset-img2" height="120"
          width="120" />
      </div>
    </div>
  </main>

  <div class="main-container" id="intro">
    <div class="about-container">
      <h1 class="about-title">About</h1>
      <ul>
        <li>
          <h4 class="about-subtitle">
            Unlock the Power of Crypto Mining with CENTUMO RIG
          </h4>
          <p>
            Partner with us for a lucrative 12-month IaaS program and join our
            advanced AI-based GPU Mining RIG Distribution Management Ecosystem!
          </p>
        </li>
        <li>
          <h4 class="about-subtitle">
            A Partnership Built on Trust and Reliability
          </h4>
          <p>
            At CENTUMO RIG, we value professional relationships and prioritize
            trust and reliability. Join our Mutual RIG PARTNERSHIP PROGRAM to
            experience a partnership that is built to last.
          </p>
        </li>

        <li>
          <h4 class="about-subtitle">
            Maximize Your Earnings with Our Profit-Sharing Model
          </h4>
          <p>
            With CENTUMO RIG, you can tap into the potential of crypto mining
            and earn your share of the profits. We distribute 60% of our
            earnings from our work profit via our GPU Mining Rig Module,
            ensuring that you benefit from your partnership.
          </p>
        </li>

        <li>
          <h4 class="about-subtitle">
            Privacy and Security at the Highest Level
          </h4>
          <p>
            Your privacy and security are our top priorities. Rest assured that
            we have implemented robust measures to safeguard your data and
            investments, providing you with peace of mind as you participate in
            our program.
          </p>
        </li>

        <li>
          <h4 class="about-subtitle">A Simple Partnership Process</h4>
          <p>
            Becoming a partner is easy. Simply add liquidity ranging from 1L to
            12L or more according to your preferences, sign a mutual contract
            for 12 months, and enjoy regular payout shares scheduled for each
            month throughout the contract period.
          </p>
        </li>

        <li>
          <h4 class="about-subtitle">Connect with Us Today</h4>
          <p>
            If you're ready to take advantage of this opportunity, let's
            connect! Join CENTUMO RIG now and unlock the potential of crypto
            mining through our advanced AI-based GPU Mining RIG Distribution
            Management Ecosystem.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div>

  </div>
  <div id="contact">
    <app-contact></app-contact>
  </div>
  <div id="contact">
    <app-footer></app-footer>
  </div>

  <!-- services container -->
  <div class="service-container" [class.visible]="isClicked">
    <!-- For each service -->
    <div class="services">
      <h6 class="service-title" (click)="openServiceInNewTab('JetTrade FX')">JetTrade FX</h6>
      <hr />
      <h6 class="service-title" (click)="openServiceInNewTab('Centum World')">Centum World</h6>
      <hr />
      <h6 class="service-title" (click)="openServiceInNewTab('Centumo Swap')">Centumo Swap</h6>
    </div>

  </div>
</div>