<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center" >
        <img src="assets/image/clogo.png" alt="">
        <span class="centum d-none d-sm-block">CENTUM WORLD</span>
      </a>
      <!-- <div class="refferal_id"><span style="color: white;">Official Refferal Id:- admin123</span></div> -->
      <div class="refferal_id "><span> MINING RIG</span></div>
    </div><!-- End Logo -->

    

    <nav class="header-nav ms-auto">
      <ul class="nav-button d-flex align-items-center">

        <!-- <li><button class="btn btn-info button_basic" (click)="adminLogin()"> Login</button></li> --> 
         <li>
            <a class="btn btn-info button_basic" href="/login">Admin Login</a>
        </li>
        <li>
            <a class="btn btn-info button_basic" href="/memberlogin">Member Login</a>
        </li>
        <li>
          <a class="btn btn-info button_basic" href="/mininglogin">Mining Portal</a>
      </li>
        <!-- <li><button mat-button class="loin_button" [matMenuTriggerFor]="menu">Login</button></li>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="memberPage()">Refferal Member</button>
          <button mat-menu-item (click)="partnerPage()">Partner</button>
        </mat-menu> -->
      </ul>  
    </nav>
</header> 
  
<div class="middle-animation">
  <span>CENTUM WORLD <br> Mining Partner Ecosystem</span>
</div>
<!-- Animationn -->

  <div class="bubble">
    <span style="--i:11;"></span>
    <span style="--i:2;"></span>
    <span style="--i:9;"></span>
    <span style="--i:8;"></span>
    <span style="--i:15;"></span>
    <span style="--i:12;"></span>
    <span style="--i:13;"></span>
    <span style="--i:16;"></span>
    <span style="--i:17;"></span>
    <span style="--i:20;"></span>
    <span style="--i:25;"></span>
    <span style="--i:24;"></span>
    <span style="--i:21;"></span>
    <span style="--i:22;"></span>
    <span style="--i:11;"></span>
    <span style="--i:8;"></span>
    <span style="--i:12;"></span>
    <span style="--i:26;"></span>
    <span style="--i:17;"></span>
    <span style="--i:11;"></span>
    <span style="--i:15;"></span>
    <span style="--i:7;"></span>
    <span style="--i:27;"></span>
    <span style="--i:11;"></span>
    <span style="--i:20;"></span>
    <span style="--i:27;"></span>
    <span style="--i:22;"></span>
    <span style="--i:18;"></span>
    <span style="--i:25;"></span>
    <span style="--i:12;"></span>
    <span style="--i:15;"></span>
    <span style="--i:7;"></span>
    
  
    
    
  </div>

