*{
  scroll-behavior: smooth;
}

.wrapper-container {
  height: 100vh;
  width: 100vw;
  background-color:  #fff;
  position: relative;
  overflow-x: hidden;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  margin: 0 auto;
  background-color:  #fff;
  padding: 10px 10px;
  position: fixed;
  z-index: 2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 10vh;
}

.c-logo {
  height: 100%;
}

.logo-container p {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.logo-container p span {
  color: #745bce;
}

a {
  text-decoration: none;
  color: #000;
  margin: 0;
}

.login-btn {
  border: none;
  background-color: #745bce;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login-btn2 {
  border: none;
  background-color: #745bce;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.navlinks {
  display: flex;
  gap: 3rem;
}

.hero-section {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.company-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: black;
}

.mining {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.7rem;
  color: black;
}

.world {
  color: #745bce;
}

.hero-image {
  position: relative;
  z-index: 1;
}

.asset-img {
  position: absolute;
  top: 15%;
  right: 25%;
  animation: bounce2 2s infinite;
}

.asset-img2 {
  position: absolute;
  bottom: 40%;
  right: 35%;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end position */
  }
  50% {
    transform: translateY(-20px); /* Middle position (up) */
  }
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateX(0); /* Start and end position */
  }
  50% {
    transform: translateX(-20px); /* Middle position (up) */
  }
}

.main-container {
  height: max-content;
  width: 100vw;
  background-color: #745bce;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  height: 70%;
  width: 80%;
  margin-top:10vh;
  padding-bottom:10vh; 
}

.about-title {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}

.about-subtitle {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-decoration: wavy;
}

li > p {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: normal;
}

.about-container ul {
  list-style-type: none;
}

.service-container {
  height: 40vh;
  width: 20vw;
  position: absolute;
  top: 7%;
  left: 35%;
  display: none;
}

.service-container.visible {
  display: block;
  border-radius: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.802);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.service-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sky {
  position: absolute;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* Here we are making roundabout balls  */
.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  border-radius: 885px;
  background: linear-gradient(-45deg, #020202, rgba(0, 0, 255, 0));

  -webkit-filter: drop-shadow(0 0 6px #eef1f8);
  filter: drop-shadow(0 0 6px #d7dff0);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

/* Here we add before and after effect to star */
.star::before,
.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(227, 227, 230, 0.632),
    #1d1e1f,
    rgba(227, 227, 230, 0.632)
  );
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}

.star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}

/* Here we are adding location of each
   nth-child, animations, delays, and
   before and after effects to each
   and every balls(stars) */
.star:nth-child(1) {
  top: calc(50% - -119px);
  left: calc(50% - 43px);
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}

.star:nth-child(2) {
  top: calc(50% - -43px);
  left: calc(50% - 37px);
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}

.star:nth-child(3) {
  top: calc(50% - -40px);
  left: calc(50% - 222px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(4) {
  top: calc(50% - -29px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(5) {
  top: calc(50% - 146px);
  left: calc(50% - 112px);
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star:nth-child(6)::before,
.star:nth-child(6)::after {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.star:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

.star:nth-child(7)::before,
.star:nth-child(7)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}

/* This code will help to generate
effect in tail of star */
@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

/* This code will generate shining
effect in head of star */
@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation
to head of star for shining */
@-webkit-keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation
to tail of star */
@-webkit-keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation
for shooting effect */
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
  }
}

/* Here we make shooting effect */
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
  }
}

.burger-icon {
  display: none;
}

@media screen and (max-width: 769px) {
  .hero-image {
    height: 300px;
    width: 300px;
  }
  .burger-icon {
    display: block;
  }
  .asset-img,
  .asset-img2 {
    display: none;
  }
  .navlinks,
  .btn-container {
    display: none;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-image {
    height: 100%;
    width: 100%;
  }
  .sky {
    height: 30%;
    width: 50%;
  }
  .star {
    width: 50%;
  }
  .login-btn2 {
    display: none;
  }
  .mining {
    font-size: 1.5rem;
  }
  .company-name{
    font-size: 4rem;
  }
}

@media screen and (max-width: 425px) {
  .company-name{
    font-size: 4rem;
  }
  .login-btn2 {
    display: none;
  }
  .burger-icon {
    display: block;
  }
  .navlinks,
  .btn-container {
    display: none;
  }
  .mining {
    font-size: 2rem;
  }
  .hero-section {
    align-items: center;
    flex-direction: column;
  }
  .hero-image {
    height: 100%;
    width: 100%;
  }
  .sky {
    height: 35%;
    width: 35%;
  }
  .star {
    width: 50%;
  }
}

.mobile-sidebar{
  display: none;
}

.mobile-sidebar.visible {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color:aliceblue;
}

.mobile-navlinks{
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.close-box{
  padding: 20px;
}
