.mat-dialog-title {
    background-color: #5476f2;
    color: #fff;
    font-family: Calibri;
    font-size: 18px;
    font-weight: 600;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}