.mat-dialog-title {
    background-color: #5476f2;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family:calibri;
    margin-left: -24px;
    margin-right: -23px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:-24px;
}
.mat-dialog-actions {
    margin-bottom: 0px;
}