.mat-dialog-title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e7e4df;
    margin-left: -22px;
    margin-right: -22px;
    padding-left: 20px;
    color: #ccc;
}
.custom-heading {
    color:#EF2F88;
}