<div class="main-div">
    <div class="header-div" mat-dialog-title>
      <h6>MY PAYOUT TENURE</h6>
      <div class="butonn-div" mat-dialog-close>X</div>
    </div>
    <div class="card-container">
      <div class="card-div" *ngFor="let item of data; let i = index">
        <div class="card-header">
          <div class="header-content">
            <p>RIG ID</p>
            &nbsp;
            <span>{{ item.rigId }}</span>
          </div>
          <!-- <div style="cursor: pointer">
            <mat-icon (click)="gotoPartnerPayout(item)" mat-dialog-close
              >keyboard_arrow_right</mat-icon
            >
          </div> -->
        </div>
        <hr />
        <div class="card-content">
          <div class="name-div">
            <p>Name</p>
            <span>{{allName[i].name}}</span>
          </div>
          <div class="name-div">
            <p>Total Tenure</p>
            <span>12 TN</span>
          </div>
          <div class="name-div">
            <p>Paid Tenure</p>
            <span>{{item.payableCount}} TN</span>
          </div>
          <div class="name-div">
            <p>Remaining Tenure</p>
            <span>{{12 - item.payableCount}} TN</span>
          </div>
          <!-- <div class="name-div">
            <p>Status</p>
            <span [ngStyle]="{ color: item.partner_status ? 'green' : 'red' }">
              {{ item.partner_status ? "Active" : "Inactive" }}
            </span>
          </div> -->
        </div>
        <!-- <hr />
        <div class="footer-invoce">
          <div class="invoice"><p>Invoice</p><mat-icon (click)="downloadInvoice(item)">cloud_download</mat-icon></div>
          <div class="invoice"><p>Bond</p><mat-icon (click)="downloadBond(item)">cloud_download</mat-icon></div>
        </div>
      </div>  -->
    </div>
  </div>
  