<!-- app-partner-payment-details-modal.component.html -->
<h2 mat-dialog-title>
    Dear CENTUM WORLD RIG PARTNER <mark>{{ data.partnerUserName }}</mark> join with the RIG program on <mark>{{ data.dateOfPartner | date: 'dd/MM/yyyy' }}</mark>. Here are the details of your Account Payout:
  </h2>
  <div mat-dialog-content>
    <div class="payment-details">
      <div class="left">
        <div class="dop">
          <span>User ID</span>: <p>{{ data.partnerId }}</p>
        </div>
        <div class="dop">
          <span>Date of Partner</span>: <p>{{ data.dateOfPartner | date }}</p>
        </div>
        <div class="dop">
          <span>Total Liquidity</span>: <p>{{ data.partnerLiquidity | currency:'INR' }}</p>
        </div>
        <div class="dop">
          <span>Monthly Payout</span>: <p>{{ (data.monthlyPayout - (data.monthlyPayout * 5) / 100) | currency:'INR' }}</p>
        </div>
        <div class="dop">
          <span>Payout Tenure</span>: <p>12 TN</p>
        </div>
        <div class="dop">
          <span>Paid Tenure</span>: <p>{{ data.month_count }} TN</p>
        </div>
      </div>
      <div class="right">
        <div class="dop">
          <span>Remaining Tenure</span>: <p>{{ 12 - data.month_count }} TN</p>
        </div>
        <div class="dop">
          <span>Last Payout</span>: <p>{{ data.lastPaymentDate | date: 'medium' }}</p>
        </div>
        <div class="dop">
          <span>Next Payout</span>: <p>15 to 22nd (Of Every Month)</p>
        </div>
        <!-- <div class="dop" *ngIf="data.userStatus">
          <span>Status</span>: <p style="color:green;">Active</p>
        </div>
        <div class="dop" *ngIf="data.month_count === 12">
          <span>Status</span>: <p style="color: red;">Closed</p>
        </div>
        <div class="dop" *ngIf="!data.userStatus && data.month_count === 0">
          <span>Status</span>: <p style="color:red;">Account not active</p>
        </div> -->
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Close</button>
  </div>
  