.referral-payout {
  display: flex;
  justify-content: start;
  margin-left: 330px;
  margin-top:-30px;
}
.arow-title {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top:-50px;
}
.arow-title p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  font-family:'Roboto',sans-serif;
}
.account-section {
  margin-left: 330px;
}
.bakk-div {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  margin-left:30px;
}
.example-card {
  margin-bottom: 16px;
  width:300px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bank-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.bank-details h2 {
  font-weight: 400;
  color: #9d9a9a;
  font-size: small;
}

#id{
    margin-top: 12px;
}

.example-header-image{
    background-image: url("/assets/image/bank.jpg");
    background-size: cover;
}


  
 
@media screen and (min-width: 768px) and (max-width:1200px){
  .arow-title{
    margin-top:0px;
  }
}


@media (max-width: 767px) {
    .example-card {
        /* width: calc(50% - 16px);  */
      }
    .bakk-div {
        flex-direction: column;
        align-items: center;
    }
    .referral-payout{
        margin-top: 100px;
    }
    .account-section, .referral-payout{
        margin-left: 0;
    }
    
    .withdrwal-button {
        width: 113px;
        font-size: 12px;
    }
    .sho-withdrawal-header p{
        font-size: 15px;
    }
    .arow-title{
      margin-top:-30px;
    }
    .arow-title p{
      font-size:14px;
    }
}
@media (max-width: 480px) {
  .example-card {
    width: 100%; 
  }
}
