<div class="business-list-container">
    <div class="title">
        <h5>Business developer</h5>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; gap: 1rem;">
        <div>
            <mat-form-field  class="example-full-width" class="custom-form-field">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
        <div class="add-bd" (click)="createbd()">
            <mat-icon>person_add</mat-icon>&nbsp;
            <span style="display: flex; justify-content: center; align-items: center; gap: 1rem;">
                Create BD
            </span>
        </div>
    </div>
</div>


<div class="large-expand">

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="fname">
                <th mat-header-cell *matHeaderCellDef> F-Name </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.fname }} </td>
            </ng-container>


            <ng-container matColumnDef="lname">
                <th mat-header-cell *matHeaderCellDef> L-Name </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.lname }} </td>
            </ng-container>

            <ng-container matColumnDef="businessDeveloperId">
                <th mat-header-cell *matHeaderCellDef>Id </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.businessDeveloperId }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.email }} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.phone }} </td>
            </ng-container>


            <ng-container matColumnDef="referredId">
                <th mat-header-cell *matHeaderCellDef> Referred ID </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.referredId }} </td>
            </ng-container>

            <ng-container matColumnDef="referralId">
                <th mat-header-cell *matHeaderCellDef> Referral ID </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.referralId }} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef>Gender </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.gender }} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>State</th>
                <td mat-cell *matCellDef="let bd"> {{ bd.state }} </td>
            </ng-container>

            <ng-container matColumnDef="businessCity">
                <th mat-header-cell *matHeaderCellDef>Franchise City </th>
                <td mat-cell *matCellDef="let bd"> {{ bd.businessCity }} </td>
            </ng-container>

            <ng-container matColumnDef="isVerify">
                <th mat-header-cell *matHeaderCellDef>Verify</th>
                <td mat-cell *matCellDef="let bd" [ngStyle]="{'color': bd.isVerify === 1 ? 'green' : 'red'}">
                    {{bd.isVerify === 1? 'Yes':'No'}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let bd">
    
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openViewBDDialog(bd)">
                            View
                        </button>
                        <button mat-menu-item [disabled]="bd.isVerify === 1" (click)="openVerifyDialog(bd)">
                            Verify
                        </button>
                        <button mat-menu-item (click)="openIsBlockDialog(bd)">
                            {{ bd.isBlocked === 0 ? 'Block' : 'Unblock' }}
                        </button>
                        <button mat-menu-item (click)="openEditBDDialog(bd)">
                            Edit
                        </button>
                    
                    </mat-menu>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let bd; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>