/* General styling for account header */
.account-header .title {
  display: flex;
  align-items: center;
}

.account-header .title .back-icon {
  margin-right: 5px;
}

/* Styling for wallet section */
.wallet-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #3660ebaf;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-family: "Roboto", sans-serif;
}

/* Styling for the main content area */
.account-content {
  margin-left: 50px;
}

/* Styling for card container */
.bakk-div {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

/* Styling for individual card */
.example-card {
  margin: 10px;
  width: 300px;
}

.example-card mat-card-content {
  margin-top: 10px;
}

/* Styling for bank details section */
.bank-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.bank-details h2 {
  font-weight: 400;
  color: #9d9a9a;
  font-size: small;
}

/* Styling for card header image */
.example-header-image {
  background-image: url("/assets/image/bank.jpg");
  background-size: cover;
}

/* Additional styling for elements within the bakk-div */
.bakk-div mat-card-content,
.bakk-div mat-card-title,
.bakk-div mat-divider,
.bakk-div .bank-details,
.bakk-div h2,
.bakk-div strong {
  font-family: "Roboto", sans-serif;
}

/* Styling for search container */
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.search-container label {
  margin-right: 10px;
}

.search-container button.mat-button {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button.mat-button:hover {
  background-color: #0e7ae6;
}

/* Styling for input and select elements */
.search-container input,
.search-container select {
  padding: 8px;
  margin-right: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  button.mat-button {
    margin-bottom: 0.6rem;
  }

  .search-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
  }

  .search-container label,
  .search-container input,
  .search-container select {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .account-header {
    margin-top: 78px;
  }
}

@media (max-width: 767px) {
  .account-header {
    margin: 78px 0px 0px 0px;
  }

  .account-content {
    margin-left: 0;
  }

  .title p {
    font-size: 14px;
  }
}
