<div class="account-header">
    <h5 style="display: flex; justify-content: center; align-items: center;"><mat-icon (click)="goBack()"
            style="cursor: pointer;">arrow_back</mat-icon>&nbsp;Payout details</h5>
    <!-- <div class="wallet-div">{{myWallet | currency:"INR"}}</div> -->
</div>
<div class="account-content">
    <div class="bakk-div">
        <!-- Check if approvedRequest is empty -->
        <ng-container *ngIf="bmmReferralPayout.length === 0; else referralPayout">
            <mat-card class="example-card">
                <mat-card-content>
                    <p>No Referral payout found.</p>
                </mat-card-content>
            </mat-card>
        </ng-container>

        <!-- Display the list of approved withdrawals if approvedRequest is not empty -->
        <ng-template #referralPayout>
            <mat-card class="example-card" *ngFor="let data of bmmReferralPayout">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Payout</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="single-line-content">
                    <div class="bank-details">
                        <h2>BMM ID</h2><strong>{{data.userid}} </strong>
                    </div>
                    <div class="bank-details">
                        <h2>Amount</h2><strong>{{data.amount | currency:'INR':'symbol':'1.2-2'}}</strong>
                    </div>
                    <div class="bank-details">
                        <h2>Partner ID</h2><strong>{{data.partnerid }} </strong>
                    </div>
                    <div class="bank-details">
                        <h2>Credit date</h2><strong>{{data.credit_date | date}} </strong>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </div>
</div>