<input type="checkbox" id="nav-toggle" />

<div class="sidebar">
  <div class="sidebar-brand">
    <h3><a class="fa fa-qrcode" href="javascript:void(0)" (click)="dashboard()"></a></h3>
    <h2>
      <span class="fa fa-qrcode"></span
      ><a style="color: #fff" href="javascript:void(0)" (click)="dashboard()">Dashboard</a>
    </h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="javascript:void(0)" [matMenuTriggerFor]="menuProfile"><i class="fa fa-user"></i>
          <span >My Profile</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-money"></i>
          <span (click)="withdrawal()">Withdrawal</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-users" ></i>
          <span (click)="myTeam()" >My Team</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-list" ></i>
          <span (click)="partnerList()" >Partner list</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-share"></i>
          <span (click)="referralPayout()" >Referral payout</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-gift"></i>
          <span (click)="promotion()" >Promotion</span>
        </a>
      </li>
      
      <li>
        <a href="javascript:void(0)"><i class="fa fa-sign-out"></i>
          <span (click)="logOut()">Log Out</span>
        </a>
      </li>

    
    </ul>
    <!-- <mat-menu #menuBank="matMenu">
      <button mat-menu-item (click)="memberWithdrawalRequest()" >Request</button>
      <button mat-menu-item  (click)="memberWithdrawalSuccess()">Approved</button>
    </mat-menu> -->
    
  </div>
</div>

<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <div class="d-flex justify-content-between" id="clogo">
          <img  src="../../../../assets/logo/Clogo (2).png" alt="CENTUM WORLD">
        </div>
      </label>
    </h2>

    <div class="user-wrapper">
      <button mat-button class="loin_button" [matMenuTriggerFor]="menuUser">
        <img src="assets/image/profile.png" alt="" width="50px" height="50px" />
      </button>
      <p class="fa fa-bars mobile-bars" (click)="toggleSidebar()"></p>
      <mat-menu #menuUser="matMenu">
        <button mat-menu-item (click)="myProfileDialog()">
          Profile
        </button>
        <!-- <button mat-menu-item data-toggle="modal" data-target="#memberSummary">
          Summary
        </button> -->
        <button mat-menu-item (click)="summaryOpenDialog()">
          Summary
        </button>
        <a href="javascript:void(0)" mat-menu-item (click)="logOut()">Log Out</a>
      </mat-menu>
      <div>
        <small style="color: crimson"></small>
      </div>
    </div>
  </header>
</div>

<div class="mobile-sidebar" [ngStyle]="{'display': isVisible ? 'block' : 'none'}">
  <div class="mobile-sidebar-heading">
    <div class="mobile-header">
      <div class="centum-header">
        <img src="../../../../assets/image/clogo.png" alt="" height="60" width="60">
        <span>CENTUM MINING RIG</span>
      </div>
      <span class="fa fa-close" (click)="closeSidebar()"></span>
    </div>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-user" [matMenuTriggerFor]="menuProfile"></i>
          <span [matMenuTriggerFor]="menuProfile">My Profile</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-users" ></i>
          <span (click)="myTeam()" >My Team</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-users" ></i>
          <span (click)="partnerList()" >Partner list</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-money"></i>
          <span (click)="withdrawal()">Withdrawal</span>
        </a>
      </li><li>
        <a href="javascript:void(0)"><i class="fa fa-share"></i>
          <span (click)="referralPayout()" >Referral payout</span>
        </a>
      </li>


      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-sign-out"></i>
          <span  (click)="logOut()">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
  <mat-menu #menuProfile="matMenu">
    <button mat-menu-item (click)="myProfileDialog()">Details</button>
    <button mat-menu-item (click)="myDocumentsDialog()">Documents</button>
  </mat-menu>
</div>


<!-- <div class="modal fade" id="memberSummary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Summary Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-hover table-light table-responsive">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">User ID</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of memberRefferalIdToPartner; let i = index">
              <th>{{i+1}}</th>
              <td>{{data.p_userid}}</td>
              <td><button class="btn btn-primary" (click)="fetchPartnerLiquidity(data.p_userid)" data-toggle="modal"
                  data-target="#memberSummaryDetails">View</button></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="memberSummaryDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">My Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="summry d-flex">
          <p>Monthly Payout</p>:&nbsp;<span style="font-weight: bold;">{{monthlyPayment|currency:"INR"}}</span>
        </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>  -->
