<div class="logo">
  <img src="assets/image/clogo.png" alt="" class="center">
</div>
<div class="container">
  <h1> CENTUM WORLD MINING PARTNER ECCOSYSTEM </h1>
  <p>Member Sign Up </p>

  <form [formGroup]="signForm" (ngSubmit)="addMemberData(signForm)">
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="name"> Name </label>
          <input type="text" id="name" name="name" formControlName="name" placeholder="Enter Name">
          <span style="color: red;" *ngIf="signForm.get('name').invalid && signForm.get('name').touched">
            Name is required
          </span>
        </div>

      </div>
      <div class="column">
        <div class="form-group">
          <label for="designation">Phone</label>
          <input type="text" id="designation" name="phone" formControlName="phone" placeholder="Enter Phone">
          <span style="color: red;" *ngIf="signForm.get('phone').invalid && signForm.get('phone').touched">
            <small>(*Must start with +91)</small>
        </span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="form-group">
        <label for="Address">Enter Address</label>
        <textarea type="text" name="address" formControlName="address" placeholder="Enter Address" id="address"> </textarea>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="refferid"> RefferID </label>
          <input type="text" id="refferid" name="refferid" [value]="b===undefined?'':b"  formControlName="reffered_id" placeholder="Enter RefferId">
          <small style="font-size: 12px;">*If don't have refferal id, use (admin123)</small>
        </div>
      </div>
      <div class="column">
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" id="state" name="state" formControlName="state" placeholder="Enter Your State">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="column">

        <div class="form-group">
          <label for="email"> Email </label>
          <input type="email" id="email" formControlName="email" placeholder="Enter Email">
        </div>
      </div>
      <div class="column">

        <div class="form-group ">
          <label  for="designation">Designation</label>
                  <select class="Designation" name="designation" id="designation" formControlName="designation">
                    <option value="">Select</option>
                    <option value="software engineer">Software engineer</option>
                    <option value="bussiness manager">Bussiness Manager</option>
                    <option value="web developer">Web Developer</option>
                    <option value="full stack">Full stack developer</option>
                  </select>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="form-group Gender">
          <label for="gender">Gender</label>
          <input type="radio" name="gender" formControlName="gender" value="male"  id="gender1">
          <label for="gender1">Male</label>
          <input type="radio" name="gender" formControlName="gender" value="female" id="gender2">
          <label for="gender2">Female</label>
          <input type="radio"  formControlName="gender" name="gender" value="other" id="gender3">
          <label for="gender3">Other</label>
        </div>
      </div>
      <div class="col">
        <div class=" form-group Qualification">
          <label for="ten">Qualification</label>
          <input type="radio" formControlName="qualification" value="ten" name="qualification" id="qualification1">
          <label for="ten">10th</label>
          <input type="radio"  formControlName="qualification" value="twelve" name="qualification"  id="qualification2">
          <label for="twelve">10+2</label>
          <input type="radio"  formControlName="qualification" value="graduation"  name="qualification" id="qualification2">
          <label for="graduation">Graduation</label>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="experience">Experience</label>
          <select class="Experiance" name="experiance" id="experiance" formControlName="experiance" >
            <option value="undefined">Select</option>
            <option *ngFor="let data of userExperience" [value]="data.name">{{data.name}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="salary">Salary</label>
          <input type="text" name="salary" formControlName="salary" id="salary" placeholder="Enter salary">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="dob"> DOB </label>
          <input type="date" id="dob" name="dob" formControlName="dob" placeholder="Enter DOB">
        </div>

      </div>
      <div class="column">
        <div class="form-group">
          <label for="doj">DOJ</label>
          <input type="date" id="doj" name="doj" formControlName="doj" placeholder="Date of Joining">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="user_id"> User Id </label>
          <input type="text" id="userid" name="user_id" formControlName="user_id" placeholder="User ID">
        </div>

      </div>
      <div class="column">
        <div class="form-group">
          <label for="user_password">Password</label>
          <input type="text" id="user_password" formControlName="user_password" placeholder="Password">
        </div>
      </div>

    </div>

    <div class="row">
      
      <div class="footer">
        <div class="account">
          <span>Have an account?</span><a href="/memberlogin">Login</a>
        </div>
        <div>
          <button  type="submit" class="save" [disabled]="!signForm.valid" data-toggle="dismiss">Register</button>

        </div>
        

      </div>
    </div>

    
  </form>
</div>
