@import url("https://fonts.fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.member-wrapper{
  height: 100vh;
  width: 100vw;
}

.member-container{
  height: 100%;
  width: 100%;
  display: flex;
}

.signup-left-container{
  width: 40%;
  height: 100%;
  background-image: url(../../../assets/image/bg-left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.company-name{
  display: flex;
  align-items: center;
}

.company-name p{
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.subtitle{
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.signup-right-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.right-input-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.username-box, .date-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.address-input, .phone-input, .email-input, .reffer-input{
  width: 100%;
}

.gender-box{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border-color: #00000037;
  margin-top: 0;
}

.signUpForm{
  display: flex;
  flex-direction: column;
}

.Designation, .Experiance, .DOB, .DOJ{
  height: 65px;
  border-radius: 5px;
}

.mat-form-field-wrapper{
  padding-bottom: 0;
}

.profession-box{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.designation, .experiance, .salary, .dob-box, .doj-box, .state-box{
  display: flex;
  flex-direction: column;
}

.reffer-sub, .phone-sub{
  opacity: 50%;
  font-size: .8rem;
}

.state-input{
  width: 100%;
}

.btn-text{
  margin-top: 15px;
}

.admin-login-btn{
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  background-color: #24243E;
  color: white;
  cursor: pointer;
  width: 100%;
}

.form-group-Qualification{
  display: flex;
  flex-direction: column;
}

.right-input-container h1{
  text-align: center;
}

@media only screen and (max-width: 1024px){
  .member-container{
    flex-direction: column;
  }
  .signup-left-container, .right-input-container{
    width: 100%;
    height: max-content;
  }
  .right-input-container{
    flex-wrap: wrap;
  }
  .right-input-container h1{
    text-align: center;
  }
}
