<div class="member-wrapper">
  <div class="member-container">
    <div class="signup-left-container">
      <div class="company-name">
        <img
          src="../../../assets/image/clogo.png"
          alt=""
          height="90"
          width="90"
        />
        <p>Centum World</p>
      </div>
      <img
        src="../../../assets/image/Illustration.png"
        class="left-side-image"
        height="340"
        width="340"
        alt=""
      />
      <p class="subtitle">Register Now !!</p>
    </div>
    <div class="signup-right-container">
      <div class="right-input-container">
        <h1>Join & Connect the Fastest Growing Trading Community</h1>
        <div class="member-signup-form">
          <form
            [formGroup]="signForm"
            (ngSubmit)="addMemberData(signForm)"
            class="signUpForm"
          >
            <div>
              <mat-form-field appearance="outline" class="reffer-input">
                <mat-label>Reffer Id</mat-label>
                <input matInput formControlName="reffered_id" />
                <span class="reffer-sub">Enter franchise referral id.</span>
              </mat-form-field>
            </div>
            <div class="username-box">
              <mat-form-field appearance="outline" class="name-input">
                <mat-label> First name</mat-label>
                <input matInput formControlName="name" required />
              </mat-form-field>
              <mat-form-field appearance="outline" class="name-input">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lname" required />
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="address-input">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" required />
            </mat-form-field>
            <mat-form-field appearance="outline" class="phone-input">
              <mat-label>(+91) Phone</mat-label>
              <input matInput formControlName="phone" required />
              <span class="phone-sub"
                >Please enter phone number starting with (+91)</span
              >
            </mat-form-field>
            <div class="gender-box">
              <label for="gender">Gender: </label>
              <div>
                <input
                  type="radio"
                  name="gender"
                  formControlName="gender"
                  value="male"
                  id="gender1"
                />
                <label for="gender1"> &nbsp; Male</label>
              </div>
              <div>
                <input
                  type="radio"
                  name="gender"
                  formControlName="gender"
                  value="female"
                  id="gender2"
                />
                <label for="gender2"> &nbsp; Female</label>
              </div>
              <div>
                <input
                  type="radio"
                  formControlName="gender"
                  name="gender"
                  value="other"
                  id="gender3"
                />
                <label for="gender3"> &nbsp; Other</label>
              </div>
            </div>
            <div>
              <mat-form-field appearance="outline" class="email-input">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required />
              </mat-form-field>
            </div>

            <div class="profession-box">
              <div class="designation">
                <label for="designation">Designation</label>
                <select
                  class="Designation"
                  name="designation"
                  id="designation"
                  formControlName="designation"
                >
                  <option value="">Select</option>
                  <option value="software engineer">Software engineer</option>
                  <option value="bussiness manager">Bussiness Manager</option>
                  <option value="web developer">Web Developer</option>
                  <option value="full stack">Full stack developer</option>
                </select>
              </div>
              <div class="experiance">
                <label for="experience">Experience</label>
                <select
                  class="Experiance"
                  name="experiance"
                  id="experiance"
                  formControlName="experiance"
                >
                  <option value="">Select</option>
                  <option
                    *ngFor="let data of userExperience"
                    [value]="data.name"
                  >
                    {{ data.name }}
                  </option>
                </select>
              </div>
              <div class="salary">
                <label for="experience">Salary</label>
                <mat-form-field appearance="outline" class="salary-input">
                  <mat-label>Enter amount</mat-label>
                  <input matInput formControlName="salary" required />
                </mat-form-field>
              </div>
              <div class="form-group-Qualification">
                <label for="ten">Qualification</label>
                <div>
                  <input
                    type="radio"
                    formControlName="qualification"
                    value="ten"
                    name="qualification"
                    id="qualification1"
                  />
                  <label for="ten">10th</label>
                </div>
                <div>
                  <input
                    type="radio"
                    formControlName="qualification"
                    value="twelve"
                    name="qualification"
                    id="qualification2"
                  />
                  <label for="twelve">10+2</label>
                </div>
                <div>
                  <input
                    type="radio"
                    formControlName="qualification"
                    value="graduation"
                    name="qualification"
                    id="qualification2"
                  />
                  <label for="graduation">Graduation</label>
                </div>
              </div>
            </div>
            <div class="date-box">
              <div class="dob-box">
                <label for="dob"> DOB </label>
                <input
                  class="DOB"
                  type="date"
                  id="dob"
                  name="dob"
                  formControlName="dob"
                  placeholder="Enter DOB"
                />
              </div>
              <div class="doj-box">
                <label for="doj">DOJ</label>
                <input
                  class="DOJ"
                  type="date"
                  id="doj"
                  name="doj"
                  formControlName="doj"
                  placeholder="Date of Joining"
                />
              </div>
              <div class="state-box">
                <label for="experience">State</label>
                <mat-form-field appearance="outline" class="salary-input">
                  <mat-label>Enter State</mat-label>
                  <input matInput formControlName="state" required />
                </mat-form-field>
              </div>
            </div>
            <div class="custom-file-input">
              <mat-form-field appearance="outline">
                <mat-label>Front Aadhar Card</mat-label>
                <input
                  matInput
                  type="text"
                  [value]="aadharImageName"
                  placeholder="Choose a file"
                  readonly
                />
                <input
                  type="file"
                  id="aadharImage"
                  (change)="onAadharImageChange($event, 'front')"
                  accept="image/*"
                  class="input"
                />
              </mat-form-field>
            </div>
            <div class="custom-file-input">
              <mat-form-field appearance="outline">
                <mat-label>Back Aadhar Card</mat-label>
                <input
                  matInput
                  type="text"
                  [value]="backAadharImageName"
                  placeholder="Choose a file"
                  readonly
                />
                <input
                  type="file"
                  id="aadharImage"
                  (change)="onAadharImageChange($event, 'back')"
                  accept="image/*"
                  class="input"
                />
              </mat-form-field>
            </div>
            <div class="custom-file-input">
              <mat-form-field appearance="outline">
                <mat-label>Pan Card</mat-label>
                <input
                  matInput
                  type="text"
                  [value]="panImageName"
                  placeholder="Choose a file"
                  readonly
                />
                <input
                  type="file"
                  id="aadharImage"
                  (change)="onAadharImageChange($event, 'pan')"
                  accept="image/*"
                  class="input"
                />
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="user-input">
              <mat-label>User id</mat-label>
              <input matInput formControlName="user_id" required />
            </mat-form-field>
            <mat-form-field appearance="outline" class="user-input">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="passwordFieldType"
                formControlName="user_password"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="togglePasswordVisibility()"
                type="button"
              >
                <mat-icon>{{ showPasswordIcon }}</mat-icon>
              </button>
            </mat-form-field>
            <button class="admin-login-btn">
              <ng-container *ngIf="spin; else registerText">
                <mat-spinner diameter="40"></mat-spinner>
              </ng-container>
              <ng-template #registerText>
                <p class="btn-text">Proceed to my account</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="#eee"
                  class="bi bi-arrow-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
              </ng-template>
            </button>
          </form>
        </div>
        <p class="have-an-account-btn">
          Already have an account? <a href="javascript:void(0)" (click)="login()">Login Now</a>&nbsp; &nbsp; <strong style="cursor: pointer;" (click)="home()">Home</strong>
        </p>
      </div>
    </div>
  </div>
</div>
