<div class="member-wrapper">
  <div class="member-container">
    <div class="signup-left-container">
      <div class="company-name">
        <img
          src="../../../assets/image/clogo.png"
          alt=""
          height="90"
          width="90"
        />
        <p>Centum World</p>
      </div>
      <img
        src="../../../assets/image/Illustration.png"
        height="350"
        width="400"
        alt=""
      />
      <p class="subtitle">
        Join & Connect the Fastest Growing Online Community
      </p>
    </div>
    <div class="signup-right-container">
      <h1>Join & Connect the Fastest Growing Trading Community</h1>
      <div class="member-signup-form">
        <form
          [formGroup]="signForm"
          (ngSubmit)="addMemberData(signForm)"
          class="signUpForm"
        >
          <div>
            <mat-form-field appearance="outline" class="reffer-input">
              <mat-label>Reffer Id</mat-label>
              <input matInput formControlName="reffered_id" />
              <span class="reffer-sub"
                >If you don't have any reffer id, Enter admin@123</span
              >
            </mat-form-field>
          </div>
          <div class="username-box">
            <mat-form-field appearance="outline" class="name-input">
              <mat-label> First name</mat-label>
              <input matInput formControlName="name" required />
            </mat-form-field>
            <mat-form-field appearance="outline" class="name-input">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lname" required />
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="address-input">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required />
          </mat-form-field>
          <mat-form-field appearance="outline" class="phone-input">
            <mat-label>(+91) Phone</mat-label>
            <input matInput formControlName="phone" required />
            <span class="phone-sub"
              >Please enter phone number starting with (+91)</span
            >
          </mat-form-field>
          <div class="gender-box">
            <label for="gender">Gender: </label>
            <div>
              <input
                type="radio"
                name="gender"
                formControlName="gender"
                value="male"
                id="gender1"
              />
              <label for="gender1"> &nbsp; Male</label>
            </div>
            <div>
              <input
                type="radio"
                name="gender"
                formControlName="gender"
                value="female"
                id="gender2"
              />
              <label for="gender2"> &nbsp; Female</label>
            </div>
            <div>
              <input
                type="radio"
                formControlName="gender"
                name="gender"
                value="other"
                id="gender3"
              />
              <label for="gender3"> &nbsp; Other</label>
            </div>
          </div>
          <div>
            <mat-form-field appearance="outline" class="email-input">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required />
            </mat-form-field>
          </div>

          <div class="profession-box">
            <div class="designation">
              <label for="designation">Designation</label>
              <select
                class="Designation"
                name="designation"
                id="designation"
                formControlName="designation"
              >
                <option value="">Select</option>
                <option value="software engineer">Software engineer</option>
                <option value="bussiness manager">Bussiness Manager</option>
                <option value="web developer">Web Developer</option>
                <option value="full stack">Full stack developer</option>
              </select>
            </div>
            <div class="experiance">
              <label for="experience">Experience</label>
              <select
                class="Experiance"
                name="experiance"
                id="experiance"
                formControlName="experiance"
              >
                <option value="">Select</option>
                <option *ngFor="let data of userExperience" [value]="data.name">
                  {{ data.name }}
                </option>
              </select>
            </div>
            <div class="salary">
              <label for="experience">Salary</label>
              <mat-form-field appearance="outline" class="salary-input">
                <mat-label>Enter amount</mat-label>
                <input matInput formControlName="salary" required />
              </mat-form-field>
            </div>
          </div>
          <div class="date-box">
            <div class="dob-box">
              <label for="dob"> DOB </label>
              <input
              class="DOB"
                type="date"
                id="dob"
                name="dob"
                formControlName="dob"
                placeholder="Enter DOB"
              />
            </div>
            <div class="doj-box">
              <label for="doj">DOJ</label>
              <input
              class="DOJ"
                type="date"
                id="doj"
                name="doj"
                formControlName="doj"
                placeholder="Date of Joining"
              />
            </div>
            <div class="state-box">
              <label for="experience">State</label>
              <mat-form-field appearance="outline" class="salary-input">
                <mat-label>Enter State</mat-label>
                <input matInput formControlName="salary" required />
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="logo">
  <img src="assets/image/clogo.png" alt="" class="center">
</div>
<div class="container">
  <h1> CENTUM WORLD MINING PARTNER ECCOSYSTEM </h1>
  <p>Member Sign Up </p>

  <form [formGroup]="signForm" (ngSubmit)="addMemberData(signForm)">
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="name">First Name </label>
          <input type="text" id="name" name="name" formControlName="name" placeholder="Enter first Name">
          <span style="color: red;" *ngIf="signForm.get('name').invalid && signForm.get('name').touched">
            Name is required
          </span>
        </div>
      </div>
      <div class="column">
        <div class="form-group">
          <label for="lname">Last Name </label>
          <input type="text" id="name" name="lname" formControlName="lname" placeholder="Enter last Name">
          <span style="color: red;" *ngIf="signForm.get('lname').invalid && signForm.get('lname').touched">
            Name is required
          </span>
        </div>
      </div>
    </div>

  
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="Address">Enter Address</label>
          <textarea type="text" name="address" formControlName="address" placeholder="Enter Address"
            id="address"> </textarea>
        </div>
      </div>
      <div class="column">
        <div class="form-group">
          <label for="designation">Phone</label>
          <input type="text" id="designation" name="phone" formControlName="phone" placeholder="Enter Phone">
          <span style="color: red;" *ngIf="signForm.get('phone').invalid && signForm.get('phone').touched">
            <small>(*Must start with +91)</small>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="refferid"> RefferID </label>
          <input type="text" id="refferid" name="refferid" [value]="b===undefined?'':b" formControlName="reffered_id"
            placeholder="Enter RefferId">
          <small style="font-size: 12px;">*If don't have refferal id, use (admin123)</small>
        </div>
      </div>
      <div class="column">
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" id="state" name="state" formControlName="state" placeholder="Enter Your State">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="column">

        <div class="form-group">
          <label for="email"> Email </label>
          <input type="email" id="email" formControlName="email" placeholder="Enter Email">
        </div>
      </div>
      <div class="column">

        <div class="form-group ">
          <label for="designation">Designation</label>
          <select class="Designation" name="designation" id="designation" formControlName="designation">
            <option value="">Select</option>
            <option value="software engineer">Software engineer</option>
            <option value="bussiness manager">Bussiness Manager</option>
            <option value="web developer">Web Developer</option>
            <option value="full stack">Full stack developer</option>
          </select>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="form-group Gender">
          <label for="gender">Gender</label>
          <input type="radio" name="gender" formControlName="gender" value="male" id="gender1">
          <label for="gender1">Male</label>
          <input type="radio" name="gender" formControlName="gender" value="female" id="gender2">
          <label for="gender2">Female</label>
          <input type="radio" formControlName="gender" name="gender" value="other" id="gender3">
          <label for="gender3">Other</label>
        </div>
      </div>
      <div class="col">
        <div class=" form-group Qualification">
          <label for="ten">Qualification</label>
          <input type="radio" formControlName="qualification" value="ten" name="qualification" id="qualification1">
          <label for="ten">10th</label>
          <input type="radio" formControlName="qualification" value="twelve" name="qualification" id="qualification2">
          <label for="twelve">10+2</label>
          <input type="radio" formControlName="qualification" value="graduation" name="qualification"
            id="qualification2">
          <label for="graduation">Graduation</label>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="experience">Experience</label>
          <select class="Experiance" name="experiance" id="experiance" formControlName="experiance">
            <option value="undefined">Select</option>
            <option *ngFor="let data of userExperience" [value]="data.name">{{data.name}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="salary">Salary</label>
          <input type="text" name="salary" formControlName="salary" id="salary" placeholder="Enter salary">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="dob"> DOB </label>
          <input type="date" id="dob" name="dob" formControlName="dob" placeholder="Enter DOB">
        </div>

      </div>
      <div class="column">
        <div class="form-group">
          <label for="doj">DOJ</label>
          <input type="date" id="doj" name="doj" formControlName="doj" placeholder="Date of Joining">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="user_id"> User Id </label>
          <input type="text" id="userid" name="user_id" formControlName="user_id" placeholder="User ID">
        </div>

      </div>
      <div class="column">
        <div class="form-group">
          <label for="user_password">Password</label>
          <input type="text" id="user_password" formControlName="user_password" placeholder="Password">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="footer">
        <div class="account">
          <span>Have an account?</span><a href="/memberlogin">Login</a>
        </div>
        <div>
          <button type="submit" class="save" [disabled]="!signForm.valid" data-toggle="dismiss">Register</button>

        </div>


      </div>
    </div>


  </form>
</div> -->
