<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add Partner Details</h5>
</div>
<div class="modal-body">
  <form [formGroup]="partnerForm" (ngSubmit)="addMiningData(partnerForm)">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="refid">Ref ID</label>
          <input
            type="text"
            class="form-control"
            formControlName="reffered_id"
            id="refid"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="name">First Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="First Name"
            formControlName="name"
            id="name1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="lname">Last Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Last Name"
            formControlName="lname"
            id="lname1"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="aadhar">Aadhar</label>
          <input
            type="text"
            class="form-control"
            formControlName="aadhar"
            id="aadhar1"
          />
          <span
            style="color: red"
            *ngIf="
              partnerForm.get('aadhar').invalid &&
              partnerForm.get('aadhar').touched
            "
          >
            <small>(*Only 12digit numbers allowed)</small>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            id="phone1"
          />
          <span
            style="color: red"
            *ngIf="
              partnerForm.get('phone').invalid &&
              partnerForm.get('phone').touched
            "
          >
            <small>(*Must start with +91)</small>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            id="email1"
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="address">Address</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="address"
          id="address1"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="state">State</label>
          <input
            type="text"
            class="form-control"
            formControlName="state"
            id="state1"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="dob">DOB</label>
          <input
            type="date"
            class="form-control"
            formControlName="dob"
            id="dob1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nominee_name">Nominee Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="nominee_name"
            id="nominee_name1"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="nominee_aadhar">Nominee Aadhar</label>
          <input
            type="text"
            class="form-control"
            formControlName="nominee_aadhar"
            id="nominee_aadhar1"
          />
          <span
            style="color: red"
            *ngIf="
              partnerForm.get('nominee_aadhar').invalid &&
              partnerForm.get('nominee_aadhar').touched
            "
          >
            <small>(*Only 12digit numbers allowed)</small>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nominee_phone">Nominee Phone</label>
          <input
            type="text"
            class="form-control"
            formControlName="nominee_phone"
            id="nominee_phone1"
          />
          <span
            style="color: red"
            *ngIf="
              partnerForm.get('nominee_phone').invalid &&
              partnerForm.get('nominee_phone').touched
            "
          >
            <small>(*Must start with +91)</small>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="dop">DOP</label>
          <input
            type="date"
            class="form-control"
            formControlName="dop"
            id="dop1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="liquidity">Liquidity</label>
          <select
            name="liquidity"
            id="liquidity"
            formControlName="liquidity"
            class="form-control"
          >
            <option value="">Select Liquidity</option>
            <option value="600000">6 Lakh</option>
            <!-- <option value="500000">5 Lakh</option>
                  <option value="400000">4 Lakh</option> -->
            <option value="300000">3 Lakh</option>
            <option value="200000">2 Lakh</option>
            <option value="100000">1 Lakh</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="terms">Terms</label>
          <input
            type="text"
            class="form-control"
            formControlName="terms"
            id="terms"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="userid">User ID</label>
          <input
            type="text"
            class="form-control"
            formControlName="user_id"
            id="userid1"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="text"
            class="form-control"
            formControlName="password"
            id="password1"
          />
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Close
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!partnerForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
