<div class="bakk-div">
    <ng-container *ngIf="partnerRequestHistory && partnerRequestHistory.length > 0; else noRequests">
        <mat-card class="example-card" *ngFor="let data of partnerRequestHistory">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Request details</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="single-line-content">
                <div class="bank-details">
                    <h2>Id</h2>{{ data.m_userid }}
                </div>
                <div class="bank-details">
                    <h2>Amount</h2><strong>{{ data.member_wallet | currency:'INR':'symbol':'1.2-2' }}</strong>
                </div>
                <div class="bank-details">
                    <h2>Referral</h2>{{ data.reffer_p_userid }}
                </div>
                <div class="bank-details">
                    <h2>Request date</h2>{{ data.request_date | date }}
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button mat-button style="background: rgb(87, 251, 87);">Request</button>
                <button mat-button style="background: red;">Approve</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <ng-template #noRequests>
        <mat-card class="example-card">
            <mat-card-content>
                <p>No withdrawal request</p>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>
