
.account-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #b63003;
  border-radius: 5px;
  margin-left: 300px;
  padding: 10px;
}
.account-header p{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: Calibri;
  margin-top: 30px;
}
.wallet-div{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100px;
  height: 40px;
  background: #f8fc02;
  color: #b63003;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}
.account-content{
  margin-left: 300px;
}
.bakk-div{
  display: flex;
  height: auto;
  flex-wrap: wrap;
  margin-top: 30px;
}
.example-card {
  margin: 10px;
  width: 300px;
}

.bank-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.bank-details h2{
  font-weight: 400;
  color: #9d9a9a;
  font-size: small;
}
.example-header-image{
  background-image: url("/assets/image/bank.jpg");
  background-size: cover;
}

@media (max-width: 768px) {
  .account-header, .account-content{
      margin-left: 0
  }
}