.mat-dialog-title {
    background-color: #b63003;
    color: #fefefe;
    font-size: 18px;
    font-weight: 600;
    margin-left: -24px;
    margin-right: -27px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* .verifyFranchiseModal{
    width: 300px; 
    height: 300px
} */
