<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h3><a class="fa fa-qrcode" href="/statedashboard"></a></h3>
    <h2><span class="fa fa-qrcode"></span><a style="color: #fff;" href="javascript:void(0)" (click)="dashboard()">Dashboard</a></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li> 
        <a href="javascript:void(0)"><i class="fa fa-user"  [matMenuTriggerFor]="menuProfile"></i>
          <span  [matMenuTriggerFor]="menuProfile">My Profile</span>
        </a>
      </li>
      
      <li>
        <a href="javascript:void(0)" (click)="addFranchise()"><i class="fa fa-plus"></i>
          <span>Add franchise</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="franchiseList()"><i class="fa fa-list"></i>
          <span>Franchise list</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="handleWithdrawalClick()"><i class="fa fa-money"></i>
          <span>Withdrawal</span>
        </a>
      </li>
      <li>
        <a href=""><i class="fa fa-sign-out"></i>
          <span (click)="logOut()">Log Out</span>
        </a>
      </li>

    </ul>
  </div>
</div> 

<mat-menu #menuProfile="matMenu">
  <button mat-menu-item (click)="openDialog()">Details</button>
  <button mat-menu-item (click)="openStateDocumentsDialog()">Documents</button>
</mat-menu>


<div class="main-content">
  <header>
    <!-- <h2>
      <label for="nav-toggle">

        <div class="d-flex justify-content-between">
          <span class="fa fa-bars"></span>
          <span>CENTUM WORLD</span>
        </div>
      </label>
    </h2> -->
    <div class="toggle">
      <span class="fa fa-bars" (click)="toggleSidebar()">&nbsp;</span>
      <p>CENTUM WORLD</p>
    </div>

    <div class="user-wrapper">
      <button mat-button class="loin_button" [matMenuTriggerFor]="menu"><img src="assets/image/profile.png" alt=""
          width="50px" height="50px"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item data-toggle="modal" data-target="#myProfileDetails">Profile</button>
        <button mat-menu-item data-toggle="modal" data-target="#memberSummary">Summary</button>
        <a href="" mat-menu-item (click)="logOut()">Log Out</a>
      </mat-menu>
      <div>

        <small style="color: crimson;"></small>
      </div>
    </div>
  </header>
</div>


<div class="mobile-sidebar" [ngStyle]="{'display': isVisible ? 'block' : 'none'}">
  <div class="mobile-sidebar-heading">
    <div class="mobile-header">
      <div class="centum-header">
      <img src="../../../../assets/image/clogo.png" alt="" height="60" width="60">
      <span>CENTUM MINING RIG</span>
    </div>
      <span class="fa fa-close" (click)="closeSidebar()"></span>
      </div>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li> 
        <a href="javascript:void(0)"><i class="fa fa-user"  [matMenuTriggerFor]="menuProfile"></i>
          <span  [matMenuTriggerFor]="menuProfile">My Profile</span>
        </a>
      </li>
      
      <li>
        <a href="javascript:void(0)" (click)="addFranchise()"><i class="fa fa-plus"></i>
          <span>Add franchise</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="franchiseList()"><i class="fa fa-list"></i>
          <span>Franchise list</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="handleWithdrawalClick()"><i class="fa fa-money"></i>
          <span>Withdrawal</span>
        </a>
      </li>
      <li>
        <a href=""><i class="fa fa-sign-out"></i>
          <span (click)="logOut()">Log Out</span>
        </a>
      </li>

    </ul>
  </div>
</div>