<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h3><a class="fa fa-qrcode" href="/memberdashboard"></a></h3>
    <h2><span class="fa fa-qrcode" style="color: #fff;"></span><a href="javascript:void(0)" (click)="refresh()">Dashboard</a></h2>
  </div>
  <div class="sidebar-menu">
    <ul>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-user" [matMenuTriggerFor]="menuProfile"></i>
          <span [matMenuTriggerFor]="menuProfile">My Profile</span>
        </a>

      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-plus"></i>
          <span (click)="addMember()">Add Member</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-user"></i>
          <span (click)="listMember()">Member List</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-money"></i>
          <span (click)="handleWithdrawalClick()">Withdraw</span>
        </a>
      </li>

      <li>
        <a href=""><i class="fa fa-sign-out"></i>
          <span (click)="logOut()">Log Out</span>
        </a>
      </li>

    </ul>
  </div>
  <mat-menu #menuProfile="matMenu">
    <button mat-menu-item (click)="openBusinessDevDetailsDialog()">Details</button>
    <button mat-menu-item (click)="openBdDocumentsDialog()">Documents</button>
  </mat-menu>
</div>
<div class="main-content">
  <header>

    <div class="logo-centum">
      <h3 style="color: #000;">CENTUM WORLD</h3>
    </div>

    <div class="user-wrapper">
      <button mat-button class="loin_button" [matMenuTriggerFor]="menu"><img src="assets/image/profile.png" alt=""
          width="50px" height="50px">
      </button>
      <p class="fa fa-bars mobile-bars" (click)="toggleSidebar()"></p>
      <mat-menu #menu="matMenu">
        <button mat-menu-item data-toggle="modal" data-target="#myProfileDetails">Profile</button>
        <button mat-menu-item data-toggle="modal" data-target="#memberSummary">Summary</button>
        <a href="" mat-menu-item (click)="logOut()">Log Out</a>
      </mat-menu>
      <div>
        <small style="color: crimson;"></small>
      </div>
    </div>
  </header>

</div>

<div class="mobile-sidebar" [ngStyle]="{'display': isVisible ? 'block' : 'none'}">
  <div class="mobile-sidebar-heading">
    <div class="mobile-header">
      <div class="centum-header">
      <img src="../../../../assets/image/clogo.png" alt="" height="60" width="60">
      <span>CENTUM MINING RIG</span>
    </div>
      <span class="fa fa-close" (click)="closeSidebar()"></span>
      </div>
  </div>
  <div class="sidebar-menu">
    <ul>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-user" [matMenuTriggerFor]="menuProfile"></i>
          <span [matMenuTriggerFor]="menuProfile">My Profile</span>
        </a>

      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-plus"></i>
          <span (click)="listBussinessDeveloper()">Add Member</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-user"></i>
          <span (click)="listMember()">Member List</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-money"></i>
          <span (click)="handleWithdrawalClick()">Withdraw</span>
        </a>
      </li>

      <li>
        <a href=""><i class="fa fa-sign-out"></i>
          <span (click)="logOut()">Log Out</span>
        </a>
      </li>

    </ul>
  </div>
</div>