<div class="sidebar">
    <header><i class="fa fa-qrcode"></i> Dashboard <i class='bs bx-menu' id="btn"></i></header>
    <ul>
        <li>
            <a href="#"><i class="fa fa-user"></i>
                No. of Teammates
            </a>
        </li>
        <li>
            <a href=""><i class="fa fa-book"></i>
                Attendance
            </a>
        </li> 
        <li>
            <a href=""><i class="fa fa-play"></i>
                Activity
            </a>
        </li>
        <li>
            <a href=""><i class="fa fa-home fa-fw"></i>
                Leave Management
            </a>
        </li>
        <li>
            <a href=""><i class="fa fa-money"></i>
                Acount Management
            </a>
        </li>
        <li>
            <a href=""><i class="fa fa-pencil"></i>
                Add Note
            </a>
        </li>
        <li>
            <a href=""><i class="fa fa-arrow-circle-up"></i>
                Designation
            </a>
        </li>
        
        
    </ul>
    
</div>