<div class="contact-wrapper" id="contact">
  <div class="contact-container">
    <h1>Contact Us</h1>
    <p>
      Feel free to contact us any time. We will get back to you as soon as we
      can
    </p>
    <div class="input-container">
      <mat-form-field appearance="standard" class="text-input">
        <mat-label>Name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="standard" class="text-input">
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="standard" class="text-input">
        <mat-label>Message</mat-label>
        <input matInput />
      </mat-form-field>

      <button class="send-btn">SEND</button>
    </div>
  </div>
  <div class="color-div"></div>
</div>
