<div class="paynow-container">
  <div class="paynow-cards">
    <div class="cards-header">
      <p>Upload invoice and bond</p>
    </div>
    <hr />
    <div class="cards-pay-content">
      <div class="pay-form">
        <!-- <p>Upload invoce</p> -->
        <div class="form-data">
          <form [formGroup]="invoiceForm" (ngSubmit)="uploadInvoice()">
            <label for="pdfInput">Select invoice file</label>
            <input
              type="file"
              accept=".pdf"
              (change)="handleFileInput($event)"
            />
            <br />
            <label for="pdfInput">Select bond file</label>
            <input
              type="file"
              accept=".pdf"
              (change)="handleFileInputBond($event)"
            />

            <button
            class="custom-button" 
              mat-raised-button
              type="submit"
              color="primary"
              style="width: 250px"
              [disabled]="invoiceForm.invalid"
            >
              Upload
            </button>
          </form>
        </div>
      </div>
      <div class="pay-form">
        <div class="image-div" >
          <img src="../../../../../assets/image/Uploading.gif" />
        </div>
      </div>
    </div>
  </div>
</div>
