.paynow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 40px;
}

.paynow-cards {
  width: 60%;
  height: 50vh;
  border-radius: 40px;
  box-shadow: 0 0 10px 0 #f0f0f0;
  border: 1px solid #f0f0f0;
}
.cards-header {
  padding: 20px 20px 0 20px;
}
.cards-header p {
  font-size: 18px;
  font-weight: 600;
}
.paynow-cards hr {
  margin: 0;
}

.cards-pay-content {
  display: flex;
  padding: 0 10px 0 20px;
  align-items: center;
  justify-content: center;
}

.cards-pay-content div {
  flex: 1;
  padding: 10px 0 0 5px;
  border-right: 1px solid #ccc;
}
.cards-pay-content div:last-child {
  border-right: none;
}
.bank-container div {
  border-right: none;
  line-height: 1px;
}
.pay-form p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.form-data form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bank-name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.bank-name p {
  font-size: 14px;
}
.bank-name h6 {
  font-size: 14px;
  color: #1a4038;
  font-weight: 600;
}

/* .image-div {
    width: 100%;
    height:100%;
    over-flow:hidden;
  }
  
  .image-div img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
     */

.image-div {
  width: 300px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.image-div img {
  width: 100%;
  height: auto;
  display: block;
}

.custom-button {
  background-color: #3f51b5 !important;
  color: white !important;
  margin-top: 1.5rem;
  cursor: pointer !important;
}

.custom-button:hover {
  background-color: darkblue !important;
  color: white !important;
}

@media (max-width: 768px) {
  .image-div {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .paynow-container {
    padding: 10px;
  }
  .paynow-cards {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
  }
  .cards-header {
    padding: 10px 20px 0 5px;
  }

  .cards-pay-content {
    flex-direction: column;
  }
  .cards-pay-content div {
    flex: none;
    border-right: none;
    padding: 10px 0 0 2px;
  }
}
