.mat-dialog-title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #104af6;
    margin-left: -22px;
    margin-right: -22px;
    padding-left: 20px;
}
.custom-heading {
    color:#fbf9f9;
}

.franchise-documets-modal-ok{
    background: #0d6efd;
    color:#fbf9f9;
}