.mat-dialog-title {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5476f2;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 16px;
    margin-top:-24px;
    color:#fff;
}

.member-documets-modal-ok{
    margin-top:20px;
    background: #5476f2;
    color:#fff;
}