<div class="tech-team-wrapper">
    <div class="teach-team-container">
        <h1 class="team-heading">Technical Team</h1>
        <div class="image-container">
            <div class="member-name-box #1">
                <img src="../../../assets/techTeam/vikrant.png" alt="" width="200">
                <p>Vikrant Kumar</p>
            </div>
            <div class="member-name-box #2">
                <img src="../../../assets/techTeam/prashant.png" alt="" width="200">
                <p>Prashant Kumar</p>
            </div>
            <div class="member-name-box #3">
                <img src="../../../assets/techTeam/badal.png" alt="" width="200">
                <p>Badal Mandal</p>
            </div>
            <div class="member-name-box #4">
                <img src="../../../assets/techTeam/lakhan.png" alt="" width="200">
                <p>Lakhan Mahto</p>
            </div>
            <div class="member-name-box #5">
                <img src="../../../assets/techTeam/animesh.png" alt="" width="200">
                <p>Animesh Gupta</p>
            </div>
        </div>
    </div>
</div>