<main>
  <div  class="cards">
    <div class="card-single">
      <div>
        <h6 style="display: flex;">Promotion 
          <span *ngIf="usertype === 'BMM'"><mat-icon style="color: orange">trending_flat</mat-icon></span>
          <span *ngIf="usertype === 'FRANCHISE'"><mat-icon style="color: rgb(140, 252, 120);">trending_up</mat-icon></span>
          <span *ngIf="usertype === 'MEMBER'"><mat-icon style="color: rgb(140, 252, 120);">trending_up</mat-icon></span>
        </h6>
        <span>See your upgrade or downgrade</span>
      </div>
      <div><mat-icon (click)="udgrade()">visibility</mat-icon></div>
    </div>
    <div class="card-single">
      <div>
        <h6>Profile</h6>
        <span>See your profile!</span>
      </div>
      <!-- <div class="icon" [matMenuTriggerFor]="menuProfile">
        <span>View</span>
      </div> -->
      <!-- Add a Material Design bank icon -->
      <button mat-icon-button [matMenuTriggerFor]="menuBank">
        <mat-icon>account_balance</mat-icon> <!-- Use the appropriate Material Design bank icon name -->
      </button>
      <mat-menu #menuBank="matMenu">
        <button mat-menu-item (click)="stateAddBankDialog()">Add Bank</button>
        <button mat-menu-item (click)="stateViewBankDetailsDialog()">View Bank Details</button>
      </mat-menu>
      <mat-menu #menuProfile="matMenu">
        <!-- Define your menu items here -->
        <!-- <button mat-menu-item (click)="openDialog()">Details</button>
        <button mat-menu-item (click)="stateAddBankDialog()">Documents</button> -->
        <!-- Add more menu items as needed -->
      </mat-menu>
    </div>
    <div class="card-single">
      <div >
        <h6>BMM ID :- {{displayStateHandlerId}}</h6>
        <span >Referral ID &nbsp;<a href="/statedashboard/add-franchise?refferId={{displayStateHandlerReferralId}}"
            >{{displayStateHandlerReferralId}}</a></span>&nbsp;
            <span style="margin-left: 1rem;">
              <mat-icon matSuffix (click)="shareFunction()">share</mat-icon>
            </span>
          </div>
    </div>
   
    <div class="card-single">
      <div>
        <h6>Partner Team</h6>
        <span></span>
      </div>
      <div data-toggle="modal" (click)="partnerMyTeam()" >
        <div class="icon">
          <span>View</span>
        </div>
      </div>
    </div>
    <div class="card-single">
      <div>
        <h6>Transaction</h6>
        <span>Total Wallet</span>
      </div>
      <div>
        <b>{{totalWalletOfState | currency:'INR'}}</b>
      </div>
      <div style="font-size:medium; font-weight: bold;"></div>
    </div>
    <div class="card-single">
      <div>
        <h6>Withdrawal Request</h6>
      </div>
      <div data-toggle="modal"(click)= "viewWithdrawalRequestList()">
        <div class="icon">
          <span>View</span>
        </div>
      </div>
    </div>
    <div class="card-single">
      <div>
        <h6>Withdrawal success</h6>
      </div>
      <div data-toggle="modal" (click)="viewWithdrawalSuccessList()">
        <div class="icon">
          <span>View</span>
        </div>
      </div>
    </div>
    <div class="card-single">
      <div>
        <h6>Transaction</h6>
        <span>Total Withdrawal</span>
      </div>
      <div>
        <b>{{totalWithdrawalOfState | currency:'INR'}}</b>
      </div>
      <div style="font-size:medium; font-weight: bold;"></div>
    </div>
  </div>
</main>