<div class="register-container">
  <div class="image-container">
    <div class="logo">
      <img src="../../../assets/image/clogo.png"width="80px" height="80px"   />
      <p>CENTUM WORLD</p>
    </div>
    <div class="image">
      <img src="../../../assets/image/signupui.gif" />
    </div>
  </div>
  <div class="form-container">
    <div class="heading"
    >
      <img src="../../../assets/image/referralgif.gif" width="50%" height="200px"/>
    </div>
    <div class="main-form">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Login">
          <div class="form-content">
            <form [formGroup]="memberLoginForm" (ngSubmit)="loginMember(memberLoginForm)">
              <mat-form-field appearance="outline" class="input">
                <mat-label>Referral ID</mat-label>
                <input matInput formControlName="loginUser_id" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label> Password</mat-label>
                <input [type]="passwordFieldType" formControlName="loginPassword" matInput required />
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                  <mat-icon>{{ showPasswordIcon }}</mat-icon>
                </button>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">
                <ng-container *ngIf="spin; else loginText">
                  <mat-spinner diameter="40"></mat-spinner>
                </ng-container>
                <ng-template #loginText>SIGN IN</ng-template>
              </button>

              <br>
              <div class="back" (click)="gotoDhasboard()"><mat-icon>home</mat-icon> <a href="javascrip:void(0)" style="text-decoration: none !important;color:#0000FF; margin-right: 5px;">Back to home</a></div>
            </form>
          </div>
          <div class="bottom-section">
            <p>WE COLLABORATE - WE WORK - WE EARN - WE SHARE </p>
            <p>IaaS (Infrastructure as a Service )</p>
          </div>
        </mat-tab>
        <mat-tab label="Sign Up">
          <div class="form-content">
            <form [formGroup]="memberSignUpFrom" (ngSubmit)="addMemberData(memberSignUpFrom)">

              <mat-form-field appearance="outline">
                <mat-label>Select referral type</mat-label>
                <mat-select [(value)]="role" (selectionChange)="onRoleChange($event)">
                  <mat-option>Select one</mat-option>
                  <mat-option value="OFFICIAL">Official ID</mat-option>
                  <mat-option value="Franchise">Franchise Referral ID</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Referral ID</mat-label>
                <input matInput formControlName="reffered_id" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput formControlName="name" />
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lname" />
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input #phoneNumberInput matInput formControlName="phone" id="phoneNumber" placeholder="Phone"
                  type="tel" 
                  maxlength="11"
                  />
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option>Select one</mat-option>
                  <mat-option value="MALE">Male</mat-option>
                  <mat-option value="FEMALE">Female</mat-option>
                  <mat-option value="OTHER">Other</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline">
                <mat-label>Qualification</mat-label>
                <mat-select formControlName="qualification">
                  <mat-option>Select one</mat-option>
                  <mat-option value="METRIC">10TH</mat-option>
                  <mat-option value="INTERMEDIATE">INTERMEDIATE</mat-option>
                  <mat-option value="GRADUATION">GRADUATION</mat-option>
                </mat-select>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline">
                <mat-label>Designation</mat-label>
                <mat-select formControlName="designation">
                  <mat-option>Select one</mat-option>
                  <mat-option value="SOFTWAREENGINEER">Marketing Executive</mat-option>
                  <mat-option value="BUSINESSMANAGER">Business Developer</mat-option>
                  <mat-option value="WEBDEVELOPER">Franchise</mat-option>
                  <mat-option value="FULLSTACK">Referral</mat-option>
                </mat-select>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline">
                <mat-label>Experience</mat-label>
                <mat-select formControlName="experience">
                  <mat-option>Select one</mat-option>
                  <mat-option value="1 Year">1 Year</mat-option>
                  <mat-option value="2 Year">2 Year</mat-option>
                  <mat-option value="3 Year">3 Year</mat-option>
                  <mat-option value="More than 3 year">More than 3 year</mat-option>
                </mat-select>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline">
                <mat-label>Salary</mat-label>
                <input matInput formControlName="salary" />
                <mat-icon matSuffix>&#8377;</mat-icon>
              </mat-form-field> -->

              <mat-form-field appearance="outline">
                <mat-label>Enter your address</mat-label>
                <input matInput formControlName="address" />
                <mat-icon matSuffix>location_on</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" class="state-input">
                <mat-label>Select State</mat-label>
                <mat-select formControlName="state" (selectionChange)="onStateChange()">
                  <mat-option *ngFor="let state of states" [value]="state">{{
                    state
                    }}</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline">
                <mat-label>Enter your state</mat-label>
                <input matInput formControlName="state" />
                <mat-icon matSuffix>pin_drop</mat-icon>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="input">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label>Date of Joining</mat-label> 
                <input matInput [matDatepicker]="dopPicker" formControlName="doj" />
                <mat-datepicker-toggle matSuffix [for]="dopPicker"></mat-datepicker-toggle>
                <mat-datepicker #dopPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Aadhaar front</mat-label>
                <input matInput type="text" [value]="aadharImageName" placeholder="No file chosen" readonly />
                <input type="file" id="aadharImage" (change)="onFileSelected($event, 'front')"                   accept="image/png, image/jpeg, image/jpg"  />
                <div
                style="color: red"
                *ngIf="
                memberSignUpFrom
                    .get('aadharImage')
                    .hasError('fileSizeExceeded')
                "
              >
                File size exceeds 2MB.
              </div>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Aadhaar back</mat-label>
                <input matInput type="text" placeholder="No file chosen" readonly />
                <input type="file" (change)="onFileSelected($event, 'back')"                   accept="image/png, image/jpeg, image/jpg" />
                <div
                style="color: red"
                *ngIf="
                memberSignUpFrom
                    .get('aadharBackImage')
                    .hasError('fileSizeExceeded')
                "
              >
                File size exceeds 2MB.
              </div>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>PAN Card</mat-label>
                <input matInput type="text" placeholder="No file chosen" readonly />
                <input type="file" (change)="onFileSelected($event, 'pan')"                   accept="image/png, image/jpeg, image/jpg" />
                <div
                style="color: red"
                *ngIf="
                memberSignUpFrom.get('panImage').hasError('fileSizeExceeded')
                "
              >
                File size exceeds 2MB.
              </div>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label>Referral ID</mat-label>
                <input matInput formControlName="user_id" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label> Password</mat-label>
                <input [type]="passwordFieldType" formControlName="password" matInput required />
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                  <mat-icon>{{ showPasswordIcon }}</mat-icon>
                </button>
              </mat-form-field>
              <mat-checkbox (change)="handleChange($event)">I agree to the <span style="color: #3f51b5;" (click)="privacyPolicy()">Privacy Policy</span></mat-checkbox>
              <br>
              <button mat-raised-button color="primary" type="submit" [disabled]="!privacy">
                <ng-container *ngIf="spin; else registerText">
                  <mat-spinner diameter="40"></mat-spinner>
                </ng-container>
                <ng-template #registerText>Create Account</ng-template>
              </button>
              <br>
              <div class="back" (click)="gotoDhasboard()"><mat-icon>home</mat-icon> <a href="javascrip:void(0)" style="text-decoration: none !important; color: #0000FF;">Back to home</a></div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="login-container" *ngIf="change"></div>
    </div>
  </div>
</div>