<div class="franchise-wrapper">
  <div class="franchise-container">
    <div class="franchise-header">
      <div class="fcompany-name">
        <img src="../../../assets/image/clogo.png" alt="" height="60" width="60">
        <span (click)="GoToHome()">Centum World</span>
      </div>
      <div class="already-button">
        <button (click)="SignUpFranchise()">SignUp</button>
      </div>
    </div>
    <div class="input-container">
      <div class="franchise-login-header">
        <h1>WELCOME BACK EXCLUSIVE FRANCHISE</h1>
        <p>LOG IN TO CONTINUE</p>
      </div>
      <div class="input-fields-container">
        <form [formGroup]="franchiseLoginForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field appearance="outline" class="name-input">
              <mat-label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                </svg>Username</mat-label>
              <input matInput formControlName="franchiseId" required />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="password-input">
              <mat-label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-lock-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                </svg>Password</mat-label>
              <input matInput [type]="passwordFieldType" formControlName="franchisePassword" required />
              <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{ showPasswordIcon }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button class="franch-login-btn">PROCEED</button>
        </form>
      </div>
    </div>
  </div>
</div>










<!-- <div class="logo">
  <img src="assets/image/clogo.png" alt="" />
</div>
<div class="box">
  <div class="form">
    <h2>Franchise Login</h2>
    <form [formGroup]="franchiseLoginForm" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <div class="form-group">
          <input type="text" formControlName="franchiseId" required />
          <span>FranchiseId</span>
          <i></i>
        </div>
      </div>

      <div class="input-box">
        <div class="form-group">
          <input
            type="password"
            formControlName="franchisePassword"
            required
          />
          <span>Password</span>
          <i></i>
        </div>
      </div>
      <br />
      <div class="login-header">
        <div class="login">
          <button
            class="btn btn-primary"
            [disabled]="!(franchiseLoginForm.valid && franchiseLoginForm.dirty)"
            (click)="onSubmit()"
          >
            Login
          </button>
        </div>

        <div class="home">
          <a href="" class="btn btn-secondary">Home</a>
        </div>
      </div>
      <a class="btn btn-primary" href="/dashboard">Login</a>

      <br />
      <div class="link">
        <a href="https://centumworld.com">Centum World</a>
      </div>
      <div class="forget_password">
        <a
          href="javascript:void(0)"
          data-toggle="modal"
          data-target="#exampleModal"
          >Forgot Password</a
        >
      </div>
      <div class="signup">
        <p>
          Haven't an account ?
          <a
            href="javascript:void(0)"
            style="color: white"
            (click)="SignUpFranchise()"
            >SignUp</a
          >
        </p>
      </div>
    </form>
  </div>
</div> -->