<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h3><a class="fa fa-qrcode" href="/memberdashboard"></a></h3>
    <h2><span class="fa fa-qrcode"></span><a style="color: #fff;" href="/statedashboard">Dashboard</a></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-user"></i>
          <span (click)="openDialog()">My Profile</span>
        </a>
      </li>
      
      <li>
        <a href="/statedashboard/add-franchise"><i class="fa fa-user"></i>
          <span>Add franchise</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)"><i class="fa fa-money"></i>
          <span data-toggle="modal" data-target="#eachMonthWithdrawalHistory">Withdrawal</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-users"></i>
          <span data-toggle="modal" data-target="#myTeamUseMyRefferalIdForPartner">Team</span>

        </a>
      </li>
      <li>
        <a href=""><i class="fa fa-sign-out"></i>
          <span (click)="logOut()">Log Out</span>
        </a>
      </li>

    </ul>
  </div>
</div> 
<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">

        <div class="d-flex justify-content-between">
          <span class="fa fa-bars"></span>
          <span>CENTUM WORLD</span>
        </div>
      </label>

    </h2>

    <div class="user-wrapper">
      <button mat-button class="loin_button" [matMenuTriggerFor]="menu"><img src="assets/image/profile.png" alt=""
          width="50px" height="50px"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item data-toggle="modal" data-target="#myProfileDetails">Profile</button>
        <button mat-menu-item data-toggle="modal" data-target="#memberSummary">Summary</button>
        <a href="" mat-menu-item (click)="logOut()">Log Out</a>
      </mat-menu>
      <div>

        <small style="color: crimson;">{{displayUserId}}</small>
      </div>
    </div>
  </header>

  <main>

    <div *ngIf="!profileDetails" class="cards">
      <div class="card-single">
        <div>
          <h6>Profile</h6>
          <span>See your profile!</span>

        </div>

        
        <div class="icon" (click)="openDialog()">
          <span>View</span>
        </div>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#addBankDetail">
          <i class="fa fa-bank"></i>
        </a>
      </div>

      <div class="card-single">
        <div>
          <h6>User ID {{displayStateHandlerId}}</h6>
          <span>Refferal ID &nbsp;<a href="/franchiseSignUp?refferId={{displayStateRefferalId}}"
              target="_blank">{{displayStateRefferalId}}</a></span>
    
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Wallet</h6>
          <span>Each day transaction!</span>
        </div>
        <div data-toggle="modal" data-target="#memberEachDayWalletDeposite">
          <div class="icon"><span>View</span></div>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Partner Team</h6>
          <span></span>
        </div>
        <div data-toggle="modal" data-target="#myTeamUseMyRefferalIdForPartner">
          <div class="icon">
            <span>View</span>
          </div>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Transaction</h6>
          <span>Total Wallet</span>
        </div>
        <div style="font-weight: bold; font-size:medium;">{{memberTotalWalletOfEachMonth | currency: 'INR'}}</div>
      </div>

      <div class="card-single">
        <div>
          <h6>Withdrawal Request</h6>

        </div>
        <div data-toggle="modal" data-target="#memberWithdrawalRequest">
          <div class="icon">
            <span>View</span>
          </div>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Withdrawal success</h6>

        </div>
        <div data-toggle="modal" data-target="#eachMonthWithdrawalHistory">
          <div class="icon">
            <span>View</span>
          </div>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Transaction</h6>
          <span>Total Withdrawal</span>
        </div>
        <div style="font-size:medium; font-weight: bold;">{{paidAmount | currency:'INR'}}</div>
      </div>


    </div>

    <div *ngIf="profileDetails">
      <app-member-portal-details></app-member-portal-details>
    </div>


  </main>
</div>
















