<div class="partnerview_container">
    <div class="partner_view_card">
        <div class="heading ">
            <p>{{userid}} Details</p>
            <span *ngIf="userStatus">Active </span>
            <span *ngIf="month_count === 12 && !userStatus" style="color: red;">Closed </span>
            <button *ngIf="!userStatus && month_count === 0" class="btn btn-outline-success" (click)="confirmModal()">Do
                Activate</button>
        </div>
        <div *ngIf="userStatus" class="paid-div">
            <div class="user-name">
                <span>User ID</span>
                <br>
                <strong>{{userid}}</strong>
            </div>
            <div class="per-day-amount">
                <span>Per Day Amount</span>
                <br>
                <select name="" id="" [(ngModel)]="perDayAmount" class="form-control">
                    <option value="undefined">Select Amount</option>
                    <option value="real">{{perDayAmountDropDown | currency:'INR'}}</option>
                    <option value="zero">{{0 | currency:'INR'}} </option>
                </select>
            </div>
            <div class="paid-date">
                <span>Paid Date</span>
                <br>
                <input type="datetime-local" class="form-control" [(ngModel)]="selectDate" >
            </div>
            <div class="paid-button">
                <!-- <span class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">Pay</span> -->
                <span class="btn btn-primary" (click)="perDayFunction()"  >Pay</span>
            </div>
        </div>
        <div *ngIf="userStatus||(month_count === 12)" class="day-month">
            <ul>
                <li class="btn" id="day" (click)="tabChange('day')">Day Wise</li>|&nbsp;
                <li class="btn" id="request" (click)="tabChange('request')">Withdrawal Request</li>|&nbsp;
                <li class="btn" id="withdrawal" (click)="tabChange('withdrawal')">Withdrawal History</li>|&nbsp;
                <li class="btn" id="withdrawal" (click)="tabChange('payment')">Payment History</li>
            </ul>
            <div class="content">
                <div class="content-value" *ngIf="id === 'day'">
                    <div class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Sr no</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of partnerDailyAmount; let i= index">
                                <td>{{i+1}}</td>
                                <td>{{data.walletAmount | currency:'INR'}}</td>
                                <td>{{data.wallet_update_date | date:'medium'}}</td>
                                <td><span>Paid</span></td>
                            </tr>
                        </tbody>
                    </div>
                </div>
                <div class="content-value" *ngIf=" id === 'request'">
                    <div class="container">
                        <h6 style="color: rgb(68, 68, 248);">Withdrawal Request</h6>
                        <table class="table table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Sr No</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Service Charge (5%)</th>
                                    <th scope="col">Payable Amount</th>
                                    <th scope="col">Requested Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of partnerWithdrawalRequestHistroy; let i= index">
                                    <td>{{i+1}}</td>
                                    <td>{{data.partner_wallet |currency:'INR'}}</td>
                                    <td>{{(data.partner_wallet*5)/100 | currency:'INR'}}</td>
                                    <td>{{(data.partner_wallet-(data.partner_wallet*5)/100) | currency:'INR'}}</td>
                                    <td>{{data.request_date|date:'medium'}}</td>
                                    <td><button type="button" class="btn btn-outline-success" (click) = "sendUserId(userid)">Approve</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content-value" *ngIf=" id === 'withdrawal'">
                    <div class="container">
                        <h6 style="color: rgb(68, 68, 248);">Withdrawal History</h6>
                        <table class="table table-hover table-responsive">
                            <thead>
                              <tr>
                                <th scope="col">Sr No</th>
                              
                                <th scope="col">User ID</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Service Charge (5%)</th>
                                <th scope="col">Payable Amount</th>
                                <th scope="col">Requested Date</th>
                                <th scope="col">Approved Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of partnerWithdrawalHistory; let i = index">
                               <td>{{i+1}}</td>
                                
                                <td>{{data.p_userid}}</td>
                                <td>{{data.partner_wallet | currency:'INR'}}</td>
                                <td>{{(data.partner_wallet*5)/100 | currency:'INR'}}</td>
                                <td>{{(data.partner_wallet-(data.partner_wallet*5)/100) | currency:'INR'}}</td>
                                <td>{{data.request_date | date:'medium'}}</td>
                                <td>{{data.approve_date | date:'medium'}}</td>
                              </tr> 
                              
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="payment-details" *ngIf=" id === 'payment'">
                    <div class="left">
                        <div class="dop">
                            <span>Date of Partner</span>: <p>{{dateOfPartnr | date}}</p>
                        </div>
                        <div class="dop">
                            <span>Total Liquidity</span>: <p>{{parterLiquidity | currency:'INR'}}</p>
                        </div>
                        <div class="dop">
                            <span>Partner Commission</span>: <p>12 Months</p>
                        </div>
                        <div class="dop">
                            <span>Complited tenure</span>: <p>{{month_count}} Months</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="dop">
                            <span>Pending tenure</span>: <p>{{12 - month_count}} Months</p>
                        </div>
                        <div class="dop">
                            <span>Last Payment Date</span>: <p>{{lastPaymentDate|date}}</p>
                        </div>
                        <div class="dop">
                            <span>Next Payment Date</span>: <p>15 to 22 (Of Every Months)</p>
                        </div>
                        <div class="dop" *ngIf="userStatus">
                            <span>Status</span>: <p style="color:green;">Active</p>
                        </div>
                        <div class="dop" *ngIf="month_count === 12 && !userStatus ">
                            <span>Status</span>: <p style="color: red;">Closed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="no-plan" *ngIf="!userStatus && month_count === 0">
            <span>Opps!</span>
            <br>

        </div>
        <div class="no-plan-paragraph" *ngIf="!userStatus && month_count === 0">
            <p>User not paid his liquidity amount, so no data found.</p>
        </div>
    </div>
</div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Per Day Payment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure, you want to paid?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="perDayFunction()">OK</button>
        </div>
      </div>
    </div>
  </div> -->
