/* ---------------------------- */
.bakk-div {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 330px;
}
.example-card {
  margin: 10px;
  width: 250px;
}
.payment-card {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
}

.bank-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bank-details h2 {
  font-weight: 400;
  color: #9d9a9a;
  font-size: small;
}
.example-header-image {
  background-image: url("/assets/image/bank.jpg");
  background-size: cover;
}
.partner-history-card {
  width: 70%;
  margin-top: 5%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  position: relative;
}

.column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  width: 1px;
  background-color: #ccc;
}

@media (max-width: 768px) {
  .example-card {
    width: 100%;
    margin-right: 0;
  }
  .bakk-div {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .bakk-div {
    width: 99%;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
  }
  .example-card {
    width: 100%;
    margin-right: 0;
  }
  .single-line-content {
    width: 95%px;
  }
}
