<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h3><a class="fa fa-qrcode" href="/dashboard"></a></h3>
    <h2><a style="color: #fff;" href="/dashboard"><span class="fa fa-qrcode"></span>&nbsp; Dashboard</a></h2>

  </div>
  <div class="sidebar-menu">
    <ul>
      <!-- <li>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#teamMates"><i class="fa fa-user"></i>
          <span>M</span>
        </a>
      </li> -->
      <li>
        <div class="member_history" (click)="memberViewList()">
          <a href="javascript:void(0)"><i class="fa fa-book"></i>
            <span>Member History</span>
          </a>
        </div>
      </li>
      <li>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#miningPartner"><i class="fa fa-user"></i>
          <span>Create Mining Partner</span>
        </a>

      </li>
      <li>
        <div class="partner_history " (click)="partnerViewList()">
          <a href="javascript:void(0)" data-toggle="modal"><i class="fa fa-book"></i>
            <span>Partner History</span>
          </a>
        </div>
      </li>
      <li>
        <div class="partner_history " (click)="viewList('view_mining_partner')">
          <a href="javascript:void(0)" data-toggle="modal"><i class="fa fa-book"></i>
            <span>State History</span>
          </a>
        </div>
      </li>
      <li>
        <div class="partner_history " (click)="FranchiseList('view_mining_partner')">
          <a href="javascript:void(0)" data-toggle="modal"><i class="fa fa-book"></i>
            <span>Franchise History</span>
          </a>
        </div>
      </li>
    
      <li>
        <a href="javascript:void(0)" (click)="viewList('active_partner')"><i class="fa fa-money"></i>
          <span>Total Liquidity</span>
        </a>
      </li>
     
      <li>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#partnershipBond"><i class="	fa fa-file"></i>
          <span>Partnership Bond</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#helpAndSupport"><i class="	fa fa-question"></i>
          <span>Help & Support</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#accountsPaidWithdrawal"><i
            class="fa fa-address-card-o"></i>
          <span>Accounts</span>
        </a>
      </li>


      <li>
        <p><i class="fa fa-sign-out"></i>
          <span (click)="logOut()">Log Out</span>
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
    <header>
        <h2>
          <label for="nav-toggle">
    
            <div class="d-flex justify-content-between">
              <span class="fa fa-bars"></span>
              <span>CENTUM WORLD</span>
            </div>
    
          </label>&nbsp;
    
        </h2>
        <div class="user-wrapper">
          <img src="assets/image/profile.png" alt="" width="50px" height="50px">
          <div>
            <h4 style="color: darkred;">Admin</h4>
    
          </div>
        </div>
      </header>
</div>