<h1 mat-dialog-title style="font-family: Calibri;">Accounts (Paid Withdrawal)</h1>
<mat-dialog-content>
  <div class="account_paid_withdrawal">
    <p>Partner withdrawal</p>: <span>{{data.partner | currency:'INR'}}</span>
  </div>
  <div class="account_paid_withdrawal">
    <p>Refferal partner</p>: <span>{{data.refferalPartner | currency:'INR'}}</span>
  </div>
  <div class="account_paid_withdrawal">
    <p>Refferal member</p>: <span>{{data.member | currency:'INR'}}</span>
  </div>
  <div class="account_paid_withdrawal">
    <p>Total Withdrawal</p>: <span>{{data.totalwithdrawal | currency:'INR'}}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="align">
    <button mat-button class="mat-warn" (click)="closeModal()">Close</button>
  </mat-dialog-actions>
