@import url("https://fonts.fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all ease-in-out 200ms;
}

.partner-signup-partner{
  height: 100vh;
  width: 100vw;
}

.partner-signup-container{
  height: 100%;
  width: 100%;
  display: flex;
}

.signup-left-wrapper{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ABDFFD;
}

.signup-right-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.signup-register{
  display: flex;
  flex-direction: column;
  width: max-content;
  padding-left: 1%;
}

.underline-box{
  height: 5px;
  width: 100%;
  background-color: #ABDFFD;
}

.signup-fields-container{
  width: 100%;
  margin-top: 300px;
}

.first-half-input-fields{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1%;
}

.input-subtitle{
  font-size: .8rem;
}

.name-box{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
    flex-wrap: wrap;
}

.refferal-input, .reffer-box{
  width: 100%;
}

.dob-box{
  display: flex;
  flex-direction: column;
}

.form-group{
  width: 33%;
}

.partner-signup-btn{
  margin-left: 1%;
  border: none;
  background-color: #6FC6FD;
  color: #eee;
  text-transform: uppercase;
  width: 50%;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
}

.signup-left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.company-name{
  display: flex;
  align-items: center
}

.company-name span{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
}



@media only screen and (max-width: 768px){
  .partner-signup-container{
    flex-direction: column;
  }
  .signup-left-wrapper{
    width: 100%;
  }
  .signup-first-half{
    display: flex;
    justify-content: space-around;
  }
  .first-half-input-fields {
    width: 100%;
  }
  .signup-right-wrapper{
    height: auto;
  }
}

@media only screen and(max-width: 475px){
  .name-box{
    flex-wrap: wrap;
  }
}
