@import url("https://fonts.fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Calibri;
  transition: all ease-in-out 200ms;
}

.partner-signup-container {
  display: flex;
}

.signup-left-wrapper {
  width: 40%;
  height: 130vh;
  background-color: #abdffd;
  border-radius: 0px 10px 10px 0;
}

.signup-right-wrapper {
  width: 60%;
  height: 130vh;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}
.imgPng {
  width:100%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  mix-blend-mode: multiply;
  opacity: 1;
}


.signup-register {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 20px;
}
/* 
.underline-box {
  height: 5px;
  width: 100%;
  background-color: #abdffd;
} */

.signup-fields-container {
  width: 100%;
}

.first-half-input-fields {
  padding: 10px 50px 50px 50px;
}

.input-subtitle {
  font-size: 0.8rem;
}
/* 
.name-box {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.box {
  display: flex;
  justify-content: space-between;
}
.input {
  width: 40%;
  cursor:pointer;
}

.aadhar-input{
  width:40%;
  opacity:0;
}


/* 
.aadhar-form-field{
  height:40px;
} */
/* .dob-box {
  display: flex;
  flex-direction: column;
} */

/* .form-group {
  width: 33%;
} */

.partner-signup-btn {
  border: none;
  background-color: #478fbf;
  color: #eee;
  text-transform: uppercase;
  width: 40%;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0.6rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* .alreadyAccount {
  margin-top: 1rem;
  color: #888; 
  transition: color 0.3s ease;
} */

.alreadyAccount a {
  text-decoration: none;
  color:blueviolet;
}
.alreadyAccount a :hover {
  color: #6fc6fd; /* Color on hover */
  text-decoration:underline;
}

.alreadyAccount {
  margin-top: 0.6rem;
}

.signup-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* .company-name {
  display: flex;
  align-items: center;
} */

.company-name span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
}

.mat-input-element {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .mat-form-field.mat-focused .mat-form-field-label {
  display: block !important;
} */

@media only screen and (max-width: 768px) {
  .partner-signup-container {
    flex-direction: column;
  }
  .imgPng{
    height:110px;
    width:35%;
  }
  .signup-left-wrapper {
    width:100%;
    height: 30%;
    border-radius: 0px 0px 10px 10px;
  }
  .signup-right-wrapper {
    width: 100%;
    height: 190vh;
  }

  .box {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 90%;
 
  }
  .first-half-input-fields {
    padding: 5px 20px 20px 20px;
  }

  .partner-signup-btn {
    width: 90%;
    padding: 8px 0px;
    cursor: pointer;
  }
  
  /* .signup-left-wrapper {
    width: 100%;
  }
  .signup-first-half {
    display: flex;
    justify-content: space-around;
  }
  .first-half-input-fields {
    width: 100%;
  }
  .signup-right-wrapper {
    height: auto;
  }
  .signup-fields-container {
    margin-top: 120%;
  } */
}
/* 
@media only screen and(max-width: 475px) {
  .name-box {
    flex-wrap: wrap;
  }
} */
