
*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
  font-weight: 300;
}
body{
    
    
    background-color: #0030b8 !important;
  
  }

  .container {
    
    /* margin: 100px; */
    /* width: 100% !important; */
    background-color: #ffffff;
    width: 70%;
    border-radius :10px;
    box-shadow:20px 30px 25px rgba(0,0,0,0.15);
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
    
   
  }
  @media only screen and (max-width : 480px){
    .container h1{
     font-size: 15px;
     
     /* display: block; */
    }
    .container{
      width: 100%;
    }

    
   }
  @media only screen and (max-width : 768px) and (min-width: 481px){
   .container h1{
    font-size: 20px;
  
    /* display: block; */
   }

   .container{
    width: 90%;
   }
  }
  @media only screen and (max-width : 1024px){
   
  }

  h1{
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    color: #1c093c;

  }
  .Gender{
    display: flex;
    margin-top:10px ;
  }
  .Qualification{
    display: flex;
  }
  .Designation,.Experiance{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
  }

  p{
    
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 25px;
    font-weight: 400;
    font-weight: bold;


  }
  form{
    width: 100%;
    position: relative;
    margin: 20px auto 0 auto;
  }
  .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
  }

  label{
    color: #1c093c;
    font-size: 15px;

  }
  textarea, input{
  width: 100%;
  font-weight: 400;
   padding: 8px 10px;
   border-radius: 5px;
   border: 1.2px solid #c4cae0; 
}

textarea{
  resize: none;
}
textarea:focus, input:focus{
  outline: none;
  border-color: #6f6df4;
}

.gender{
  display: inline;
}
.footer{
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.footer button{
  
  background-color: #0030b8;
  width: 80px;
  border-radius: 5px;
  height: 35px;
  color:#ffffff;

}
.logo img{
  width: 150px;
    height: 150px;
    /* margin-left: 250px;
    margin-top: 20px; */
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.account span{
  color: aqua;
}
.account a{
  color: red;
}

.container p{
  color: tomato;
}