<div class="custom-heading" mat-dialog-title>
    <div>
        My team payout
    </div>
    <div class="close-button">
        <mat-icon mat-dialog-close style="cursor: pointer; margin: 7px;">cancel</mat-icon>
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
    <mat-card class="partner-history-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Payout Details</mat-card-title>
            <mat-card-subtitle>{{data.p_userid}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <div class="column">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Date of Payment</span> <strong>{{data.p_dob | date}}</strong>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Total liquidity</span> <strong>{{data.p_liquidity | currency:'INR'}}</strong>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Payout Tenure</span> <strong>12 TN</strong>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Paid Tenure</span> <strong>{{data.month_count}} TN</strong>
                    </div>
                </div>
                <div class="column">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Remaining Tenure</span> <strong>{{(12 - data.month_count)}}&nbsp;TN</strong>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Last Payout</span> <strong>{{partnerDetails.lastPaymentDate | date}}</strong>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Next Payout</span> <strong>15 to 22nd (Of every month)</strong>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Status</span> <strong>{{data.partner_status === 1?'Active':'Close'}}</strong>
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="button" [style.background]="data.partner_status ? '#93fb48' : '#c41111'"
                mat-raised-button>
                {{ data.partner_status ? 'ACTIVE' : 'CLOSE' }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>