<div class="sho-list-header" style="display: flex; justify-content: space-between;">
    <div class="title">
        <p>Partner Approved Withdrawal</p>
    </div>
    <div class="search">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
</div>
<div class="large-expand">
    <div class="mat-elevation-z8 table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Serial Number Column -->
            <ng-container matColumnDef="serialNumber">
                <th mat-header-cell *matHeaderCellDef class="member-history-header">SL No.</th>
                <td mat-cell *matCellDef="let row">{{ row.serialNumber }}</td>
            </ng-container>

            <!-- Other Columns -->
            <ng-container matColumnDef="p_userid">
                <th mat-header-cell *matHeaderCellDef class="member-history-header">Partner ID</th>
                <td mat-cell *matCellDef="let walletAmount">{{ walletAmount.p_userid }} </td>
            </ng-container>

            <ng-container matColumnDef="partner_wallet">
                <th mat-header-cell *matHeaderCellDef class="member-history-header">Amount</th>
                <td mat-cell *matCellDef="let walletAmount"> {{ walletAmount.partner_wallet | currency:'INR' }} </td>
            </ng-container>

            <ng-container matColumnDef="serviceCharge">
                <th mat-header-cell *matHeaderCellDef class="member-history-header">Service Charge</th>
                <td mat-cell *matCellDef="let walletAmount"> {{ (walletAmount.partner_wallet*5)/100 | currency:'INR' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="paybleAmount">
                <th mat-header-cell *matHeaderCellDef class="member-history-header">Payble Amount</th>
                <td mat-cell *matCellDef="let walletAmount" style="font-weight: bold;"> {{
                    (walletAmount.partner_wallet-(walletAmount.partner_wallet*5)/100) | currency:'INR'}} </td>
            </ng-container>

            <ng-container matColumnDef="request_date">
                <th mat-header-cell *matHeaderCellDef class="member-history-header"> Request Date</th>
                <td mat-cell *matCellDef="let walletAmount"> {{ walletAmount.request_date | date }} </td>
            </ng-container>

            <ng-container matColumnDef="approve_date">
                <th mat-header-cell *matHeaderCellDef class="member-history-header"> Approve Date</th>
                <td mat-cell *matCellDef="let walletAmount"> {{ walletAmount.approve_date | date }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let walletAmount; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
    </div>
</div>