<h1 class="custom-heading" mat-dialog-title >{{displayStateHandlerId + ' ' }}Bank Details details</h1>
<div mat-dialog-content>
  <!-- bank-list.component.html -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="holder_name">
      <mat-header-cell *matHeaderCellDef> Holder Name </mat-header-cell>
      <mat-cell *matCellDef="let bankDetails"> {{ bankDetails.holder_name }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="bank_name">
      <mat-header-cell *matHeaderCellDef> Bank Name </mat-header-cell>
      <mat-cell *matCellDef="let bankDetails"> {{ bankDetails.bank_name }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="branch_name">
      <mat-header-cell *matHeaderCellDef> Branch Name </mat-header-cell>
      <mat-cell *matCellDef="let bankDetails"> {{ bankDetails.branch_name }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="account_no">
      <mat-header-cell *matHeaderCellDef> Account Number </mat-header-cell>
      <mat-cell *matCellDef="let bankDetails"> {{ bankDetails.account_no }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ifsc_code">
      <mat-header-cell *matHeaderCellDef> IFSC Code </mat-header-cell>
      <mat-cell *matCellDef="let bankDetails"> {{ bankDetails.ifsc_code }} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let bankDetails; columns: displayedColumns"></mat-row>
  </mat-table>
  
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Ok</button>
</div>