@import url('https://fonts.fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0030b8 !important;

}
.logo img{
  width: 25%;
  height: 25%;
  margin-left: 36%;
}

.box{
  position: relative;
  margin-left: 58px;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
 
  

}
.box::before{
content: '';
position: absolute;
top: -50%;
left: -50%;
width: 380px;
height: 420px;
background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
transform-origin: bottom right;
animation: animate 6s linear infinite;
}

.box::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
  }
@keyframes animate{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
.form{
  position: absolute;
  inset:3px;
  background: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;

}

.form h2{
  color: #45f3ff;
  font-weight: 500;
  font-family:fantasy;
  text-align: center;
  letter-spacing: 0.1rem;
}
.input-box{
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.input-box input{
  position: relative;
  width: 100%;
  padding: 15px 10px 10px 5px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}
.input-box span{
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
}
.input-box input:valid ~span,
.input-box input:focus ~span{
  color: #45f3ff;
  transform:translateX(-10px) translateY(-34px);
  font-size: 0.75em;
}
.input-box i{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #45f3ff;
  pointer-events: none;
  z-index: 9;
}
.input-box input:valid ~i,
.input-box input:focus ~i{
  height: 40px;
}
.link{
  display: flex;
  justify-content: center;
}
.link a{
  margin: 10px 0;
  font-size: 00.75em;
  color: #ddcc30;
  text-decoration: none;

}
.link a:hover{
  color: #45f3ff;
}


.login-header{
  display: flex;
    justify-content: space-between;
}
.home a {
  color:rgb(90, 221, 177);
}
/* .home{
  position: relative; 
  left: 70px;
  display: block;
}
.home a {

  color:rgb(90, 221, 177);
} */


/* @media(max-width:300px){
  .box {
    display: block;
  }
}
@media(min-width:300px) and (max-width:500px){
  .box {
    display: block;
  }
}

@media(min-width:500px) and (max-width:800px){
  .box {
    display: block;
  }
}

@media(min-width:800px){
  .box {
    display: block;
  }
} */
