<div class="logo">
  <img src="assets/image/clogo.png" alt="">
</div>
<div class="box">
  <div class="form">
        <h2>Admin</h2>
      <form [formGroup]="loginForm">  
        <div class="input-box">

          <div class="form-group">
            <input type="text" formControlName="admin_id" required>
            <span>UserId</span>
            <i></i>
          </div>
          
        </div>

        <div class="input-box">

          <div class="form-group">
            <input type="password" formControlName="admin_password" required>
            <span>Password</span>
            <i></i>
          </div>
          
        </div><br>
        <div class="login-header">
          <div class="login">
            <button class="btn btn-primary" [disabled]="!(loginForm.valid && loginForm.dirty)" (click)="submit(loginForm)">Login</button>
          </div>
          <div class="home">
            <a href="" class="btn btn-secondary">Home</a>
          </div>

        </div>
        <!-- <a class="btn btn-primary" href="/dashboard">Login</a> -->
        
        <br>
        <div class="link">
          <a href="https://centumworld.com">Centum World</a>
        </div>
      </form>  
  </div>
</div>
