<h1 mat-dialog-title>Profile details</h1>
<div mat-dialog-content>
  <div class="row">
    <!-- First Column -->
    <div class="col-md-6">
      <div class="payment-details">
        <div class="left">
          <div class="stateDetails">
            <span>Name</span>: <p>{{this.shoDetails.fname + ' ' + this.shoDetails.lname}}</p>
          </div>
          <div class="stateDetails">
            <span>Referral ID</span>: <p>{{this.shoDetails.referralId}}</p>
          </div>
          <div class="stateDetails">
            <span>Phone</span>: <p>{{this.shoDetails.phone}}</p>
          </div>
          <div class="stateDetails">
            <span>Email</span>: <p>{{this.shoDetails.email}}</p>
          </div>
          <div class="stateDetails">
            <span>Gender</span>: <p>{{this.shoDetails.gender}}</p>
          </div>
          <div class="stateDetails">
            <span>Referred ID</span>: <p>{{this.shoDetails.refferedId}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Column -->
    <div class="col-md-6">
      <div class="stateDetails">
        <span>BMM ID</span> : <p>{{ this.shoDetails.stateHandlerId}}</p>
      </div>

      <div class="stateDetails">
        <span>Selected State</span> : <p>{{this.shoDetails.state}}</p>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close class="custom-ok">Ok</button>
</div>