.mat-dialog-title {
    background-color: #b63003;
    color: #fefefe;
    font-size: 18px;
    font-weight: 600;
    margin-left: -24px;
    margin-right: -23px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

  
.image-block {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between;
  align-items: flex-end;
}
  
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800%;
  }
.modal-header{
  width: 100%;
  height: 60px;
  background: #b63003;
}  
  
  .modal-body {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* ---------------- */
  
  .myStateDialogClass {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Adjust the height and width based on screen size */
  @media (max-width: 600px) {
    .myStateDialogClass {
      height: 90%;
      width: 90%;
    }
  }