<div class="rig-container">
  <p>
    <mat-icon (click)="goBack()" style="margin-top: 5px">arrow_back</mat-icon>
    &nbsp; All RIG ID
  </p>
  <div class="rig-cards">
    <div class="cards-container" *ngFor="let item of allrig">
      <div class="cards-header">
        <div class="cards-content">
          <p>RIG ID</p>
          <small>{{ item.rigId }}</small>
        </div>
        <div>
          <mat-icon style="color: blue; cursor: pointer" mat-button [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item [disabled]="item.partner_status === 1"  (click)="openPartnerDoActivateDialog(item)"> <mat-icon>check_circle</mat-icon>Activate</button>
            <button mat-menu-item [disabled]="item.partner_status === 0" (click)="rigDetails(item)"><mat-icon>payment</mat-icon> Payout</button>
          </mat-menu>
        </div>
        
      </div>
      <div class="devide"><hr /></div>
      <div class="cards-data">
        <div class="card-body-data">
          <h6>Name</h6>
          <p>{{ item.fname }} {{ item.lname }}</p>
        </div>
        <div class="card-body-data">
          <h6>Liquidity</h6>
          <p>{{ item.liquidity | currency : "INR" }}</p>
        </div>
        <div class="card-body-data">
          <h6>Joining Date</h6>
          <p>{{ item.doj | date }}</p>
        </div>
      </div>
      <div class="devide"><hr /></div>
      <div [ngClass]="{'active': item.partner_status, 'inactive': !item.partner_status}">
        {{ item.partner_status ? 'Active' : 'Inactive' }}
      </div>
    </div>
  </div>
</div>
