.mat-dialog-title {
    background-color: #5476f2;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family:calibri;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:-24px;
}
/* .custom-dialog-container {
    margin-top: 0;
    max-width: 100%; 
    width: 300px; 
    box-sizing: border-box; 
    background-color: white;
    border-radius: 10px;
} */

.custom-paragraph {
    font-family: Calibri;
    font-weight: 600;
}

.custom-ok-button {
    background-color: #5476f2;
    color:#fff;
    margin-left: 10px;
}

/* Adjust for smaller screens */
/*  */
