<div class="marque">
    <h4>Approved Withdrawal History</h4>
</div>
<div class="cotainer">
  <br>
  <span><input type="text" class="form-control" name="search" [(ngModel)]="searchText"
    placeholder="Search by user ID..."></span>
    <div class="table table-hover table-responsive">
        <thead>
          <tr>
            <th scope="col">Sr No</th>
          
            <th scope="col">User ID</th>
            <th scope="col">Amount</th>
            <th scope="col">Service Charge(5%)</th>
            <th scope="col">Paid Amount</th>
            <th scope="col">Refferal</th>
            <th scope="col">Requested Date</th>
            <th scope="col">Approved Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of approvedMemberWithdrawalAmount | filter:searchText | paginate: {itemsPerPage:10, currentPage:p};  let i = index">
           <td>{{i+1}}</td>
            
            <td>{{data.m_userid}}</td>
            <td>{{data.member_wallet | currency:'INR'}}</td>
            <td>{{(data.member_wallet*5)/100 | currency:'INR'}}</td>
            <td>{{(data.member_wallet-(data.member_wallet*5)/100) | currency:'INR'}}</td>
            <td>{{data.reffer_p_userid}}</td>
            <td>{{data.request_date | date}}</td>
            <td> {{data.approve_date | date}}</td>
          </tr> 
          
        </tbody>
      </div>
  </div>    
