<h1 class="custom-heading" mat-dialog-title>Partnership Bond</h1>
<!-- <mat-card>
    <mat-card-title>PDF File Upload</mat-card-title>
    <mat-card-content>
      <form #fileUploadForm>
        <mat-form-field>
          <input type="file" (change)="selectFile($event)" #fileInput accept=".pdf">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="uploadFile()">Upload</button>
      </form>
    </mat-card-content>
  </mat-card> -->
  <mat-card>
    <mat-card-title>PDF File Upload</mat-card-title>
    <mat-card-content>
      <form #fileUploadForm>
        <input type="file" (change)="selectFile($event)" accept=".pdf">
        <button mat-raised-button color="primary" (click)="uploadFile()">Upload</button>
      </form>
    </mat-card-content>
  </mat-card>
  
  
  
  
  
  
  
  
  
  