.mat-dialog-title {
  background-color: #5476f2;
  color: #fff;
  font-size: 18px;
  font-family: Calibri;
  font-weight: 600;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -24px;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5476f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container button {
  align-self: flex-end;
  margin-top: 10px; /* Adjust as needed */
}


@media (max-width: 768px){
  .upload-button{
    padding:8px 16px;
    font-size:12px;
  }
}
