<!-- transaction-history.component.html -->
<div class="mat-elevation-z8">
    <form style="margin-left: 330px;">
      <label for="year">Select Year:</label>
      <select id="year" [(ngModel)]="selectedYear" name="year">
        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
      </select>
  
      <label for="month">Select Month:</label>
      <select id="month" [(ngModel)]="selectedMonth" name="month">
        <option *ngFor="let month of availableMonths" [value]="month">{{ month }}</option>
      </select>
  
      <button type="button" (click)="fetchTransactions()">Fetch Transactions</button>
    </form>
  
    <!-- Show the table only if dataSource is not empty -->
    <div *ngIf="showTable()">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table-custom">
        <!-- User ID Column -->
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>User ID</th>
          <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
        </ng-container>
  
        <!-- Rigid Column -->
        <ng-container matColumnDef="rigid">
          <th mat-header-cell *matHeaderCellDef>Rigid</th>
          <td mat-cell *matCellDef="let element">{{ element.rigid }}</td>
        </ng-container>
  
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>
  
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
        </ng-container>
  
        <!-- Liquidity Column -->
        <ng-container matColumnDef="liquidity">
          <th mat-header-cell *matHeaderCellDef>Liquidity</th>
          <td mat-cell *matCellDef="let element">{{ element.liquidity }}</td>
        </ng-container>
  
        <!-- Table Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
        <!-- Table Rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <!-- Show a message if dataSource is empty -->
    <div *ngIf="!showTable()">No transactions found.</div>
  </div>
  