.mat-dialog-title {
    background-color: #b63003;
    color: #fefefe;
    font-size: 18px;
    font-weight: 600;
    margin-left: -24px;
    margin-right: -23px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image-card {
    display: inline-block; /* This ensures the card is displayed as a block */
  }
  
  .image-block {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
  }
  
  .image {
    width: 250px; /* Set the width and height of the images */
    height: 250px;
    margin-right: 10px; /* Add some margin between images */
  }


  /* -------------- */
  /* ViewModalComponent CSS */
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800%;
  }
.modal-header{
  width: 100%;
  height: 60px;
  background: #b63003;
}  
  
  .modal-body {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain the image aspect ratio */
  }
  
  
  .myStateDialogClass {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Adjust the height and width based on screen size */
  @media (max-width: 600px) {
    .myStateDialogClass {
      height: 90%;
      width: 90%;
    }
  }