<!-- <h1 class="custom-heading" mat-dialog-title>Profile details</h1>
<div mat-dialog-content>
  <mat-card class="">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="data.adhar_front_side" alt="Front Aadhar">
    <img mat-card-image [src]="data.adhar_back_side" alt="Back Aadhar" [width]="30" [height]="30">
    <img mat-card-image [src]="data.panCard" alt="Pan" [width]="30" [height]="30">
  </mat-card>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close (click)="clickOk()">ok</button>
</div> -->

<h1 class="custom-heading" mat-dialog-title>Profile details</h1>
<div mat-dialog-content>
    <div class="image-block">
      <img class="image" [src]="data.adhar_front_side" alt="Front Aadhar">
      <img class="image" [src]="data.adhar_back_side" alt="Back Aadhar">
      <img class="image" [src]="data.panCard" alt="Pan">
    </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close (click)="clickOk()">ok</button>
</div>



