<div class="myteam-container">
  <div class="close-header">
    <p class="my-team-header">Referral Amount</p>
    <mat-icon aria-label="Close dialog" mat-dialog-close>close</mat-icon>
  </div>
  <div class="my-team-body">
    <form  [formGroup]="amountForm" (ngSubmit)="submitForm()">
      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>&#8377;</mat-icon>
          <input matInput placeholder="Amount" formControlName="amount">
          <mat-error *ngIf="amountForm.get('amount').invalid && amountForm.get('amount').touched">Amount is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="paymentDate" placeholder="Payment date">
          <mat-error *ngIf="amountForm.get('paymentDate').invalid && amountForm.get('paymentDate').touched">Date is require</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="amountForm.invalid" class="submit-button">Submit</button>
      </div>
    </form>
  </div>
</div>
