<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h3><a class="fa fa-qrcode" href="/miningdashboard"></a></h3>
    <h2><span class="fa fa-qrcode"></span><a style="color: #fff;" href="/miningdashboard">Dashboard</a></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="javascript:void(0)" (click)="mining_profile_details('profile_detail')"><i class="fa fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu1">
          <div class="d-flex bank_button">
            <p><i class="fa fa-bank"></i></p>&nbsp;&nbsp;&nbsp;<span>Bank Details</span>
          </div>
        </button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item data-toggle="modal" data-target="#addBankDetail">Add Bank</button>
          <button mat-menu-item data-toggle="modal" data-target="#viewBankDetail">View Bank</button>
        </mat-menu>
      </li>
      <li>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#partnerSuccessWithdrawalHistroy"><i
            class="fa fa-money"></i>
          <span>Withdrawal History</span>
        </a>
      </li>
      <!-- <li>
        <a href="javascript:void(0)"><i class="fa fa-exchange"></i>
          <span>Transaction</span>
        </a>
      </li> -->
      <li>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#help-support"><i class="fa fa-question"></i>
          <span>Help & Support</span>
        </a>
      </li>

      <li>
        <a href=""><i class="fa fa-sign-out"></i>
          <span (click)="logOut()">Log Out</span>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <div class="d-flex justify-content-between">
          <span class="fa fa-bars"></span>
          <span>CENTUM WORLD</span>
        </div>
      </label>

    </h2>

    <div class="user-wrapper">

      <button mat-button class="loin_button" [matMenuTriggerFor]="menu"><img src="assets/image/profile.png" alt=""
          width="50px" height="50px"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item data-toggle="modal" data-target="#partnerProfile">Profile</button>
        <button mat-menu-item data-toggle="modal" data-target="#partnerSummry">Summary</button>
        <a href="" mat-menu-item (click)="logOut()">Log Out</a>
      </mat-menu>
      <div>

        <small style="color:crimson;"> {{partnerId}}</small>
      </div>
    </div>
  </header>

  <main>

    <div class="cards" *ngIf="!view_detail">
      <div class="card-single">
        <div>
          <h6>Account Details</h6>
          <span>
            <div class="dop1" *ngIf="userStatus">
              <span style="font-weight: 600;">Status</span>: <p style="color:green;">Active</p>
            </div>
            <div class="dop1" *ngIf="month_count === 12 ">
              <span style="font-weight: 600;">Status</span>: <p style="color: red;">Closed</p>
            </div>
            <div class="dop1" *ngIf="!userStatus && month_count === 0">
              <span style="font-weight: 600;">Status</span>: <p style="color:red;">Not Active</p>
            </div>
          </span>
        </div>
        <div class="card-view" data-toggle="modal" data-target="#partnerPaymentDetails">

          <span>view</span>
        </div>
      </div>
      <div class="card-single">
        <div class="partner-refferal-id">
          <h6>User ID:- {{partnerId}}</h6>
          <span>Refferal ID &nbsp;<a href="/partner-signup?refferId={{refferID}}"
              target="_blank">{{refferID}}</a></span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Liquidity</h6>
          <!-- <span>History</span> -->
        </div>
        <div *ngIf="!userStatus" class="pay-now btn btn-primary" (click)="pay()">Pay Now</div>
        <div *ngIf="userStatus" style="font-weight: bold;">{{partnerLiquidity | currency:'INR'}}</div>
      </div>
      <div class="card-single">
        <div>
          <h6>My Team</h6>
        </div>
        <div class="card-view" data-toggle="modal" data-target="#myTeamUsingMyRefferalID">
          <!-- <i class="fa fa-eye"></i> -->
          <span>view</span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Withdrawal</h6>
          <span>Pending History</span>
        </div>
        <div class="card-view" data-toggle="modal" data-target="#partnerWithdrawalRequest">
          <!-- <i class="fa fa-eye"></i> -->
          <span>view</span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Withdrawal</h6>
          <span>Success History</span>
        </div>
        <div class="card-view" data-toggle="modal" data-target="#partnerSuccessWithdrawalHistroy">
          <!-- <i class="fa fa-eye"></i> -->
          <span>view</span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Refferal</h6>
          <span>Pending History</span>
        </div>
        <div class="card-view" data-toggle="modal" data-target="#refferalWithdrawal">
          <!-- <i class="fa fa-eye"></i> -->
          <span>view</span>
        </div>
      </div>
      <div class="card-single">
        <div>
          <h6>Refferal</h6>
          <span>Success History</span>
        </div>
        <div class="card-view" data-toggle="modal" data-target="#refferalSuccess">
          <!-- <i class="fa fa-eye"></i> -->
          <span>view</span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Transaction</h6>
          <span>Total Withdrawal</span>
        </div>
        <span style="font-weight: bold;">{{(totalAmount-(totalAmount*5)/100) | currency:'INR'}}</span>
      </div>
    </div>

    <div *ngIf="view_detail">
      <app-mining-profile-details></app-mining-profile-details>
    </div>

  </main>
</div>


<!-- Add bank modal detail -->
<div class="modal fade" id="addBankDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Bank Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="holderName"><strong>A/c holder name</strong></label>
            <input type="text" class="form-control" [(ngModel)]="bankDetails.holder_name" id="holderName"
              placeholder="A/c holder name">

          </div>

          <div class="form-group col-md-6">
            <label for="ifsc"><strong>IFSC Code</strong></label>
            <input type="text" class="form-control" [(ngModel)]="bankDetails.ifsc_code" id="ifsc"
              placeholder="IFSC Code">

          </div>
        </div>

        <div class="form-group">
          <label for="account_no"><strong>A/c no.</strong></label>
          <input type="text" class="form-control" [(ngModel)]="bankDetails.account_no" id="account_no"
            placeholder="Account number">

        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="bank_name"><strong>Bank name</strong></label>
            <input type="text" id="bank_name" [(ngModel)]="bankDetails.bank_name" class="form-control"
              placeholder="Bank name">
          </div>

          <div class="form-group col-md-6">
            <label for="bank_branch"><strong>Branch name</strong></label>
            <input type="text" id="bank_branch" [(ngModel)]="bankDetails.branch_name" class="form-control"
              placeholder="Branch name">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addBankDetails()">Save</button>
      </div>
    </div>
  </div>
</div>



<!-- My team using my refferal id -->

<div class="modal fade" id="myTeamUsingMyRefferalID" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">My Reffer Members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Partner Name</th>
              <th scope="col">User ID</th>
              <th scope="col">Joining Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of myMiningTeamDetails; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{data.p_name}}</td>
              <td>{{data.p_userid}}</td>
              <td>{{data.p_dop| date}}</td>
              <td><button class="btn btn-primary" (click)="myTeamPaymentDetails(data.p_userid)" data-toggle="modal"
                  data-target="#myTeamPaymentDetails">view</button></td>

            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<!-- Per day wallet histoy -->
<div class="modal fade" id="perDayWalletHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Daily Wallet History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Amount</th>
              <th scope="col">Credited Date</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dailyWalletAmountHistory; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.walletAmount | currency:'INR'}}</td>
              <td>{{data.wallet_update_date | date:'medium'}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Partner withdrawal success history -->
<div class="modal fade" id="partnerSuccessWithdrawalHistroy" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Withdrawal Success History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Amount</th>
              <th scope="col">Service Charge(5%)</th>
              <th scope="col">Paid Amount</th>
              <th scope="col">Request Date </th>
              <th scope="col">Approve Date</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of partnerWithdrawalSuccessHistoryList; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.partner_wallet | currency:'INR'}}</td>
              <td>{{(data.partner_wallet*5)/100 | currency:'INR'}}</td>
              <td>{{(data.partner_wallet-(data.partner_wallet*5)/100) | currency:'INR'}}</td>
              <td>{{data.request_date | date:'medium'}}</td>
              <td>{{data.approve_date | date:'medium'}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- withdrawal request for partner -->
<div class="modal fade" id="partnerWithdrawalRequest" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Withdrawal Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Amount</th>
              <th scope="col">Service Charge(5%)</th>
              <th scope="col">Payable Amount</th>
              <th scope="col">Request Date </th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of partnerWithdrawalRequestData; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.partner_wallet | currency:'INR'}}</td>
              <td>{{(data.partner_wallet*5)/100 | currency:'INR'}}</td>
              <td>{{(data.partner_wallet-(data.partner_wallet*5)/100) | currency:'INR'}}</td>
              <td>{{data.request_date | date:'medium'}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="partnerPaymentDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title-partner" id="exampleModalLabel"><small>Dear CENTUM WORLD RIG PARTNER
            <mark>{{partnerUserName}}</mark> join with the RIG program on <mark>{{dateOfPartner |date:
              'dd/MM/yyyy'}}</mark>. Here are the details of your Account Payout:</small></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="payment-details">
          <div class="left">
            <div class="dop">
              <span>User ID</span>: <p>{{partnerId}}</p>
            </div>
            <div class="dop">
              <span>Date of Partner</span>: <p>{{dateOfPartner | date}}</p>
            </div>
            <div class="dop">
              <span>Total Liquidity</span>: <p>{{partnerLiquidity | currency:'INR'}}</p>
            </div>
            <div class="dop">
              <span>Monthly Payout</span>: <p>{{(monthlyPayout-(monthlyPayout*5)/100) | currency:'INR' }}</p>
            </div>
            <div class="dop">
              <span>Payout Tenure</span>: <p>12 TN</p>
            </div>
            <div class="dop">
              <span>Paid Tenure</span>: <p>{{month_count}} TN</p>
            </div>
          </div>
          <div class="right">
            <div class="dop">
              <span>Remaining Tenure</span>: <p>{{12 - month_count}} TN</p>
            </div>
            <div class="dop">
              <span>Last Payout</span>: <p>{{lastPaymentDate|date :'medium'}}</p>
            </div>
            <div class="dop">
              <span>Next Payout</span>: <p>15 to 22nd (Of Every Month)</p>
            </div>
            <div class="dop" *ngIf="userStatus">
              <span>Status</span>: <p style="color:green;">Active</p>
            </div>
            <div class="dop" *ngIf="month_count === 12 ">
              <span>Status</span>: <p style="color: red;">Closed</p>
            </div>
            <div class="dop" *ngIf="!userStatus && month_count === 0">
              <span>Status</span>: <p style="color:red;">Account not active</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Per day wallet histoy -->
<div class="modal fade" id="perDayRefferWalletHistory" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Daily Reffer Wallet History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">User ID</th>
              <th scope="col">Amount</th>
              <th scope="col">Credited Date</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of partnerRefferalParDayAmont; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.reffer_p_userid}}</td>
              <td>{{data.wallet_amount | currency:'INR'}}</td>
              <td>{{data.date | date:'medium'}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- My team payment details -->
<div class="modal fade" id="myTeamPaymentDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">My Team Payment Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="payment-details">
          <div class="left">
            <div class="dop">
              <span>User ID</span>: <p>{{myTeamUserid}}</p>
            </div>
            <div class="dop">
              <span>Date of Partner</span>: <p>{{myTeamDateOfPartner | date}}</p>
            </div>
            <div class="dop">
              <span>Total Liquidity</span>: <p>{{myTeamPartnerLiquidity | currency:'INR'}}</p>
            </div>
            <div class="dop">
              <span>Monthly Payout</span>: <p>{{refferalMonthlyPayout | currency:'INR'}}</p>
            </div>
            <div class="dop">
              <span>Payout Tenure</span>: <p>12 TN</p>
            </div>
            <div class="dop">
              <span>Paid Tenure</span>: <p>{{myTeamMonth_count}} TN</p>
            </div>
          </div>
          <div class="right">
            <div class="dop">
              <span>Remaining Tenure</span>: <p>{{12 - myTeamMonth_count}} TN</p>
            </div>
            <div class="dop">
              <span>Last Payout</span>: <p>{{refferalLastPayout| date:'medium'}}</p>
            </div>
            <div class="dop">
              <span>Next Payout</span>: <p>15 to 22 (Of Every Months)</p>
            </div>
            <div class="dop" *ngIf="myTeamUserStatus">
              <span>Status</span>: <p style="color:green;">Active</p>
            </div>
            <div class="dop" *ngIf="myTeamMonth_count === 12 ">
              <span>Status</span>: <p style="color: red;">Closed</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Refferal pending withdrawal histoty -->
<div class="modal fade" id="refferalWithdrawal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Refferal Withdrawal Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Amount</th>
              <th scope="col">Service Charge(5%)</th>
              <th scope="col">Paid Amount</th>
              <th scope="col">Refferal</th>
              <th scope="col">Request Date </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of reqestHistoryOfpartnerArray; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.partner_wallet | currency:'INR'}}</td>
              <td>{{(data.partner_wallet*5)/100 | currency:'INR'}}</td>
              <td>{{(data.partner_wallet-(data.partner_wallet*5)/100) | currency:'INR'}}</td>
              <td>{{data.reffer_p_userid}}</td>
              <td>{{data.request_date | date}}</td>
              <td>{{data.approve_date | date}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Refferal success withdrawal histoty -->
<div class="modal fade" id="refferalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Refferal Success Withdrawal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Amount</th>
              <th scope="col">Service Charge(5%)</th>
              <th scope="col">Paid Amount</th>
              <th scope="col">Refferal</th>
              <th scope="col">Request Date </th>
              <th scope="col">Approved</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of successWithdrawal; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.partner_wallet | currency:'INR'}}</td>
              <td>{{(data.partner_wallet*5)/100 | currency:'INR'}}</td>
              <td>{{(data.partner_wallet-(data.partner_wallet*5)/100) | currency:'INR'}}</td>
              <td>{{data.reffer_p_userid}}</td>
              <td>{{data.request_date | date}}</td>
              <td>{{data.approve_date | date}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- viewBankDetail -->
<div class="modal fade" id="viewBankDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Your Bank Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="payment-details">
          <div class="left">
            <div class="dop">
              <span>Account Holder Name</span>: <p>{{viewBankDetails.holder_name}}</p>
            </div>
            <div class="dop">
              <span>Account Number</span>: <p>{{viewBankDetails.account_no}}</p>
            </div>
            <div class="dop">
              <span>IFSC Code</span>: <p>{{viewBankDetails.ifsc_code}}</p>
            </div>
            <div class="dop">
              <span>Bank Name</span>: <p>{{viewBankDetails.bank_name}}</p>
            </div>
            <div class="dop">
              <span>Branck Name</span>: <p>{{viewBankDetails.branch_name}}</p>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Help and support -->
<div class="modal fade" id="help-support" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Help & Support</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field>
          <textarea matInput placeholder="Ask your query" rows="4" cols="80" [(ngModel)]="myQuery"></textarea>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="query()">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- summry  -->
<div class="modal fade" id="partnerSummry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel" style="color: blueviolet;">Summary</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="summry d-flex">
          <p>Monthly Payout</p>:&nbsp;<span>{{monthlyAmount|currency:"INR"}}</span>
        </div>
        <div class="summry d-flex">
          <p>Perday Payout</p>:&nbsp;<span>{{perDayAmount|currency:"INR"}}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Partner Profile Pop Up -->

<div class="modal fade" id="partnerProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel" style="color: blueviolet;">My Profile</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="payment-details">
          <div class="left">
            <div class="dop">
              <span>Name</span>: <p>{{partnerProfileDetailsPopUP.p_name}}</p>
            </div>
            <div class="dop">
              <span>Phone</span>: <p>{{partnerProfileDetailsPopUP.p_phone}}</p>
            </div>
            <div class="dop">
              <span>Address</span>: <p>{{partnerProfileDetailsPopUP.p_address}}</p>
            </div>
            <div class="dop">
              <span>Reffered ID</span>: <p>{{partnerProfileDetailsPopUP.p_reffered_id}}</p>
            </div>
            <div class="dop">
              <span>State</span>: <p>{{partnerProfileDetailsPopUP.p_state}}</p>
            </div>
            <div class="dop">
              <span>Email</span>: <p>{{partnerProfileDetailsPopUP.p_email}}</p>
            </div>
          </div>
          <div class="right">


            <div class="dop">
              <span>Aadhar</span>: <p>{{partnerProfileDetailsPopUP.p_aadhar}}</p>
            </div>

            <div class="dop">
              <span>DOB</span>: <p>{{partnerProfileDetailsPopUP.p_dob}}</p>
            </div>
            <div class="dop">
              <span>DOP</span>: <p>{{partnerProfileDetailsPopUP.p_dop}}</p>
            </div>
            <div class="dop">
              <span>Nominee Name</span>: <p>{{partnerProfileDetailsPopUP.p_nominee_name}}</p>
            </div>
            <div class="dop">
              <span>Nominee Phone</span>: <p>{{partnerProfileDetailsPopUP.p_nominee_phone}}</p>
            </div>
            <div class="dop">
              <span>Nominee Aadhar</span>: <p>{{partnerProfileDetailsPopUP.p_nominee_aadhar}}</p>
            </div>
            <div class="dop">
              <span>User ID</span>: <p>{{partnerProfileDetailsPopUP.p_userid}}</p>
            </div>
            <div class="dop">
              <span>Refferal ID</span>: <p>{{partnerProfileDetailsPopUP.p_refferal_id}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>