<div class="detail-heading">
    <div><mat-icon class="back-icon" style="cursor: pointer;" (click)="gotoHome()">arrow_back</mat-icon></div>
    <p>My details</p>
</div>
<div class="large-expand">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="p_userid">
                <th mat-header-cell *matHeaderCellDef>User ID</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_userid }} </td>
            </ng-container>
            <ng-container matColumnDef="p_name">
                <th mat-header-cell *matHeaderCellDef>F-Name</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_name }} </td>
            </ng-container>
            <ng-container matColumnDef="p_lname">
                <th mat-header-cell *matHeaderCellDef>L-Name</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_lname }} </td>
            </ng-container>
            <ng-container matColumnDef="p_email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_email }} </td>
            </ng-container>
            <ng-container matColumnDef="p_phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_phone }} </td>
            </ng-container>
            <ng-container matColumnDef="p_address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_address }} </td>
            </ng-container>
            <ng-container matColumnDef="p_liquidity">
                <th mat-header-cell *matHeaderCellDef>Liquidity</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_liquidity | currency:'INR' }} </td>
            </ng-container>
            <ng-container matColumnDef="p_refferal_id">
                <th mat-header-cell *matHeaderCellDef>Referral Id</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_refferal_id }} </td>
            </ng-container>
            <ng-container matColumnDef="p_reffered_id">
                <th mat-header-cell *matHeaderCellDef>Referred Id</th>
                <td mat-cell *matCellDef="let partner"> {{ partner.p_reffered_id }} </td>
            </ng-container>
            <ng-container matColumnDef="isVerify">
                <th mat-header-cell *matHeaderCellDef>Verify</th>
                <td mat-cell *matCellDef="let partner" [ngStyle]="{'color': partner.isVerify === 1 ? 'green' : 'red'}">
                    {{partner.isVerify === 1? 'Yes':'No'}}</td>
            </ng-container>
            <ng-container matColumnDef="isBlocked">
                <th mat-header-cell *matHeaderCellDef>Block</th>
                <td mat-cell *matCellDef="let partner" [ngStyle]="{'color': partner.isBlocked === 1 ? 'green' : 'red'}">
                    {{partner.isBlocked === 1? 'Yes':'No'}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let partner">
    
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openViewPartnerDialog(partner)">
                            <mat-icon>visibility</mat-icon> View
                        </button>
                        <button mat-menu-item (click)="gotoAccountsection()">
                            <mat-icon>account_circle</mat-icon> Account
                        </button>
                        <button mat-menu-item (click)="downLoadPartnershipBond()">
                            <mat-icon>cloud_download</mat-icon> Partner Bond
                        </button>
                    
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let partner; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
  
  
