<div class="details-container">
  <div class="back-button">
    <mat-icon class="back-icon" (click)="gotoHome()" style="cursor: pointer;">arrow_back</mat-icon>
    <p>My details</p>
  </div>
  <div class="card-container">
    <div class="cards-div">
      <div class="card-header">
        <p>Profile</p>
        <button class="threedot" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <hr>
      <div class="card-content">
        <div class="name-div">
          <p>Full name</p>
          <h6>{{ partner?.p_name }}
            {{ partner?.p_lname }}</h6>
        </div>
        <div class="name-div">
          <p>Email</p>
          <h6>{{partner?.p_email}}</h6>
        </div>
        <div class="name-div">
          <p>Phone</p>
          <h6>{{partner?.p_phone}}</h6>
        </div>
        <div class="name-div">
          <p>Address</p>
          <h6>{{partner?.p_address}}</h6>
        </div>
        <div class="name-div">
          <p>Liquidity</p>
          <h6>{{partner?.p_liquidity | currency : "INR"}}</h6>
        </div>
        <div class="name-div">
          <p>Referral Id</p>
          <h6>{{partner?.p_refferal_id}}</h6>
        </div>
        <div class="name-div">
          <p>Referred Id</p>
          <h6>{{partner?.p_reffered_id}}</h6>
        </div>
        <div class="name-div">
          <p>Verify</p>
          <h6 [ngStyle]="{ color: partner?.isBlocked === 1 ? 'green' : 'red' }">{{ partner?.isBlocked === 1 ? "Yes" : "No" }}</h6>
        </div>
        <div class="name-div">
          <p>Block</p>
          <h6 [ngStyle]="{ color: partner?.isBlocked === 1 ? 'green' : 'red' }">{{ partner?.isBlocked === 1 ? "Yes" : "No" }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-card-actions>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openViewPartnerDialog(partner)">
      <mat-icon>visibility</mat-icon> View
    </button>
    <button mat-menu-item (click)="downLoadPartnershipBond()">
      <mat-icon>cloud_download</mat-icon> Partner Bond
    </button>
    <button mat-menu-item (click)="queryDetails()">
      <mat-icon>search</mat-icon> Your Query
    </button>
  </mat-menu>
</mat-card-actions>
