.detail-heading {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 340px;
  margin-top: -46px;
}

.large-expand {
  overflow-x: auto;
  margin-top: 5px;
  padding: 20px;
  margin-left: 550px;
  width: 600px;
  height: 100%;
}
.back-icon {
  cursor: pointer;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem; 
  color: #333
}


.paragraph p{
  margin-left: 15px;
  margin-top: 15px;
}
.key {
  font-weight: bold;
  color: #555;
  margin-right: 5px;
}

.value {
  color: #666;
}


.partner-card {
  width: 100%;
}

.threedot {
  position: absolute;
  top: 10px;
  right: 10px;
}



.pdf-prmat {
  margin-left: 350px;
  padding: 20px;
}


.hidden-content {
  display: none;
}

@media (max-width: 768px) {
  .large-expand {
    margin-left: 0;
  }
  .detail-heading {
    margin-left: 15px;
    margin-top: 100px;
  }
}
