<div class="tech-team-wrapper">
    <div class="teach-team-container">
        <h1 class="team-heading">Founder</h1>
        <div class="image-container">
            <div class="member-name-box #1">
                <img src="../../../../assets/founder/founder.jpeg" alt="" width="200" height="200" style="border-radius: 100%;">
                <p> J. Bose</p>
            </div>
            <div class="member-name-box #2">
                <img src="../../../../assets/founder/HR.jpeg" alt="" width="200" style="border-radius: 100%;">
                <p>A. Das</p>
            </div>
        </div>

    </div>
</div>
