<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">

        <div class="d-flex justify-content-between">
          <span class="fa fa-bars"></span>
          <span>CENTUM WORLD</span>
        </div>
      </label>

    </h2>

    <div class="user-wrapper">
      <button mat-button class="loin_button" [matMenuTriggerFor]="menu"><img src="assets/image/profile.png" alt=""
          width="50px" height="50px"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item data-toggle="modal" data-target="#myProfileDetails">Profile</button>
        <button mat-menu-item data-toggle="modal" data-target="#memberSummary">Summary</button>
        <a href="" mat-menu-item (click)="logOut()">Log Out</a>
      </mat-menu>
      <div>

        <small style="color: crimson;">{{displayUserId}}</small>
      </div>
    </div>
  </header>

  <main>

    <div *ngIf="!profileDetails" class="cards">
      <div class="card-single">
        <div>
          <h6>Profile</h6>
          <span>See your profile!</span>

        </div>

        <!-- <div class="fa fa-eye" (click)=viewList()></div> -->
        <div class="icon" (click)="memberDetails()">
          <span>View</span>
        </div>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#addBankDetail">
          <i class="fa fa-bank"></i>
        </a>
      </div>

      <div class="card-single">
        <div>
          <h6>User ID {{displayUserId}}</h6>
          <span>Refferal ID &nbsp;<a href="/partner-signup?refferId={{displayMemberRefferalId}}"
              target="_blank">{{displayMemberRefferalId}}</a></span>
          <!-- <span>My refferal id <a href="/member-signup/?refferId={{displayMemberRefferalId}}" target="_blank">{{displayMemberRefferalId}}</a></span> -->
        </div>
      </div>

      <!-- <div class="card-single">
        <div>
          <h6>Wallet</h6>
          <span>Each day transaction!</span>
        </div>
        <div data-toggle="modal" data-target="#memberEachDayWalletDeposite">
          <div class="icon"><span>View</span></div>
        </div>
      </div> -->



      <!-- <div class="card-single">
        <div>
          <h6>Member Team</h6>
          <span></span>
        </div>
        <div data-toggle="modal" data-target="#myTeamUseMyRefferalId">
          <div class="icon">
           <span>View</span>
          </div>
        </div>
      </div> -->

      <div class="card-single">
        <div>
          <h6>Partner Team</h6>
          <span></span>
        </div>
        <div data-toggle="modal" data-target="#myTeamUseMyRefferalIdForPartner">
          <div class="icon">
            <span>View</span>
          </div>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Transaction</h6>
          <span>Total Wallet</span>
        </div>
        <div style="font-weight: bold; font-size:medium;">{{memberTotalWalletOfEachMonth | currency: 'INR'}}</div>
      </div>

      <div class="card-single">
        <div>
          <h6>Withdrawal Request</h6>

        </div>
        <!-- <div data-toggle="modal" data-target="#memberWithdrawalRequest">
          <div class="icon">
            <span>View</span>
          </div>
        </div> -->
        <div (click)="viewWithdrawalRequestList()">
          <div class="icon">
            <span>View</span>
          </div>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Withdrawal success</h6>

        </div>
        <!-- <div data-toggle="modal" data-target="#eachMonthWithdrawalHistory">
          <div class="icon">
            <span>View</span>
          </div>
        </div> -->
        <div data-toggle="modal" (click)="viewWithdrawalSuccessList()">
          <div class="icon">
            <span>View</span>
          </div>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h6>Transaction</h6>
          <span>Total Withdrawal</span>
        </div>
        <div style="font-size:medium; font-weight: bold;">{{paidAmount | currency:'INR'}}</div>
      </div>


    </div>

    <div *ngIf="profileDetails">
      <app-member-portal-details></app-member-portal-details>
    </div>


  </main>
</div>



<!-- Add member Bank details -->
<div class="modal fade" id="addBankDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Bank Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="holderName">A/c holder name</label>
            <input type="text" class="form-control" [(ngModel)]="bankDetails.holder_name" id="holderName"
              placeholder="A/c holder name">

          </div>

          <div class="form-group col-md-6">
            <label for="ifsc">IFSC Code</label>
            <input type="text" class="form-control" [(ngModel)]="bankDetails.ifsc_code" id="ifsc"
              placeholder="IFSC Code">

          </div>
        </div>

        <div class="form-group">
          <label for="account_no">A/c no.</label>
          <input type="text" class="form-control" [(ngModel)]="bankDetails.account_no" id="account_no"
            placeholder="Account number">

        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="bank_name">Bank name</label>
            <input type="text" id="bank_name" [(ngModel)]="bankDetails.bank_name" class="form-control"
              placeholder="Bank name">
          </div>

          <div class="form-group col-md-6">
            <label for="bank_branch">Branch name</label>
            <input type="text" id="bank_branch" [(ngModel)]="bankDetails.branch_name" class="form-control"
              placeholder="Branch name">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="addMemberBankDetails()">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- My team member detail using my refferal id model-->



<div class="modal fade" id="myTeamUseMyRefferalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">My Reffer Members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light table-responsive">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Member Name</th>
              <th scope="col">User ID</th>
              <th scope="col">Joining Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of myTeamDetails; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{data.m_name}}</td>
              <td>{{data.m_userid}}</td>
              <td>{{data.m_doj| date}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- create mining partner team use members refferal id -->
<div class="modal fade" id="myTeamUseMyRefferalIdForPartner" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">My Reffer Mining Partner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light table-responsive">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Partner Name</th>
              <th scope="col">User ID</th>
              <th scope="col">Joining Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of memberRefferalIdToPartner; let i = index">
              <th>{{i+1}}</th>
              <td>{{data.p_name}}</td>
              <td>{{data.p_userid}}</td>
              <td>{{data.p_dop | date}}</td>

              <td><button class="btn btn-primary" (click)="fetchPartnerDetails(data.p_userid)" data-toggle="modal"
                  data-target="#partnerPaymentDetails">View</button></td>

            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- member each day wallet deposite -->

<div class="modal fade" id="memberEachDayWalletDeposite" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eech Day Wallet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light table-responsive">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Amount</th>
              <th scope="col">Credit Date</th>
              <th scope="col">Refferal</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of memberEachDayWallet; let i = index">
              <th>{{i+1}}</th>
              <td>{{data.walletAmount |currency:'INR'}}</td>
              <td>{{data.wallet_update_date | date:'medium'}}</td>
              <td>{{data.reffer_user}}</td>


            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<!-- Each month Withdrawal request History-->

<div class="modal fade" id="eachMonthWithdrawalHistory" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Approved Withdrawal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light table-responsive">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Amount</th>
              <th scope="col">Service charge(5%)</th>
              <th scope="col">Paid Amount</th>
              <th scope="col">Request Date</th>
              <th scope="col">Approved Date</th>
              <th scope="col">Refferal</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of memberWithdrawalHistoy; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.member_wallet | currency:'INR'}}</td>
              <td>{{(data.member_wallet*5)/100 | currency:'INR'}}</td>
              <td>{{(data.member_wallet- (data.member_wallet*5)/100) | currency:'INR'}}</td>
              <td>{{data.request_date|date:'medium'}}</td>
              <td>{{data.approve_date|date:'medium'}}</td>
              <td>{{data.reffer_p_userid}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- member withdrawal request -->
<div class="modal fade" id="memberWithdrawalRequest" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Withdrawal Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-light table-responsive">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Amount</th>
              <th scope="col">Service charge(5%)</th>
              <th scope="col">Payble Amount</th>
              <th scope="col">Request Date</th>
              <th scope="col">Referal</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of memberRequest; let i = index">
              <td>{{i+1}}</td>
              <td>{{data.member_wallet | currency:'INR'}}</td>
              <td>{{(data.member_wallet*5)/100 | currency:'INR'}}</td>
              <td>{{(data.member_wallet-(data.member_wallet*5)/100) | currency:'INR'}}</td>
              <td>{{data.request_date | date:'medium'}}</td>
              <td>{{data.reffer_p_userid}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- partner payment details -->

<div class="modal fade" id="partnerPaymentDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Partner Payment Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="payment-details">
          <div class="left">
            <div class="dop">
              <span>Partner ID</span>: <p>{{partner_userid}}</p>
            </div>
            <div class="dop">
              <span>Date of Partner</span>: <p>{{partnerDop | date}}</p>
            </div>
            <div class="dop">
              <span>Total Liquidity</span>: <p>{{partnerLiquidity | currency:'INR'}}</p>
            </div>
            <div class="dop">
              <span>Monthly Payout</span>: <p>{{lastPayOutAmount |currency:'INR'}}</p>
            </div>
            <div class="dop">
              <span>Payout Tenure</span>: <p>12 TN</p>
            </div>
            <div class="dop">
              <span>Paid Tenure</span>: <p>{{partner_month_count}} TN</p>
            </div>
          </div>
          <div class="right">
            <div class="dop">
              <span>Remaining Tenure</span>: <p>{{12 - partner_month_count}} TN</p>
            </div>
            <div class="dop">
              <span>Last Payout</span>: <p>{{lastPayOutMonth | date : 'medium'}}</p>
            </div>
            <div class="dop">
              <span>Next Payout</span>: <p>15 to 22nd (Of Every Month)</p>
            </div>
            <div class="dop" *ngIf="partnerStatus">
              <span>Status</span>: <p style="color:green;">Active</p>
            </div>
            <div class="dop" *ngIf="partner_month_count === 12 ">
              <span>Status</span>: <p style="color: red;">Closed</p>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<!-- My profile -->

<div class="modal fade" id="myProfileDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">My Profile Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="payment-details">
          <div class="left">
            <div class="dop">
              <span>Name</span>: <p>{{profilePopup.name}}</p>
            </div>
            <div class="dop">
              <span>Phone</span>: <p>{{profilePopup.phone}}</p>
            </div>
            <div class="dop">
              <span>Address</span>: <p>{{profilePopup.address}}</p>
            </div>
            <div class="dop">
              <span>Reffered ID</span>: <p>{{profilePopup.reffered_id}}</p>
            </div>
            <div class="dop">
              <span>State</span>: <p>{{profilePopup.state}}</p>
            </div>
            <div class="dop">
              <span>Email</span>: <p>{{profilePopup.email}}</p>
            </div>
          </div>
          <div class="right">
            <div class="dop">
              <span>Designation</span>: <p>{{profilePopup.designation}}</p>
            </div>
            <div class="dop">
              <span>Qualification</span>: <p>{{profilePopup.qualification}}</p>
            </div>
            <div class="dop">
              <span>Gender</span>: <p>{{profilePopup.gender}}</p>
            </div>
            <div class="dop">
              <span>Experience</span>: <p>{{profilePopup.exp}}</p>
            </div>

            <div class="dop">
              <span>DOB</span>: <p>{{profilePopup.dob | date }}</p>
            </div>
            <div class="dop">
              <span>DOJ</span>: <p>{{profilePopup.doj | date}}</p>
            </div>
            <div class="dop">
              <span>User ID</span>: <p>{{profilePopup.userid}}</p>
            </div>
            <div class="dop">
              <span>Refferal ID</span>: <p>{{profilePopup.refferal_id}}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- My Summary -->


<div class="modal fade" id="memberSummary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Summary Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-hover table-light table-responsive">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">User ID</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of memberRefferalIdToPartner; let i = index">
              <th>{{i+1}}</th>
              <td>{{data.p_userid}}</td>
              <td><button class="btn btn-primary" (click)="fetchPartnerLiquidity(data.p_userid)" data-toggle="modal"
                  data-target="#memberSummaryDetails">View</button></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Member Summary Details -->

<div class="modal fade" id="memberSummaryDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">My Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="summry d-flex">
          <p>Monthly Payout</p>:&nbsp;<span style="font-weight: bold;">{{monthlyPayment|currency:"INR"}}</span>
        </div>
        <div class="summry d-flex">
          <p>Perday Payout</p>:&nbsp;<span style="font-weight: bold;">{{perDayAmount|currency:"INR"}}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>