
.table thead tr th{
    font-size: small;
    font-family:Calibri;
}
.table tbody tr td{
    font-size: small;
    font-family: sans-serif;
    background: honeydew;
}
.action{
    display: flex;
    
}
.container a{
    background: rgb(89, 0, 255);
    color: white;
    text-decoration: none;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
}
.veiw-button{
    color: white;
}
.action span{
    cursor: pointer;
    color: rgb(198, 219, 9);
    width: 50px;
    height: 25px;
    text-align: center;
    background: blue;
    border-radius: 5px;

}
