.mat-dialog-title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #5476f2;
    margin-left: -24px;
    margin-right: -23px;
    padding-left: 20px;
    color: #fff;
}
.custom-heading {
    color:#fefefe;
}

.franchise-documets-modal-ok{
    background: #5476f2;
    color:#fff;
}