<div class="logo">
    <img src="assets/image/clogo.png" alt="" class="center">
</div>
<div class="container">
    <h1> CENTUM WORLD MINING PARTNER ECCOSYSTEM </h1>
    <p>SHO Sign Up </p>

    <!-- <form [formGroup]="stateSignUpForm" (ngSubmit)="addPartnerData(stateSignUpForm)">
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label for="name"> Name </label>
                    <input type="text" id="name" name="name" formControlName="fname" placeholder="Enter first Name">
                    <span style="color: red;"
                        *ngIf="stateSignUpForm.get('fname').invalid && stateSignUpForm.get('fname').touched">
                        First name is required
                    </span>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label for="lname">Last Name </label>
                    <input type="text" id="lname" name="lname" placeholder="Enter last Name">
                    <span style="color: red;"
                        *ngIf="stateSignUpForm.get('lname').invalid && stateSignUpForm.get('lname').touched">
                        Last name is required
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div form-group>
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" formControlName="phone" placeholder="Enter Phone">
                    <span style="color: red;"
                        *ngIf="stateSignUpForm.get('phone').invalid && stateSignUpForm.get('phone').touched">
                        <small>(*Must start with +91)</small>
                    </span>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" formControlName="email" placeholder="Enter email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <mat-select [formControl]="toppings" multiple class="form-control">
                            <mat-option *ngFor="let state of allStates"
                                [value]="state.state">{{state.state}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label for="dob">Gender</label>
                    <input type="date" name="gender" formControlName="gender" id="dob">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label for="adharCard">Aadhar Card</label>
                    <input type="file" id="adharCard" name="aadhar" formControlName="aadhar"
                        placeholder="Select aadhar photo">
                </div>
            </div>
            <div class="column">
                <div class="form-group">
                    <label for="panCard">PAN Card</label>
                    <input type="file" id="panCard" name="pan" formControlName="pan" placeholder="Select aadhar photo">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="userid">User ID</label>
                    <input type="text" class="form-control" formControlName="stateid" id="userid"
                        placeholder="Entr user id">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" formControlName="password" id="password"
                        placeholder="Enter password">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="footer">
                <div class="account">
                    <span>Have an account?</span><a href="/mininglogin">Login</a>
                </div>
                <div>
                    <button type="submit" class="save">Register</button>
                </div>

            </div>
        </div>
    </form> -->

    <form class="example-form">
        <div class="row">
            <div class="column">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First name" [formControl]="nameFormControl"
                        [errorStateMatcher]="matcher">
                    <mat-hint>This is your first name</mat-hint>
                    <mat-error *ngIf="nameFormControl.hasError('required')">First name is
                        <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last name" [formControl]="lastNameFormControl"
                        [errorStateMatcher]="matcher">
                    <mat-hint>This is your last name</mat-hint>
                    <mat-error *ngIf="lastNameFormControl.hasError('required')">Last name is
                        <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mobile number" [formControl]="mobileFormControl"
                        [errorStateMatcher]="matcher">
                    <mat-hint>This is your mobile number</mat-hint>
                    <mat-error *ngIf="mobileFormControl.hasError('required')">Mobile number is
                        <strong>required</strong></mat-error>
                    <mat-error *ngIf="mobileFormControl.hasError('invalidMobileNumber')">Mobile number must be 10
                        digits</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field class="example-full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select placeholder="Select gender" [formControl]="genderFormControl">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field class="example-full-width">
                    <mat-label>State</mat-label>
                    <mat-select [formControl]="stateFormControl" multiple>
                        <mat-option *ngFor="let state of allStates"
                            [value]="state.state">{{state.state}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Profile Image (JPG or PNG)" disabled>
                  <input type="file" id="profileImage" name="profileImage" (change)="onFileSelected($event)" accept=".jpg,.png">
                </mat-form-field>
                <mat-error *ngIf="fileTypeInvalid">
                  Please upload a JPG or PNG file.
                </mat-error>
              </div>              
        </div>
    </form>
</div>