@import url("https://fonts.fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all ease-in-out 200ms;
}

.state-signup-wrapper{
    height: 100vh;
    width: 100vw;
}

.state-signup-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.state-signup-left{
    background: rgba(91, 134, 229, 0.51);
    height: 100%;
    width: 30%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px ;  
    box-shadow: rgba(0, 0, 0, 0.465) 1.95px 1.95px 2.6px;
}

.faadhar-input, .baadhar-input, .pan-input{
    width: 30%;
}

.aadhar-box{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.s-company-name{
    display: flex;
    align-items: center;
}

.s-company-name span{
    text-transform: uppercase;
    color: #3a6fe2;
    font-weight: 900;
    font-size: 2rem;
    cursor: pointer;
}

.world-text{
    color: white !important;
}

.signup-subtitle-text{
    text-align: center;
    font-weight: 600;
}

.state-signup-right{
    width: 70%;
    padding: 20px;
}

.state-signup-right-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line{
    width: 200px;
    height: 5px;
    background-color: rgb(58, 100, 216);
}

.state-signup-form{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name-input, .lname-input{
    width: 50%;
}

.email-input, .phone-input{
    width: 100%;
}

.name-box{
    display: flex;
    /* gap: 1rem; */
}

.aadharBackImage{
    width: max-content;
}

.signup-btn{
    border: none;
    background-color: #3a6fe2;
    width: 100%;
    padding: 8px 12px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}

.have-account{
    width: 100%;
    font-weight: 700;
}

@media only screen and (max-width: 1024px){
    .state-signup-container{
        flex-direction: column;
    }
    .state-signup-left{
        width: 100%;
        height: 30%;
        border-top-right-radius: 0px;
    border-bottom-right-radius: 0px ; 
    }
    .men-img{
        height: 150px;
        width: 150px;
    }
    .state-signup-right{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .state-signup-form{
        width: 100%;
    }
}