.mat-dialog-title {
    padding-top:10px;
    padding-bottom:10px;
    background-color: #5476f2;
    font-family:Calibri;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 20px;
    color: #fff;
    margin-top:-24px;
}

.mat-dialog-actions {
    margin-bottom: 0;
}