.mat-dialog-title {
    background-color: #104af6;
    color: #fbf9f9;
    font-size: 18px;
    font-weight: 600;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.custom-heading{
    display: flex;
    justify-content: space-between;
}
.close-btn mat-icon{
    margin-right: 13px;
    border-radius: 10px;
    background: red;
}