<div class="account-header">
   <p style="display: flex; justify-content: center; align-items: center;"><mat-icon (click)="goBack()">arrow_back</mat-icon>&nbsp;SHO Account details</p>
   <div class="wallet-div">{{myWallet | currency:"INR"}}</div>
</div>
<div class="account-content">
   <mat-tab-group animationDuration="2000ms" class="example-stretched-tabs" (selectedIndexChange)="tabChanged($event)">
      <mat-tab label="Request withdrawal">
         <div class="bakk-div">
            <!-- Check if shoRequestHistory is empty -->
            <ng-container *ngIf="shoRequestHistory.length === 0; else shoRequestList">
               <mat-card class="example-card">
                  <mat-card-content>
                     <p>No request withdrawals found.</p>
                  </mat-card-content>
               </mat-card>
            </ng-container>

            <!-- Display the list of request withdrawals if shoRequestHistory is not empty -->
            <ng-template #shoRequestList>
               <mat-card class="example-card" *ngFor="let data of shoRequestHistory">
                  <mat-card-header>
                     <div mat-card-avatar class="example-header-image"></div>
                     <mat-card-title>Bank details</mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                  <mat-card-content class="single-line-content">
                     <div class="bank-details">
                        <h2>Id</h2><strong>{{data.userId}} </strong>
                     </div>
                     <div class="bank-details">
                        <h2>Bank name</h2><strong>{{data.paymentBy }}</strong>
                     </div>
                     <div class="bank-details">
                        <h2>Amount</h2><strong>{{data.amount | currency:'INR':'symbol':'1.2-2'}}</strong>
                     </div>
                     <div class="bank-details">
                        <h2>Request date</h2><strong>{{data.requestDate | date}} </strong>
                     </div>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-card-actions>
                     <button mat-button style="background: green;">Request</button>
                     <button mat-button style="background: red;" (click)="approved(data.id)">Approve</button>
                  </mat-card-actions>
               </mat-card>
            </ng-template>
         </div>
      </mat-tab>
      <mat-tab label="Approved withdrawal">
         <div class="bakk-div">
            <!-- Check if approvedRequest is empty -->
            <ng-container *ngIf="approvedRequest.length === 0; else approvedRequestList">
               <mat-card class="example-card">
                  <mat-card-content>
                     <p>No approved withdrawals found.</p>
                  </mat-card-content>
               </mat-card>
            </ng-container>

            <!-- Display the list of approved withdrawals if approvedRequest is not empty -->
            <ng-template #approvedRequestList>
               <mat-card class="example-card" *ngFor="let data of approvedRequest">
                  <mat-card-header>
                     <div mat-card-avatar class="example-header-image"></div>
                     <mat-card-title>Bank details</mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                  <mat-card-content class="single-line-content">
                     <div class="bank-details">
                        <h2>Id</h2><strong>{{data.userId}} </strong>
                     </div>
                     <div class="bank-details">
                        <h2>Bank name</h2><strong>{{data.bankName}}</strong>
                     </div>
                     <div class="bank-details">
                        <h2>Amount</h2><strong>{{data.amount | currency:'INR':'symbol':'1.2-2'}}</strong>
                     </div>
                     <div class="bank-details">
                        <h2>Request date</h2><strong>{{data.requestDate | date}} </strong>
                     </div>
                     <div class="bank-details">
                        <h2>Approved date</h2><strong>{{data.approveDate | date}} </strong>
                     </div>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-card-actions>
                     <button mat-button style="background: rgb(0, 255, 38);">Approved successful</button>
                  </mat-card-actions>
               </mat-card>
            </ng-template>
         </div>
      </mat-tab>
      <mat-tab label="Bank details">
         <div class="bakk-div">
            <!-- Check if bankDetails is empty -->
            <ng-container *ngIf="bankDetails.length === 0; else bankDetailsList">
               <mat-card class="example-card">
                  <mat-card-content>
                     <p>No bank details found.</p>
                  </mat-card-content>
               </mat-card>
            </ng-container>

            <!-- Display the list of bank details if bankDetails is not empty -->
            <ng-template #bankDetailsList>
               <mat-card class="example-card" *ngFor="let data of bankDetails">
                  <mat-card-header>
                     <div mat-card-avatar class="example-header-image"></div>
                     <mat-card-title>Bank details</mat-card-title>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                  <mat-card-content class="single-line-content">
                     <div class="bank-details">
                        <h2>Holder name</h2><strong>{{data.holder_name}} </strong>
                     </div>
                     <div class="bank-details">
                        <h2>Bank name</h2><strong>{{data.bank_name}}</strong>
                     </div>
                     <div class="bank-details">
                        <h2>Branch name</h2><strong>{{data.branch_name}}</strong>
                     </div>
                     <div class="bank-details">
                        <h2>Account name</h2><strong>{{data.account_no}} </strong>
                     </div>
                     <div class="bank-details">
                        <h2>IDSC Code</h2><strong>{{data.ifsc_code}} </strong>
                     </div>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-card-actions>
                     <button mat-button>Active</button>
                     <button mat-button>UPI</button>
                  </mat-card-actions>
               </mat-card>
            </ng-template>
         </div>
      </mat-tab>
   </mat-tab-group>
</div>