.header {
  display: flex;
  justify-content: start;
  margin-top: 100px;
}
.header p {
  font-size: 20px;
  font-weight: 600;
  font-family:'Roboto',sans-serif;
  text-align: center;
  margin: -4px 0 0 5px;
}
.bakk-div {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}
.example-card {
  margin: 10px;
  width: 330px;
}

.bank-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

  
.bank-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.bank-details h2 {
  font-weight: 400;
  color: #9d9a9a;
  font-size: small;
}

#id{
    margin-top: 12px;
}

.example-header-image{
    background-image: url("/assets/image/bank.jpg");
    background-size: cover;
}
.example-card h2,
.example-card strong,
.example-card p,
.example-card button {
  font-family: 'Roboto', sans-serif;
}

mat-card-header mat-card-title {
  font-family: 'Roboto', sans-serif;
}


@media (max-width: 767px) {
  .bakk-div {
    flex-direction: column;
    align-items: center;
  }
  .referral-payout {
    margin-top: 100px;
  }
  .account-section,
  .referral-payout {
    margin-left: 0;
  }

  .example-card {
    width: 100%;
  }
  .withdrwal-button {
    width: 113px;
    font-size: 12px;
  }
  .header P {
    font-size:14px;
  }
}
