
.mat-dialog-title {
    background-color: #5476f2;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family:Calibri;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:-24px;
}
.header-div{
    display:flex;
    justify-content:space-between;
    width:400px;
}
.header-div p {
    font-family: 'Roboto';
}

.form-div form{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction:column;
    overflow:auto;
}

@media only screen and (max-width: 600px) {
    .header-div {
        width: auto;
    }
}
