/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

html,
/* body {
  height: 100%;
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  font-family: Calibri;
}

:host ::ng-deep .modal-dialog {
  max-width: 100%;
  overflow-x: scroll;
}

.modal dialog{
  overflow-y: scroll;
}
/* .modal-dialog {
  overflow-x: scroll;
} */

.modal::-webkit-scrollbar {
  display: none;
}

.myStateDialogClass {
  .mat-dialog-container {
    border-radius: 20px;
    padding-top: 0px;
  }
}

.myStateDialogClass .mat-dialog-content {
  overflow: hidden !important;
}

.myEditDialogClass {
  width: 50%;
  height: 70%;
  .mat-dialog-container {
      border-radius: 20px;
      padding-top: 0px;
      
  }
}

@media screen and (max-width: 768px) {
  .myEditDialogClass{
    width: 100%;
  }
}


