/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-header button{
    padding: 5px;
    color: red;
    background: rgb(21, 49, 209);
    border-radius: 20%;
}