<div class="user-login-wrapper">
  <div class="user-login-container">
    <div class="user-left-section">
      <div class="left-container">
        <div class="company-name">
          <img
            src="../../../assets/image/clogo.png"
            alt=""
            height="100"
            width="100"
          />
          <p>Centum World</p>
        </div>
        <img
          src="../../../assets/image/Illustration.png"
          alt=""
          class="Illustrationbg"
        />
        <div>
          <p class="subtitle-text">
            Unlock the Depth of Centumo Member Login
          </p>
        </div>
      </div>
    </div>
    <div class="user-right-section">
      <div class="user-right-container">
        <h2>Welcome back, Member to the CENTUMO MINING RIG</h2>
        <div class="login-input">
          <form [formGroup]="memberLoginForm">
            <mat-form-field appearance="outline" class="name-input">
              <mat-label>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-person"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                  /></svg
                >Member ID</mat-label
              >
              <input matInput formControlName="member_id" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="name-input">
              <mat-label>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-lock-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"
                  /></svg
                >Password</mat-label
              >
              <input
                matInput
                [type]="passwordFieldType"
                formControlName="member_password"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="togglePasswordVisibility()"
              >
                <mat-icon>{{ showPasswordIcon }}</mat-icon>
              </button>
            </mat-form-field>
            <div class="btn-container">
              <div>
                <input type="checkbox" id="remeber-me" />
                <label for="remeber-me">Remember me</label>
              </div>
              <button class="admin-login-btn" (click)="submit(memberLoginForm)">
                <ng-container *ngIf="spin; else registerText">
                  <mat-spinner diameter="30"></mat-spinner>
                </ng-container>
                <ng-template #registerText>
                  <p  class="btn-text">Login</p>
                </ng-template>
                
              </button>
            </div>
          </form>
        </div>
        <!-- <div class="line"></div> -->
        <p>
          No account yet?
          <a style="color: brown;" href="javascript:void(0)" class="singup-text" (click)="SignUpMember()"
            >SignUp</a> &nbsp;&nbsp;
            <a style="color: blueviolet;gap:'5px'; " href="javascript:void(0)" class="singup-text" (click)="backToHome()">Home</a>&nbsp;&nbsp;
            <a style="color: brown;" href="javascript:void(0)" class="singup-text1" (click)="SignUp()"
            >SignUp1</a> 
        </p>
        <!-- <p class="password-text">
          Having issue with password?
          <a
            href="javascript:void(0)"
            class="singup-text"
            data-toggle="modal"
            data-target="#exampleModal"
            >Forgot Password</a>
        </p> -->
      </div>
      