.example-card {
  margin-top: 90px;
}

.example-header-image {
  background-image: url("/assets/image/register.jpg");
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  background-color: #fcfcfe;
  padding: 20px;
  box-shadow: 0 2px 4px #d20d0d;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 0.5rem;
  min-width: 0;
}
.mat-form-field {
  width: 90%;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  form {
    width: 100%;
  }

  .card-actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .card-actions button {
    margin-bottom: 10px;
  }

  .mat-form-field {
    width: 100%;
  }
  .mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .example-header-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }

  .mat-card-title,
  .mat-card-subtitle {
    width: 100%;
  }
}
