<div class="register-container">
  <div class="image-container">
    <div class="logo">
      <img src="../../../assets/image/clogo.png" width="80px" height="80px" />
      <p>CENTUM WORLD</p>
    </div>
    <div class="image">
      <img src="../../../assets/image/signupui.gif" />
    </div>
  </div>
  <div class="form-container">
    <div class="heading">
      <img src="../../../assets/image/partnergif.gif" width="50%" height="200px"/>
    </div>
    <div class="main-form">
      <mat-tab-group
        mat-stretch-tabs
        class="example-stretched-tabs"
        (selectedTabChange)="tabChanged($event)"
      >
        <mat-tab label="Login" style="font-family:sans-serif;">
          <div class="form-content">
            <form
              [formGroup]="partnerLoginForm"
              (ngSubmit)="loginPartner(partnerLoginForm)"
            >
              <mat-form-field appearance="outline" class="input">
                <mat-label>Partner ID</mat-label>
                <input matInput formControlName="luser_id" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label> Password</mat-label>
                <input [type]="passwordFieldType" formControlName="lpassword" matInput required />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="togglePasswordVisibility()"
                  type="button"
                >
                  <mat-icon>{{ showPasswordIcon }}</mat-icon>
                </button>
              </mat-form-field>
              <button mat-raised-button class="custom-button" type="submit">
                <ng-container *ngIf="spin; else loginText">
                  <mat-spinner diameter="40"></mat-spinner>
                </ng-container>
                <ng-template #loginText>SIGN IN</ng-template>
              </button>
              <br>
              <div class="back" (click)="gotoDhasboard()"><mat-icon>home</mat-icon> <a href="javascrip:void(0)" style="text-decoration: none !important; color:#0000FF;">Back to home</a></div>
            </form>
          </div>
          <div class="bottom-section">
            <p>WE COLLABORATE - WE WORK - WE EARN - WE SHARE </p>
            <p>IaaS (Infrastructure as a Service )</p>
          </div>
        </mat-tab>
        <mat-tab label="Sign up">
          <div class="form-content">
            <form
              [formGroup]="partnerSignUpForm"
              (ngSubmit)="addPartnerData(partnerSignUpForm)"
            >
              <mat-form-field appearance="outline">
                <mat-label>Select referral type</mat-label>
                <mat-select [(value)]="role" (selectionChange)="onRoleChange($event)">
                  <mat-option>Select one</mat-option>
                  <mat-option value="OFFICIAL">Official ID</mat-option>
                  <mat-option value="MEMBER">Member</mat-option>
                  <mat-option value="FRANCHISE">Franchise</mat-option>
                  <mat-option value="BMM">BMM</mat-option>
                  <mat-option value="PARTNER">Partner</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Referral ID</mat-label>
                <input matInput formControlName="reffered_id" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput formControlName="name" />
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lname" />
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input
                  #phoneNumberInput
                  formControlName="phone"
                  matInput
                  id="phoneNumber"
                  placeholder="Phone"
                  type="tel"
                />
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Aadhaar number</mat-label>
                <input matInput formControlName="aadhar" />
                <mat-icon matSuffix>credit_card</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Enter your address</mat-label>
                <input matInput formControlName="address" />
                <mat-icon matSuffix>location_on</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" class="state-input">
                <mat-label>Select State</mat-label>
                <mat-select formControlName="state" (selectionChange)="onStateChange()">
                  <mat-option *ngFor="let state of states" [value]="state">{{
                    state
                    }}</mat-option>
                </mat-select>
              </mat-form-field>
 
              <!-- <mat-form-field appearance="outline">
                <mat-label>Enter your state</mat-label>
                <input matInput formControlName="state" />
                <mat-icon matSuffix>pin_drop</mat-icon>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="input">
                <mat-label>Date of birth</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="dob"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label>Date of Liquidity</mat-label>
                <input
                  matInput
                  [matDatepicker]="dopPicker"
                  formControlName="dop"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dopPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #dopPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Nominee full name</mat-label>
                <input matInput formControlName="nominee_name" />
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Nominee Aadhaar</mat-label>
                <input matInput formControlName="nominee_aadhar" />
                <mat-icon matSuffix>credit_card</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input
                  #phoneNumberInputNominee
                  formControlName="nominee_phone"
                  matInput
                  id="phoneNumber"
                  placeholder="Nominee phone"
                  type="tel"
                />
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label>Select Liquidity</mat-label>
                <mat-select formControlName="liquidity">
                  <mat-option>Select one</mat-option>
                  <mat-option value="1200000">12 Lakh</mat-option>
                  <mat-option value="600000">6 Lakh</mat-option>
                  <mat-option value="300000">3 Lakh</mat-option>
                  <mat-option value="200000">2 Lakh</mat-option>
                  <mat-option value="100000">1 Lakh</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label> Terms</mat-label>
                <input
                  matInput
                  required
                  value="12 Months Tenure"
                  formControlName="terms"
                  disabled
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Aadhaar front</mat-label>
                <input
                  matInput
                  type="text"
                  [value]="aadharImageName"
                  placeholder="No file chosen"
                  readonly
                />
                <input
                  type="file"
                  id="aadharImage"
                  (change)="onFileSelected($event, 'front')"
                  accept="image/*"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Aadhaar back</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="No file chosen"
                  readonly
                />
                <input type="file" (change)="onFileSelected($event, 'back')" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>PAN Card</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="No file chosen"
                  readonly
                />
                <input type="file" (change)="onFileSelected($event, 'pan')" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label>Partner ID</mat-label>
                <input matInput formControlName="user_id" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="input">
                <mat-label> Password</mat-label>
                <input
                  [type]="passwordFieldType"
                  formControlName="password"
                  matInput
                  required
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="togglePasswordVisibility()"
                  type="button"
                >
                  <mat-icon>{{ showPasswordIcon }}</mat-icon>
                </button>
              </mat-form-field>
              <mat-checkbox (change)="handleChange($event)" style="font-family: 'Roboto', sans-serif">I agree to the <span style="color: #3f51b5;font-family:  'Roboto', sans-serif; " (click)="privacyPolicy()">Privacy Policy</span></mat-checkbox>
              <br>
              <button mat-raised-button class="custom-button" type="submit" [disabled]="!privacy">
                <ng-container *ngIf="spin; else registerText">
                  <mat-spinner diameter="40"></mat-spinner>
                </ng-container>
                <ng-template #registerText>SIGN UP</ng-template>
              </button>
              <br>
              <div class="back" (click)="gotoDhasboard()"><mat-icon>home</mat-icon> <a href="javascrip:void(0) " style="text-decoration: none !important; color:#0000FF;">Back to home</a></div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>


