.back-to-home a{
    background: rgb(89, 0, 255);
    color: white;
    text-decoration: none;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
}
.marque {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: rgb(235, 23, 23);
    border: 1px solid #4a4a4a;
    z-index: -1;
}

.marque h4 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -moz-animation: bouncing-text 5s linear infinite alternate;
    -webkit-animation: bouncing-text 5s linear infinite alternate;
    animation: bouncing-text 10s linear infinite alternate;
}

@-moz-keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-50%);
    }
}

@-webkit-keyframes bouncing-text {
    0% {
        -webkit-transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(-50%);
    }
}

@keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.table thead tr th{
    font-size: small;
    font-family:'Times New Roman', Times, serif;
}
.table tbody tr td{
    font-size: small;
    font-family: sans-serif;
    background: honeydew;
}

 btn{
    background: red;
    color: #fefefe;
    text-align: center;
}

.content{
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: #da1e1e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}